<!DOCTYPE html>
<html>
<head>
    <title>Embed API Demo</title>
</head>
<body>

<!-- Step 1: Create the containing elements. -->

<section id="auth-button"></section>
<section id="view-selector"></section>
<h1>Flashlight</h1>
<div style="width:45%; float:left">
    <div id="chart-1-container"></div>
    <div id="chart-1-table"></div>
</div>
<div style="width:45%; float:right">
    <div id="chart-2-container"></div>
    <div id="chart-2-table"></div>
</div>

<!-- Step 2: Load the library. -->

<script>
    (function (w, d, s, g, js, fjs) {
        g = w.gapi || (w.gapi = {});
        g.analytics = {
            q: [], ready: function (cb) {
                this.q.push(cb)
            }
        };
        js = d.createElement(s);
        fjs = d.getElementsByTagName(s)[0];
        js.src = 'https://apis.google.com/js/platform.js';
        fjs.parentNode.insertBefore(js, fjs);
        js.onload = function () {
            g.load('analytics')
        };
    }(window, document, 'script'));
</script>

<script>
    gapi.analytics.ready(function () {

        // Step 3: Authorize the user.

        var CLIENT_ID = '450743819795-qomqelsahifp1upkd0bbu82ja7q9nkig.apps.googleusercontent.com';

        {#  gapi.analytics.auth.authorize({#}
        {#    container: 'auth-button',#}
        {#    clientid: CLIENT_ID,#}
        {#  });#}
        gapi.analytics.auth.authorize({
            'serverAuth': {
                'access_token': '{{ access_token }}'
            }
        });


        // Step 4: Create the view selector.

        var viewSelector = new gapi.analytics.ViewSelector({
            container: 'view-selector'
        });

        // Step 5: Create the timeline chart.

        var timeline = new gapi.analytics.googleCharts.DataChart({
            reportType: 'ga',
            query: {
                'ids': 'ga:136832902',
                'dimensions': 'ga:date',
                'metrics': 'ga:sessions',
                'start-date': '7daysAgo',
                'end-date': 'today',
                pieHole: 4/9,
            },
            chart: {
                type: 'LINE',
                container: 'chart-1-container'
            }
        });
        var table = new gapi.analytics.googleCharts.DataChart({
            reportType: 'ga',
            query: {
                'ids': 'ga:136832902',
                'dimensions': 'ga:date',
                'metrics': 'ga:sessions',
                'start-date': '7daysAgo',
                'end-date': 'today',
            },
            chart: {
                type: 'TABLE',
                container: 'chart-1-table'
            }
        });


        var timeline2 = new gapi.analytics.googleCharts.DataChart({
            reportType: 'ga',
            query: {
                'ids': 'ga:136832902',
                'dimensions': 'ga:date',
                'metrics': 'ga:goalStartsAll',
                'start-date': '7daysAgo',
                'end-date': 'today',
                pieHole: 4/9
            },
            chart: {
                type: 'LINE',
                container: 'chart-2-container'
            }
        });
        var table2 = new gapi.analytics.googleCharts.DataChart({
            reportType: 'ga',
            query: {
                'ids': 'ga:136832902',
                'dimensions': 'ga:date',
                'metrics': 'ga:goalStartsAll',
                'start-date': '7daysAgo',
                'end-date': 'today'
            },
            chart: {
                type: 'TABLE',
                container: 'chart-2-table'
            }
        });

        // Step 6: Hook up the components to work together.

        {#  gapi.analytics.auth.on('success', function(response) {#}
        {#    viewSelector.execute();#}
        {#  });#}
        {##}
        {#  viewSelector.on('change', function(ids) {#}
        {#    var newIds = {#}
        {#      query: {#}
        {#        ids: ids#}
        {#      }#}
        {#    }#}
        {#    timeline.set(newIds).execute();#}
        {#  });#}
        timeline.execute();
        table.execute();
        timeline2.execute();
        table2.execute();

    });
</script>
</body>
</html>