@charset "utf-8";
/* CSS Document */

* {
    padding: 0%;
    margin: 0%;
}
@font-face {
    font-family: OpenSansCondBold;
    src: url('../fonts/OpenSans-CondBold.ttf');
}
@font-face {
    font-family: opensansbold;
    src: url('../fonts/OpenSans-Bold.ttf');
}
@font-face {
    font-family: opensansemibold;
    src: url('../fonts/OpenSans-Semibold.ttf');
}
@font-face {
    font-family: opensansextrabold;
    src: url('../fonts/OpenSans-ExtraBold.ttf');
}
@font-face {
    font-family: opensansregular;
    src: url('../fonts/OpenSans-Regular.ttf');
}
body {
    padding: 0%;
    margin: 0%;
    font-size: 13px;
}
.bodycolour {
    /*background:#fff9a5; */
    
    overflow: hidden;
}
a {
    text-decoration: none !important;
}
p {
    font-size: 14px;
    line-height: 23px;
    padding: 0%;
    margin: 0%;
}
strong {
    font-weight: bold;
}
.logo_wrapper {
    margin: 15px 0;
}
.logopart {
    padding: 0%;
    margin: 0%;
}
.whitepart {
    border: 4px double #b2ae73;
    box-shadow: 0px 0px 10px #888888;
    border-radius: 28px;
    background: #FFF;
    padding: 2% !important;
}
.textone {
    color: #b58033;
    font-family: OpenSansCondBold;
    font-size: 44px;
    line-height: 53px;
    padding-top: 0;
    text-align: center;
    margin-top: 0;
    margin-bottom: 18px;
}
.thankyou {} .greenbackground {
    padding: 1% 1%;
    margin: 0%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d8ed27+0,9ecb11+50,72b30e+100 */
    
    background: rgb(168, 115, 40);
    /* Old browsers */
    
    background: -moz-linear-gradient(top, rgba(168, 115, 40, 1) 0%, rgba(145, 98, 35, 1) 78%, rgba(135, 89, 33, 1) 100%);
    /* FF3.6-15 */
    
    background: -webkit-linear-gradient(top, rgba(168, 115, 40, 1) 0%, rgba(145, 98, 35, 1) 78%, rgba(135, 89, 33, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    
    background: linear-gradient(to bottom, rgba(168, 115, 40, 1) 0%, rgba(145, 98, 35, 1) 78%, rgba(135, 89, 33, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a87328', endColorstr='#875921', GradientType=0);
    /* IE6-9 */
    
    font-family: opensansbold;
    font-size: 24px;
    color: #fff;
}
.tableborder_one {
    border-bottom: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
    border-left: 1px solid #c2c2c2;
}
.tableborder_two {
    border-bottom: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
}
.tabletext {
    padding-top: 9%;
}
.tabletext_one {
    padding: 2% 0 2% 6%;
    margin: 0%;
    text-align: left;
    font-family: opensansbold;
    font-size: 17px;
    color: #000000;
}
.tableimg {
    float: left;
    width: 39%;
}
.tabletext_two {
    padding: 0%;
    margin: 0%;
    text-align: left;
    font-family: opensansbold;
    font-size: 17px;
    color: #000000;
}
.tabletext_three {
    padding: 0%;
    margin: 0%;
    text-align: left;
    font-family: opensansemibold;
    font-size: 17px;
    color: #000000;
}
.tabletext_three span {
    font-size: 18px;
    color: #F00;
}
.textcenter {
    text-align: center;
}
.tabletext_four {
    font-family: opensansregular;
    font-size: 20px;
    color: #000000;
    text-align: center;
}
.tabletext_five {
    font-family: opensansregular;
    font-size: 18px;
    font-weight: bold;
    color: #f00;
    text-align: left;
    padding: 5px 10px;
    max-width: 475px;
}
.padd19 {
    padding-top: 19%;
}
.fontsize14 {
    font-size: 14px;
    padding: 1% 0 1% 6%;
}
.fontsize15 {
    font-size: 15px;
    padding: 3% 0 3% 6%;
    text-align: left;
    margin: 0 0 0 28%;
}
.margin_two {
    margin-top: 4%;
}
.margin_three {
    margin-top: 1%;
}
.margin_four {
    margin-top: 2%;
}
.paddingleft {
    padding-left: 0px;
}
.support_section {
    border-bottom: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
    border-left: 1px solid #c2c2c2;
    overflow: hidden;
    background-color: #f1e7c2;
}
.phonegirlimg {
    float: left;
    width: 40%;
    margin: 2% 0 0 0;
}
.support_info {
    float: left;
    width: 60%;
    margin-top: 5%;
}
.support_info_text {
    font-family: opensansregular;
    font-size: 22px;
    color: #000000;
    width: 100%;
    float: left;
    margin: 1% 0;
}
.support_info_text img {
    float: left;
    margin: 0 2% 0 0;
}
.support_info_text span {
    padding: 0 0 0 2.2%;
}
.support_info_text a {
    padding: 0 0 0 2.2%;
    float: left;
    line-height: 12px;
}
.couponimg {
    background-image: url(../images/banner.png);
    background-position: center center;
    background-size: cover;
    padding: 9.1% 4%;
}
.coupontext {
    padding: 0%;
    margin: 0%;
}
.discount {
    font-family: opensansbold;
    color: #824a1c;
    font-size: 27px;
    margin: 0 0 0 4%;
}
.discount span {
    font-size: 35px;
}
.purchasetext {
    font-family: opensansbold;
    color: #000000;
    margin: 0 0 2% 0;
    font-size: 23px;
    line-height: 22px;
}
.couponbutton {
    padding: 0%;
    margin: 1% 0 0 5%;
}
.couponbutton a {
    padding: 0.5% 4%;
    font-family: opensansbold;
    color: #FFF;
    font-size: 21px;
    background: #000000;
}
.couponbutton {
    padding: 0.5% 4%;
    font-family: opensansbold;
    color: #FFF;
    font-size: 21px;
    background: #429418;
    display: inline-block;
}
.couponbutton a:hover {
    background: #1d4a03;
}
.important {
    font-family: opensansbold;
    font-size: 32px;
    color: #429418;
    margin-bottom: 2%;
}
.share {
    font-family: opensansemibold;
    font-size: 19px;
    color: #000000;
    margin: 0.5% 0 0 0;
}
.tick {
    margin-right: 2%;
}
.shareicon {
    margin-left: 2%
}
.lightyellowpart {
    border: 1px double #403f29;
    border-radius: 8px;
    background: #fffeec;
    padding: 2% !important;
    margin: 0 6.5%;
    overflow: hidden;
}
.ptext {
    font-family: Arial;
    color: #000000;
    font-size: 19px;
    line-height: 22px;
    margin: 2% 0%;
    width: 100%;
    float: left;
}
.ptextimg {
    margin: 0 1% 0 0;
    float: left;
    width: 14px;
}
.ptextpara {
    float: left;
    width: 96%;
    font-size: 16px;
}
.footertext {
    font-family: Arial;
    font-size: 13px;
    color: #000000;
    text-align: center;
    margin-bottom: 2%;
}
.container {
    max-width: 990px;
}
.coverpic {
    width: 200px;
}
table {
    background-color: #f1e7c2 !important;
}
.dwbtn {
    border: 2px solid #4d688d;
    padding: 8px 20px;
    border-radius: 5px;
    background: #ffebb9;
    background: -webkit-linear-gradient(#ffebb9, #fcc43f, #c2962e);
    background: -o-linear-gradient(#ffebb9, #fcc43f, #c2962e);
    background: -moz-linear-gradient(#ffebb9, #fcc43f, #c2962e);
    background: linear-gradient(#ffebb9, #fcc43f, #c2962e);
    text-decoration: none;
    color: #000000;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
    .whitepart {
        border-radius: 14px;
        width: 94%;
    }
    .textone {
        padding-top: 7%;
        margin: 0px;
        font-size: 32px;
        line-height: 35px;
    }
    .greenbackground {
        font-size: 25px;
    }
    .tabletext_one {
        padding: 2% 6% 2% 6%;
        font-size: 19px;
    }
    .tableimg {
        width: 20%;
        margin: 1% 5% 0% 5%;
    }
    .tabletext_two {
        font-size: 16px;
    }
    .tabletext_three {
        font-size: 16px;
    }
    .tabletext_three span {
        font-size: 18px;
    }
    .tabletext {
        padding-top: 4%;
    }
    .tabletext_four {
        padding: 14% 6% 14% 6%;
        font-size: 15px;
    }
    tabletext_five {
        padding: 14% 6% 14% 6%;
        font-size: 15px;
    }
    .one {
        width: 16%;
    }
    .two {} .three {
        width: 16%;
    }
    .fontsize15 {
        margin: 0 0 0 1%;
    }
    .phonegirlimg {
        width: 37%;
    }
    .support_info_text {
        font-size: 18px;
    }
    .ticket {
        width: 10%;
    }
    .mobile {
        width: 6%;
    }
    .message {
        width: 7%;
        margin: 0 !important;
    }
    .support_info_text a {
        font-size: 14px;
        padding: 0% 0 0 5%;
    }
    .phonegirltext {
        float: right;
        width: 48%;
        margin-top: 11%;
    }
    .support_info_text span {
        padding: 0%;
        margin: 0 0 0 4%;
    }
    .discount {
        font-size: 25px;
    }
    .discount span {
        font-size: 35px;
    }
    .purchasetext {
        font-size: 22px;
        margin: 0 0 4% 0;
    }
    .couponbutton a,
    .couponbutton {
        font-size: 17px;
    }
    .couponbutton {
        margin: 0% 0 0 10%;
    }
    .important {
        font-size: 24.5px;
    }
    .tick {
        margin-right: 2%;
        width: 3%;
    }
    .share {
        font-size: 16px;
    }
    .facebook {
        width: 3%;
    }
    .shareicon {
        width: 9%;
    }
    .arrow {
        width: 40%;
    }
    .paddinglr {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .ptextpara {
        font-size: 13px;
        line-height: 23px;
        width: 96%;
    }
    .lightyellowpart {
        padding: 1% !important;
    }
    .footertext {
        font-size: 11px;
        padding: 0 10px;
    }
    .couponimg {
        padding: 8% 4% 8% 4%;
    }
    img.girlimg {
        width: 100%;
    }
    .tweet {
        width: 68px;
    }
    .coverpic {
        width: 153px;
        margin: 6% 0 0 0;
    }
    .ptext {
        font-size: 9px;
        line-height: 14px;
        margin: 1% 0;
    }
    .couponimg {
        padding: 9% 4% 9% 4%;
        background-size: 100% 100%;
    }
    .bookpara {
        padding: 6% 0 0 0
    }
    .pdd {
        padding-top: 20px !important;
        padding-bottom: 10px !important;
    }
    .logo_wrapper {
        width: 150px !important;
        margin: 10px auto;
        display: block;
        float: none!important;
    }
}
@media screen and (max-width: 667px) {
    .whitepart {
        border-radius: 14px;
    }
    .textone {
        padding-top: 7%;
        margin: 0px;
        font-size: 28px;
        line-height: 35px;
    }
    .greenbackground {
        font-size: 20px;
    }
    .tabletext_one {
        font-size: 16px;
    }
    .tableimg {
        width: 20%;
        margin: 1% 5% 0% 5%;
    }
    .tabletext_two {
        font-size: 10px;
    }
    .tabletext_three {
        font-size: 10px;
    }
    .tabletext_three span {
        font-size: 12px;
    }
    .tabletext {
        padding-top: 4%;
    }
    .tabletext_four,
    .tabletext_five {
        padding: 14% 6% 14% 6%;
        font-size: 13px;
    }
    .one {
        width: 16%;
    }
    .two {} .three {
        width: 16%;
    }
    .fontsize15 {
        margin: 0 0 0 1%;
    }
    .phonegirlimg {
        width: 37%;
    }
    .support_info_text {
        font-size: 18px;
    }
    .ticket {
        width: 10%;
    }
    .mobile {
        width: 6%;
    }
    .support_info_text a {
        font-size: 12px;
        padding: 0% 0 0 5%;
    }
    .phonegirltext {
        float: right;
        width: 48%;
        margin-top: 11%;
    }
    .support_info_text span {
        padding: 0%;
        margin: 0 0 0 4%;
    }
    .discount {
        font-size: 20px;
    }
    .discount span {
        font-size: 30px;
    }
    .purchasetext {
        font-size: 20px;
    }
    .couponbutton a,
    .couponbutton {
        font-size: 14px;
    }
    .couponbutton {
        margin: 0% 0 0 12%;
    }
    .important {
        font-size: 21.5px;
    }
    .tick {
        margin-right: 2%;
        width: 3%;
    }
    .share {
        font-size: 13px;
    }
    .facebook {
        width: 3%;
    }
    .shareicon {
        width: 9%;
    }
    .arrow {
        width: 40%;
    }
    .paddinglr {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .ptextpara {
        font-size: 11.5px;
        line-height: 16px;
        width: 93%;
    }
    .lightyellowpart {
        padding: 1% !important;
    }
    .footertext {
        font-size: 9px;
    }
    .couponimg {
        padding: 8% 4% 8% 4%;
    }
    .coverpic {
        width: 138px;
        margin: 6% 0 0 0;
    }
    .ptext {
        font-size: 9px;
        line-height: 14px;
        margin: 1% 0;
    }
    .couponimg {
        padding: 9% 4% 9% 4%;
    }
    .bookpara {
        padding: 6% 0 0 0
    }
}
@media screen and (max-width: 568px) {
    .whitepart {
        border-radius: 14px;
    }
    .textone {
        font-size: 25px;
        line-height: 30px;
        padding-top: 7%;
        margin: 0px;
    }
    .greenbackground {
        font-size: 15px;
    }
    .tabletext_one {
        font-size: 12px;
    }
    .tableimg {
        width: 20%;
        margin: 1% 5% 0% 5%;
    }
    .tabletext {
        padding-top: 4%;
    }
    .tabletext_four,
    .tabletext_five {
        font-size: 10px;
    }
    .one {
        width: 16%;
    }
    .two {} .three {
        width: 16%;
    }
    .fontsize15 {
        margin: 0 0 0 1%;
    }
    .phonegirlimg {
        width: 40%;
    }
    .support_info_text {
        font-size: 18px;
    }
    .ticket {
        width: 10%;
    }
    .mobile {
        width: 6%;
    }
    .support_info_text a {
        font-size: 10px;
        padding: 0% 0 0 5%;
    }
    .phonegirltext {
        float: right;
        width: 48%;
        margin-top: 16%;
    }
    .support_info_text span {
        padding: 0%;
        margin: 0 0 0 4%;
    }
    .discount {
        font-size: 17px;
    }
    .discount span {
        font-size: 27px;
    }
    .purchasetext {
        font-size: 17px;
    }
    .couponbutton a,
    .couponbutton {
        font-size: 12px;
    }
    .couponbutton {
        margin: 0% 0 0 12%;
    }
    .important {
        font-size: 17.5px;
    }
    .tick {
        margin-right: 2%;
        width: 3%;
    }
    .share {
        font-size: 10px;
    }
    .facebook {
        width: 3%;
    }
    .shareicon {
        width: 9%;
    }
    .arrow {
        width: 40%;
    }
    .paddinglr {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .ptextpara {
        font-size: 9.5px;
        line-height: 16px;
        width: 93%;
    }
    .lightyellowpart {
        padding: 1% !important;
    }
    .footertext {
        font-size: 8px;
    }
    .couponimg {
        padding: 8% 4% 8% 4%;
    }
    .coverpic {
        width: 116px;
        margin: 6% 0 0 0;
    }
    .ptext {
        font-size: 9px;
        line-height: 14px;
        margin: 1% 0;
    }
    .couponimg {
        padding: 9% 4% 9% 4%;
    }
    .bookpara {
        padding: 6% 0 0 0
    }
}
@media screen and (max-width: 480px) {
    .whitepart {
        border-radius: 14px;
    }
    .textone {
        font-size: 21px;
        line-height: 25px;
        padding-top: 7%;
        margin: 0px;
    }
    .greenbackground {
        font-size: 15px;
    }
    .tabletext_one {
        font-size: 12px;
    }
    .tableimg {
        width: 20%;
        margin: 1% 5% 0% 5%;
    }
    .tabletext {
        padding-top: 4%;
    }
    .tabletext_four,
    .tabletext_five {
        font-size: 9px;
    }
    .one {
        width: 16%;
    }
    .two {} .three {
        width: 16%;
    }
    .fontsize15 {
        margin: 0 0 0 1%;
    }
    .phonegirlimg {
        width: 40%;
    }
    .support_info_text {
        font-size: 18px;
    }
    .ticket {
        width: 10%;
    }
    .mobile {
        width: 6%;
    }
    .support_info_text a {
        font-size: 10px;
        padding: 0% 0 0 2.2%;
    }
    .phonegirltext {
        float: right;
        width: 48%;
        margin-top: 16%;
    }
    .support_info_text span {
        padding: 0%;
        margin: 0 0 0 4%;
    }
    .discount {
        font-size: 14px;
    }
    .discount span {
        font-size: 24px;
    }
    .purchasetext {
        font-size: 14px;
    }
    .couponbutton a,
    .couponbutton {
        font-size: 10px;
    }
    .couponbutton {
        margin: 0% 0 0 12%;
    }
    .important {
        font-size: 14.5px;
    }
    .tick {
        margin-right: 2%;
        width: 3%;
    }
    .share {
        font-size: 9px;
    }
    .facebook {
        width: 3%;
    }
    .shareicon {
        width: 9%;
    }
    .arrow {
        width: 40%;
    }
    .paddinglr {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .ptextpara {
        font-size: 8.1px;
        line-height: 13px;
        width: 93%;
    }
    .lightyellowpart {
        padding: 1% !important;
    }
    .footertext {
        font-size: 9px;
    }
    .couponimg {
        padding: 8% 4% 8% 4%;
    }
    .coverpic {
        width: 106px;
        margin: 6% 0 0 0;
    }
    .ptext {
        font-size: 9px;
        line-height: 14px;
        margin: 1% 0;
    }
    .couponimg {
        padding: 8% 4% 8% 4%;
    }
    .bookpara {
        padding: 6% 0 0 0
    }
}
@media screen and (max-width: 414px) {
    .phonegirltext {
        float: right;
        width: 41%;
        margin-top: 16%;
    }
    .support_info {
        margin-left: 22px;
    }
    .phonegirlimg {
        width: 32%;
    }
    .phonegirltext {
        width: 50%;
        margin-top: 10%;
    }
    .support_info_text {
        font-size: 16px;
    }
    .support_info_text a {
        font-size: 9px;
    }
    .purchasetext {
        font-size: 12px;
    }
    .discount span {
        font-size: 20px;
    }
    .textone {
        font-size: 19px;
    }
}
@media screen and (max-width: 375px) {
    .whitepart {
        border-radius: 14px;
    }
    .textone {
        font-size: 16px;
        line-height: 21px;
        padding-top: 9%;
        margin: 0px;
    }
    .greenbackground {
        font-size: 13px;
    }
    .tabletext_one {
        font-size: 9px;
    }
    .tableimg {
        width: 20%;
        margin: 1% 5% 0% 5%;
    }
    .tabletext_three {
        font-size: 10px;
    }
    .tabletext_three span {
        font-size: 9px;
    }
    .tabletext {
        padding-top: 3%;
    }
    .tabletext_four,
    .tabletext_five {
        font-size: 7px;
    }
    .one {
        width: 16%;
    }
    .two {} .three {
        width: 16%;
    }
    .fontsize15 {
        margin: 0 0 0 1%;
    }
    .phonegirlimg {
        width: 32%;
    }
    .support_info_text {
        font-size: 12px;
    }
    .ticket {
        width: 10%;
    }
    .mobile {
        width: 6%;
    }
    .support_info_text a {
        font-size: 8px;
    }
    .phonegirltext {
        float: right;
        width: 59%;
        margin-top: 2%;
    }
    .support_info_text span {
        padding: 0%;
        margin: 0 0 0 4%;
    }
    .discount {
        font-size: 13px;
    }
    .discount span {
        font-size: 16px;
    }
    .purchasetext {
        font-size: 11px;
    }
    .couponbutton a,
    .couponbutton {
        font-size: 9px;
    }
    .couponbutton {
        margin: 0% 0 0 8%;
    }
    .important {
        font-size: 12px;
    }
    .tick {
        margin-right: 2%;
        width: 3%;
    }
    .share {
        font-size: 7px;
    }
    .facebook {
        width: 4%;
    }
    .shareicon {
        width: 9%;
    }
    .arrow {
        width: 40%;
    }
    .paddinglr {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .ptextpara {
        font-size: 8px;
        width: 91%;
        line-height: 13px;
    }
    .lightyellowpart {
        padding: 1% !important;
    }
    .footertext {
        font-size: 9px;
    }
    img.girlimg {
        width: 112px;
    }
    .coverpic {
        width: 70px;
    }
    .ptext {
        font-size: 19px;
        line-height: 14px;
        margin: 0%;
    }
    .couponimg {
        padding: 8% 4% 8% 4%;
    }
}
@media screen and (max-width: 320px) {
    .whitepart {
        border-radius: 14px;
    }
    .textone {
        font-size: 13px;
        line-height: 18px;
        padding-top: 7%;
        margin: 0px;
    }
    .greenbackground {
        font-size: 13px;
    }
    .tabletext_one {
        font-size: 8px;
    }
    .tableimg {
        width: 20%;
        margin: 1% 5% 0% 5%;
    }
    .tabletext_two {
        font-size: 7px;
    }
    .tabletext_three {
        font-size: 7px;
    }
    .tabletext_three span {
        font-size: 8px;
    }
    .tabletext {
        padding-top: 3%;
    }
    .tabletext_four,
    .tabletext_five {
        font-size: 6px;
    }
    .one {
        width: 16%;
    }
    .two {} .three {
        width: 16%;
    }
    .fontsize15 {
        margin: 0 0 0 1%;
    }
    .phonegirlimg {
        width: 32%;
    }
    .support_info_text {
        font-size: 12px;
    }
    .ticket {
        width: 10%;
    }
    .mobile {
        width: 6%;
    }
    .support_info_text a {
        font-size: 8px;
    }
    .phonegirltext {
        float: right;
        width: 59%;
        margin-top: 2%;
    }
    .support_info_text span {
        padding: 0%;
        margin: 0 0 0 4%;
    }
    .discount {
        font-size: 11px;
    }
    .discount span {
        font-size: 14px;
    }
    .purchasetext {
        font-size: 9px;
    }
    .couponbutton a,
    .couponbutton {
        font-size: 8px;
    }
    .couponbutton {
        margin: 0% 0 0 8%;
    }
    .important {
        font-size: 10.3px;
    }
    .tick {
        margin-right: 2%;
        width: 3%;
    }
    .share {
        font-size: 7px;
    }
    .facebook {
        width: 4%;
    }
    .shareicon {
        width: 9%;
    }
    .arrow {
        width: 40%;
    }
    .paddinglr {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .ptextpara {
        font-size: 8px;
        width: 91%;
        line-height: 13px;
    }
    .lightyellowpart {
        padding: 1% !important;
    }
    .footertext {
        font-size: 9px;
    }
    img.girlimg {
        width: 112px;
    }
    .coverpic {
        width: 70px;
    }
    .ptext {
        font-size: 19px;
        line-height: 14px;
        margin: 0%;
    }
    .couponimg {
        padding: 8% 4% 8% 4%;
    }
}