/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    
    position: fixed;
    /* Stay in place */
    
    z-index: 1;
    /* Sit on top */
    
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    
    height: 100%;
    /* Full height */
    
    overflow: auto;
    /* Enable scroll if needed */
    
    background: rgba(255, 255, 255, 0.8);
}
/* Modal Content/Box */

.modal-content {
    margin: 100px auto;
    min-width: 400px;
    max-width: 600px;
    min-height: 400px;
    color: #333;
    padding: 10px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0px;
    outline: 0;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    position: relative;
}
.modal-content iframe {
    min-height: 400px;
    width: 100%;
    border: 1px solid rgb(213, 214, 239);
}
/* The Close Button */

.close {
    position: absolute;
    right: -10px;
    top: -10px;
    color: #FFF;
    background-color: #333;
    border: 2px solid #FFF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    line-height: 24px;
    padding: 0;
    margin: 0;
    font-size: 20px;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover {
    border: 0 !important;
    background: none !important;
}
.close:hover,
.close:focus {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}
.input-validation {
    position: relative;
}
.ui-dialog {
    position: fixed !important;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    overflow: visible !important;
}
.ui-widget-overlay {
    background: rgba(255, 255, 255, 0.8) !important;
    opacity: .9 !important;
}
.ui-widget-header {
    border: none !important;
    background: none !important;
}
.ui-widget-content {
    border: 1px solid #ffffff !important;
    background: #ffffff !important;
    color: #333333;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}
.ui-widget-header .ui-icon {
    background-image: url("../images/closebutton.png") !important;
}
.ui-icon-closethick {
    background-position: 0 -2px !important;
    width: 26px !important;
    height: 29px !important;
}
.ui-dialog .ui-dialog-titlebar-close span {
    position: absolute;
    top: -10px;
    z-index: 9;
    right: -18px;
}
.ui-draggable .ui-dialog-titlebar {
    padding: 0;
    height: 0;
}
.ui-dialog .ui-dialog-titlebar-close {
    z-index: 999999;
}
.ui-resizable-handle {
    display: none !important;
}
input.error,
select.error {
    background: #ffffff url(../images/error-input.png) no-repeat 99.5% 50%;
    border: 1px solid #ffa500;
}
input.valid,
select.valid {
    background: #ffffff url(../images/tick-input.png) no-repeat 99.5% 50%;
    border: 1px solid #008000;
}
input[type="text"]:valid ~ .input-validation::before {
    content: "\f00c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: green;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 5px;
    right: 20px;
}
input[type="email"]:valid ~ .input-validation::before {
    content: "\f00c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: green;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 5px;
    right: 20px;
}
input[type="number"]:valid ~ .input-validation::before {
    content: "\f00c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: green;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 5px;
    right: 20px;
}
.text {
    position: relative;
    display: block;
    height: 26px;
    margin-bottom: 15px;
}
.redbar-text {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
.adjuster {
    position: relative;
    left: -40px;
}
.exitpopup-overlay {
    background: rgba(49, 49, 49, 0.8) none repeat scroll 0 0;
    opacity: 1;
}
.exitpop-content img {
    top: 0;
}
#loading-indicator {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    box-sizing: border-box;
    height: 100%;
    left: 0;
    margin: 0 auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 1px;
    z-index: 99990;
}
#loading-indicator:before {
    background: url("../images/loading.gif") no-repeat center center;
    box-sizing: border-box;
    content: "";
    height: 70px;
    left: 50%;
    margin-left: -35px;
    margin-top: -70px;
    position: absolute;
    top: 50%;
    width: 70px;
    z-index: 99996;
}
#loading-indicator:after {
    background: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    color: #000;
    content: "Processing, one moment please... ";
    font-family: arial;
    font-size: 17px;
    height: 110px;
    left: 50%;
    line-height: 98px;
    margin-left: -150px;
    margin-top: -75px;
    padding-top: 35px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 300px;
    z-index: 99995;
}
.btn {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    background: #00EFC5;
    padding: 20px 25px 20px 25px;
    text-decoration: none;
    width: 90% !important;
    margin: 0 0 0 15px;
    transition: all .2s ease-in-out;
    box-shadow: 0px 0px 0px #2a2a2a;
}
.btn:hover {
    background: #E25E9D;
    color: #fff;
    text-decoration: none;
    transform: scale(1.05);
    transition: all .2s ease-in-out;
    box-shadow: 3px 3px 6px #3a3a3a;
    cursor: pointer;
}
.top_left_inner .top_left2 img {
    width: 70px;
}
.foot-part1-logo img {
    width: 105px;
}
@charset "utf-8";
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
form input[type=text],
form input[type=email],
form input[type=number],
form select,
form textarea {
    padding: 3px 10px !important;
}
.kform_submitBtn {
    height: 3em;
    font-weight: bold;
    font-size: 2em;
    /* background-color: #316635; */
    
    padding: 0;
    display: block;
    width: 100%;
    border: 0;
}
.kform_submitBtn a {
    font-weight: bold;
    color: #000000;
    width: 277px;
    height: 72px;
    padding: 20px 48px 20px 48px;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-weight: normal;
    line-height: normal;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
figure {
    margin: 0;
}
div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
a,
img a,
img,
a img {
    border: 0;
    outline: 0;
    text-decoration: none;
}
img {
    vertical-align: top;
    max-width: 100%
}
* {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}
.fl-lt {
    float: left;
}
img {
    height: auto;
    width: auto;
}
.fl-rt {
    float: right;
}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:before,
.clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:after {
    clear: both;
}
@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'), url('../fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'), url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'), url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'), url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'), url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold_italic';
    src: url('../fonts/opensans-bolditalic-webfont.woff2') format('woff2'), url('../fonts/opensans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url('../fonts/opensans-extrabolditalic-webfont.woff2') format('woff2'), url('../fonts/opensans-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight_italic';
    src: url('../fonts/opensans-lightitalic-webfont.woff2') format('woff2'), url('../fonts/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'), url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('../fonts/opensans-semibolditalic-webfont.woff2') format('woff2'), url('../fonts/opensans-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'), url('../fonts/opensans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/opensans-italic-webfont.woff2') format('woff2'), url('../fonts/opensans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../fonts/proxima_nova_semibold-webfont.woff2') format('woff2'), url('../fonts/proxima_nova_semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueLTStd-BdCn';
    src: url('../fonts/HelveticaNeueLTStd-BdCn.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-BdCn.otf') format('opentype'), url('../fonts/HelveticaNeueLTStd-BdCn.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-BdCn.ttf') format('truetype'), url('../fonts/HelveticaNeueLTStd-BdCn.svg#HelveticaNeueLTStd-BdCn') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* ---------------- */

.clear {
    clear: both;
}
body {
    background: #f4f6f8;
    font-family: open_sansregular, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 17px;
    color: #000;
    margin: 0;
}
/******************A.sh***********/

.container {
    width: 1000px;
    margin: 0 auto;
}
.top {
    background: #ed145b none repeat scroll 0 0;
    color: #ffffff;
    display: block;
    font: 17px/21px open_sansregular;
    padding: 15px 0;
    text-align: center;
}
.top b {
    font-family: 'open_sansbold';
    font-weight: normal;
}
.top_block {
    background: url(../images/top.jpg) no-repeat center 0;
    height: 738px;
}
.top_left {
    width: 685px;
    float: left;
}
.top_right {
    float: right;
    width: 312px;
}
.top_left_inner {
    padding-left: 340px;
    text-align: center;
}
.top_left1 > span {
    display: inline-block;
    font: 14px/16px open_sanssemibold;
    padding-right: 10px;
    text-align: right;
    vertical-align: middle;
}
.top_left1 > img {
    color: #000000;
    font: 14px/17px open_sanssemibold;
    vertical-align: middle;
}
.top_left1 {
    padding: 20px;
    text-align: right;
}
.top_left2 {} .top_left3 {
    padding: 40px 0;
}
.top_left4 li {
    color: #333333;
    font: 19px/24px montserratregular;
    padding: 1px 0;
}
.top_left4 span {
    font-weight: normal;
}
.top_left4 {
    margin-left: -40px;
}
.top_left5 {
    background: rgba(0, 0, 0, 0) url("../images/hurry_arrow.png") no-repeat scroll center 0;
    color: #ffffff;
    font-size: 31px;
    font: 31px/72px HelveticaNeueLTStd-BdCn;
    height: 72px;
    margin-left: -140px;
    margin-top: 15px;
    padding-right: 25px;
    text-align: right;
    text-transform: uppercase;
    width: 487px;
}
.top_left6 {
    background: #595f70 none repeat scroll 0 0;
    color: #ffffff;
    font: 14px/18px montserratbold;
    margin-top: 30px;
    padding: 15px 0;
    text-align: center;
    width: 280px;
}
.form {
    background: #e7e8ef none repeat scroll 0 0;
    border-bottom: 2px solid #afb4c6;
    border-left: 2px solid #afb4c6;
    border-right: 2px solid #afb4c6;
}
.top_form {
    background: #595f70 none repeat scroll 0 0;
    color: #ffffff;
    font: 17px/26px helveticaneueltstd-bdcn;
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
}
.top_form > span {
    background: #000000 none repeat scroll 0 0;
    border-radius: 3px;
    display: inline-block;
    font-size: 20px;
    margin: 0 1px;
    padding: 0 5px;
    vertical-align: middle;
}
.form_header {
    color: #272a50;
    font: 17px/21px montserratregular;
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
}
.form_header > span {
    display: block;
    font-family: 'montserratbold';
    font-size: 21px;
}
.form_block label,
.form_bl label {
    color: #333333;
    display: block;
    float: left;
    font: 12px/26px open_sansregular;
    padding-right: 10px;
    text-align: right !important;
    width: 100px;
}
.form_block input,
.form_block select,
.form_bl input,
.form_bl select {
    border: 1px solid #b7b7b7;
    color: #000000;
    float: left;
    font: 12px/26px open_sansregular;
    height: 26px;
    width: 180px !important;
}
.form_block_field {
    padding: 5px 0;
}
.form_block_field.lock {
    font: 11px/12px open_sansregular;
    padding-top: 25px;
    text-align: center;
}
.form_block_field.lock > img {
    vertical-align: middle;
}
.security {
    padding: 20px 0;
    text-align: center;
}
.form_block input[type="submit"]:hover,
.form-group button {
    background-position: center -81px!important;
}
.form_block input[type="submit"],
.form-group button {
    background: rgba(0, 0, 0, 0) url("../images/btn_rush.png") no-repeat scroll center 0!important;
    border: medium none!important;
    cursor: pointer!important;
    display: block!important;
    float: none!important;
    height: 70px!important;
    margin: 10px 20px!important;
    text-indent: -9999px!important;
    width: 272px!important;
}
.form-control.hidden.input-md.state_input {
    display: none;
}
.form_bl .form-group {} .form_bl fieldset {
    background: rgba(0, 0, 0, 0) url("../images/mcfeee.png") no-repeat scroll center bottom;
    padding-bottom: 40px;
}
.form_bl form {
    padding-bottom: 20px;
}
.heading {
    background: #000000 none repeat scroll 0 0;
    color: #ffffff;
    display: inline-block;
    font: 20px/54px montserratregular;
    padding-right: 20px;
}
.heading span {
    background: #ed145b url("../images/bg_heading.jpg") no-repeat scroll right 0;
    display: block;
    float: left;
    font: 22px/54px montserratbold;
    margin-right: 20px;
    padding: 0 40px 0 20px;
    text-transform: uppercase;
}
legend {
    display: none;
}
.top_block {} .featured {
    background: #ffffff none repeat scroll 0 0;
}
.featured_block {
    padding: 50px;
}
.featured_block_left {
    float: left;
    width: 50%;
}
.featured_block_right {
    float: right;
    margin-right: -20px;
    width: 46%;
}
.featured_block_left > p {
    font: 14px/22px open_sansregular;
    padding-bottom: 30px;
}
.spotlight {
    background: url(../images/spotlight.jpg) no-repeat center 0;
    height: 528px;
}
.spotlight {
    padding-left: 610px;
    padding-top: 1px;
}
.spotlight_heading_img {
    margin: -25px 0 0 -75px;
}
.spotlight_heading {
    background: #595f70 none repeat scroll 0 0;
    color: #ffffff;
    font: 20px/24px montserratregular;
    margin-top: -8px;
    padding: 10px 20px;
}
.spotlight_heading > span {
    display: block;
    font-family: 'montserratbold';
    text-transform: uppercase;
}
.spotlight_list li {
    background: #ffffff none repeat scroll 0 0;
    border-left: 5px solid #ed145b;
    color: #333333;
    font: 13px/18px montserratregular;
    margin-top: 10px;
    padding: 10px 20px;
}
.spotlight_list li b {
    display: block;
    font-family: 'montserratbold';
    font-weight: normal;
    text-transform: uppercase;
}
.spotlight_list li + li {
    border-color: #662d91;
}
.spotlight_list li + li + li {
    border-color: #449ecb;
}
.spotlight_list li + li + li + li {
    border-color: #00efc5;
}
.btn_block {} .rush_btn {
    background: url(../images/btn_rush.png) no-repeat center 0;
    float: right;
    height: 70px;
    width: 272px;
}
.btn_block {
    background: #595f70 none repeat scroll 0 0;
    color: #ffffff;
    padding: 20px 40px;
}
.rush_btn:hover {
    background-position: center -81px;
}
.btn_block_txt {
    display: inline-block;
    font: 16px/27px montserratregular;
    padding: 10px 0;
}
.btn_block_txt > b {
    display: block;
    font: 21px/24px montserratbold;
    text-transform: uppercase;
}
.exclusive {
    background: #fff;
    margin: 40px 0;
}
.featured_block_right > img {
    margin-bottom: 20px;
}
.exclusive .featured_block_right {
    margin-top: -50px;
    width: 50%;
}
.exclusive .featured_block_left li {
    color: #333333;
    font: 17px/26px montserratregular;
    list-style-type: square;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.featured_block_left > ul {
    margin: 0;
    padding: 0 0 20px 15px;
}
/***********************************************************************************************/

.foot-part-1 {
    background: rgba(0, 0, 0, 0) url("../images/footer-part-1.jpg") repeat-x scroll center 0;
}
.foot-part1-top {
    float: left;
}
.foot-part1-model {
    float: left;
}
.foot-part1-model > img {
    height: auto;
    max-width: 92%;
}
.foot-part1-tag {
    padding-left: 311px;
    padding-top: 141px;
    position: absolute;
    z-index: 1;
}
.foot-part1-bottle {
    padding-left: 335px;
    padding-top: 46px;
    position: absolute;
}
.foot-part1-logo {
    float: left;
    padding-left: 120px;
    padding-top: 14px;
}
.foot-part1-achieve {
    float: left;
    padding-left: 107px;
    padding-top: 28px;
}
.foot-part1-button {
    float: left;
    padding-left: 87px;
    padding-top: 25px;
}
.layer-8-img1 {
    float: left;
}
.layer-8-img2 {
    float: left;
    padding-left: 19px;
    padding-right: 18px;
}
.layer-8-imgs {
    padding-top: 48px;
    padding-bottom: 48px;
}
.layer-6-body {
    padding-bottom: 38px;
    background: #fff none repeat scroll 0 0;
}
.layer-6-body-left {
    float: left;
    width: 500px;
}
.layer-6-body-right {
    float: right;
    width: 500px;
}
.layer-6-txt1 > p {
    font-size: 20px;
    font-family: 'montserratregular';
}
.layer-6-txt2 > p {
    font-size: 13px;
    font-family: 'open_sansregular';
    padding-right: 24px;
}
.layer-6-txt3 > p {
    font-size: 13px;
    font-family: 'open_sansregular';
    padding-right: 24px;
}
.layer-6-txt1 {
    padding-left: 41px;
    padding-top: 40px;
}
.layer-6-txt2 {
    padding-left: 41px;
    padding-top: 25px;
}
.layer-6-txt3 {
    padding-left: 41px;
    padding-top: 25px;
}
.layer-6-txt4 {
    float: left;
    padding-left: 65px;
    padding-top: 20px;
}
.top_left44 {
    margin-left: -412px;
    padding-top: 378px;
    position: absolute;
}
.layer-7 {
    clear: both;
}
.foot-cont {
    text-align: center;
}
.foot-cont > p {
    color: #333333;
    font-family: "open_sansregular";
    font-size: 12px;
    padding: 40px;
}
.foot-cont-2 {
    text-align: center;
}
.foot-cont-2 p a {
    color: #333;
    cursor: pointer;
}
.form_bl .form-group {
    margin: 0!important;
}
.form_bl .form-group {} .form_bl label {
    padding-top: 0 !important;
    padding-left: 0 !important;
}
.form_bl .form-group {
    padding: 5px 0;
}
.form_bl div.col-md-4 {
    display: inline-block;
    padding: 0;
    width: auto;
}
.form_bl div.col-md-4 input {
    border-radius: 0;
}
.form_bl div.col-md-4 select {
    padding: 0 5px;
}
* {
    box-sizing: border-box;
}
* {
    margin: 0px;
    padding: 0px;
}
li {
    list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
    font-size: 21px;
}
.clear {
    clear: both;
}
div {
    display: block;
}
.container {
    width: 1000px;
    margin: 0 auto;
}
.checkout_body {
    background: url('../images/checkout_bg.jpg') repeat-x center top;
}
.header_cont {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #d1d1d1;
    margin: 0 auto;
    padding: 25px 30px;
}
.checkout_header_logo4 {
    float: left;
    width: 115px;
}
.header_ship {
    float: left;
    margin: 0 7px 0 36px;
}
.usa_chk {
    float: right;
}
.main {
    float: left;
    margin: 0 auto;
    padding: 0 30px;
    width: 680px;
}
.aside {
    border: 3px solid #afb4c6;
    float: right;
    margin: 0 auto;
    width: 320px;
}
.aside_head {
    background: #595e71 none repeat scroll 0 0;
    color: #fff;
    padding: 22px 0;
    text-align: center;
    text-transform: uppercase;
}
.main_cont_body {
    background: #fff none repeat scroll 0 0;
    padding: 30px 0 0;
}
.aside_head h1 {
    font: 30px/100% MontserratRegular;
}
.aside_head h2 {
    font: 19px/100% MontserratBold;
}
.chk_form {
    background: #e8e8f0 none repeat scroll 0 0;
    font-family: arial;
    padding: 30px 5px;
}
.chk_form li {
    padding: 5px 0;
}
.chk_form label,
.style14black {
    color: #272727;
    float: left;
    font: 12px/100% arial;
    padding-right: 10px;
    padding-top: 7px;
    text-align: right;
    vertical-align: bottom;
    width: 110px;
}
.chk_form input[type="text"] {
    border: 1px solid #b7b7b7;
    color: #000;
    font: 12px/100% arial;
    height: 27px;
    padding: 0 5px;
    width: 182px;
}
.chk_visa {
    display: block;
    margin: 10px auto;
}
.chk_form h6 {
    display: block;
    font: 12px/18px arial;
    margin: 0 auto;
    text-align: center;
    width: 67%;
}
.chk_form p.chk_input {
    display: block;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
}
.chk_form .exp {
    width: 85px;
}
.chk_form ul li select {
    border: 1px solid #b7b7b7;
    color: #000;
    font: 12px/100% arial;
    height: 27px;
    padding: 0 5px;
    width: 182px;
}
.chk_form .cvv {
    width: 76px !important;
}
#cvv {
    width: 210px;
    float: left;
}
#cvv input {
    width: 76px !important;
    margin-right: 0;
}
.what_this {
    color: #58aa00;
    font-size: 12px;
    padding-left: 7px;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}
.what_this:hover {
    color: #ED145B;
    text-decoration: none;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
}
.chk_secure {
    display: block;
    margin: 20px auto;
}
.chk_button {
    background: rgba(0, 0, 0, 0) url("../images/chk_button.png") no-repeat scroll center top;
    border: medium none;
    display: block;
    font-size: 0;
    height: 80px;
    width: 291px;
}
.chk_button:hover {
    background-position: 0 -75px;
}
.master_visa_chk {
    display: block;
    margin: 40px auto 10px;
}
.main_header > p {
    font: 18px/19px Open_SansRegular;
    color: #ed145b;
}
.main_header {
    background: #f7efed none repeat scroll 0 0;
    border: 2px solid #ed145b;
    margin-bottom: 25px;
    padding: 15px 20px;
    text-align: center;
}
.main_header img {
    margin-right: 10px;
    vertical-align: bottom;
}
.chek_discount_arrow {
    color: #66cc33;
    font: 18px/19px Open_SansBold;
    padding-bottom: 20px;
    text-align: left;
    text-transform: uppercase;
}
.chek_discount_arrow > img {
    vertical-align: sub;
}
.great_choice {
    color: #5a5a5a;
    font: 17px/100% Open_SansBold;
}
.great_choice strong {
    color: #66cc33;
}
.low_stick {
    color: #5a5a5a;
    font: 14px/100% Open_SansRegular;
    padding: 25px 0;
}
.low_stick > img {
    margin: auto 5px;
    vertical-align: text-bottom;
}
.low_stick > span {
    font-family: Open_SansBold;
}
.low_stick > strong {
    color: #d71e1c;
}
.bolder_chk > p {
    color: #5a5a5a;
    font: 14px/100% Open_SansRegular;
    padding: 0 0 7px;
}
.bolder_chk strong {
    color: #ed145b;
    font-family: Open_SansBold;
    font-weight: normal;
}
.bolder_chk {
    border-bottom: 1px solid #dedede;
    padding-bottom: 60px;
}
.hero {
    padding: 50px 0;
    position: relative;
}
.hero_left {
    float: left;
    width: 40%;
}
.hero_right {
    float: right;
    padding-left: 30px;
    width: 60%;
}
.chk_discount {
    left: 26px;
    position: absolute;
    top: 142px;
}
.main_container {
    /* margin-top: 50px; */
}
.hero_right > p {
    color: #555;
    font: 14px/19px Open_SansRegular;
    padding: 0 0 5px;
    width: auto;
}
.hero_right p strong {
    display: block;
    font: 18px/19px Open_SansBold;
    text-transform: uppercase;
}
.hero_right span {
    float: left;
    text-align: left;
    color: #5a5a5a;
    font: 16px/22px Open_SansRegular;
}
#form-bottom {
    margin: 7px 0;
}
.hero_right ul li p {
    text-align: right;
    font: 16px/22px Open_SansRegular;
    color: #5a5a5a;
}
.hero_right li {
    border-bottom: 1px solid #dedede;
    padding: 10px 0;
}
.hero_right ul li.price_chk p {
    color: #66cc33;
    font: 18px/24px Open_SansBold;
    text-align: right;
}
.hero_right .price_chk span {
    float: left;
    text-align: left;
    color: #5a5a5a;
    font: 18px/24px Open_SansBold;
}
.shiping_discount > span,
.shiping_discount > p {
    color: #ff0000 !important;
}
.hero_right li:last-child {
    border-bottom: none;
}
.chk_port {
    margin: 5px 0 5px;
}
.hero > img {
    margin: 0 0 0 -32px;
}
.hero > p {
    color: #aaaaaa;
    font: 10px/18px Open_SansRegular;
    padding: 23px 30px 0 0;
    text-align: justify;
}
.chk_footer {
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
    font: 11px/100% Open_SansRegular;
    color: #000;
}
.chk_footer li {
    border-right: 1px solid #000;
    display: inline-block;
    line-height: 13px;
    padding: 0 12px 0 6px;
}
.chk_footer a {
    color: #000;
    text-decoration: none;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    cursor: pointer;
}
.bolder_chk_checkout strong {
    color: #ed145b;
    font-family: OpenSansBold;
    font-weight: normal;
}
.chk_footer a:hover {
    color: #ED145B;
    text-decoration: underline;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
}
.chk_footer li:last-child {
    border-right: none;
}
.chk_footer p {
    padding: 10px 0 0;
}
.main_container > .container {
    box-shadow: 0 -5px 5px #ccc;
}
.checkout_visa {
    display: block;
    margin: 40px auto 25px;
}
.chk_form ul li p.checkout_input {
    display: block;
    font-size: 12px;
    margin: 10px auto 28px;
    text-align: center;
}
.bolder_chk_checkout {
    border-bottom: 1px solid #dedede;
    padding-bottom: 10px;
}
.bolder_chk_checkout > p {
    color: #5a5a5a;
    font: 14px/100% Open_SansRegular;
    padding: 0 0 7px;
}
.bolder_chk_checkout strong {
    color: #ed145b;
    font-family: Open_SansBold;
    font-weight: normal;
}
.hero_checkout {
    padding: 13px 0;
    position: relative;
}
.hero_checkout > p {
    color: #aaaaaa;
    font: 10px/18px Open_SansRegular;
    padding: 23px 30px 0 0;
    text-align: justify;
}
.checkout_form .kform_checkbox {
    margin: 0 10px 15px 0;
}
.checkout_checkout .hero_right > p {
    padding: 0 0 5px;
}
.checkout_checkout .hero_right li {
    padding: 6px 0;
}
.checkout_checkout .chk_port {
    margin: 10px 0 6px;
}
.checkout_checkout .chek_discount_arrow {
    padding-bottom: 13px;
}
.checkout_checkout .low_stick {
    padding: 17px 0;
}
.checkout_checkout .main_header {
    margin-bottom: 14px;
}
.form-group {
    margin-bottom: 6px;
}
.form-control.input-md.check-number.required.phone {
    min-height: 29px !important;
    width: 60%;
}
.required.form-control.input-md {
    width: 60%;
}
.error {
    border-color: red;
    border-style: solid;
    border-width: 1px;
}
.container_thankyou {
    margin: 0 auto;
    width: 700px;
}
.thankyou_header {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #d1d1d1;
    margin: 0 auto;
    padding: 25px 30px;
}
.thankyou_header_right {
    float: right;
}
.thankyou_body {
    background: rgba(0, 0, 0, 0) url("../images/thankyou_bg.jpg") repeat-x scroll center top;
}
.section1 h1 {
    color: #5a5a5a;
    font: 18px/100% OpenSansBold;
    text-transform: uppercase;
}
.thankyou_cont {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 -5px 5px #ccc;
}
.section1 {
    /* border-bottom: 1px solid #dedede; */
    
    padding: 30px 0 0px 30px;
    width: 100%;
    text-align: center;
}
.section1 span {
    color: #5a5a5a;
    font: 14px/22px OpenSansRegular;
}
.section1 > p {
    color: #5a5a5a;
    font: 14px/100% OpenSansRegular;
    padding-bottom: 10px;
}
.section1 strong {
    color: #000;
    font-family: OpenSansBold;
    font-weight: normal;
}
.section2_left {
    float: left;
    width: 33%;
    padding: 6px;
}
.section2_right {
    float: right;
    padding-left: 40px;
    width: 60%;
}
.section2 {
    padding: 0px 30px;
}
.section2_left > img {
    margin-top: 10px;
}
.section2_right h1 {
    color: #ed145b;
    font: 18px/24px OpenSansBold;
    padding-bottom: 35px;
}
.zero > p {
    color: #555;
    font: 14px/20px OpenSansRegular;
    padding: 0 0 7px;
}
.zero strong {
    font-family: OpenSansBold;
    font-weight: normal;
}
.section2_right li {
    padding: 6px 0;
    border-bottom: 1px solid #dedede;
}
.section2_right ul li span {
    color: #5a5a5a;
    float: left;
    font: 14px/20px OpenSansRegular;
    text-align: left;
}
.section2_right ul li p {
    color: #5a5a5a;
    font: 14px/20px OpenSansRegular;
    text-align: right;
}
.section2_right ul li p.thk_green {
    color: #66cc33;
    display: block;
    font: 18px/24px OpenSansBold;
    padding: 54px 0 0;
    text-align: right;
    vertical-align: bottom;
}
.section2_right .age_thk {
    padding: 18px 0 0;
    width: 48%;
}
.age_thk > strong {
    display: block;
}
.thankyou_cont > p {
    color: #aaaaaa;
    font: 10px/18px OpenSansRegular;
    margin: 0 auto;
    padding: 30px;
    text-align: justify;
}
.upsell .section1 {
    text-align: center;
    width: auto;
}
.upsell .section1 h1 {
    line-height: 28px;
}
.thankyou_header_left {
    vertical-align: middle;
}
.section_upsell {
    text-align: center;
}
.section_upsell1 > span {
    color: #ff0000;
    display: block;
    font: 18px/24px opensansbold;
}
.section_upsell1 {
    color: #5a5a5a;
    font: 14px/18px opensansregular;
    padding: 20px 0;
}
.form_block_field.lock {
    font: 11px/12px opensansregular;
}
.section_upsell5 > a {
    color: #868686;
    font: 12px/18px opensansregular;
    text-align: center;
}
.section_upsell5 img {
    vertical-align: middle;
}
.complete_btn:hover {
    background-position: center -91px;
}
.complete_btn {
    background: url("../images/complete.png") no-repeat scroll center 0;
    display: block;
    height: 69px;
    margin: 20px auto 0;
    width: 332px;
}
#discountsection {
    z-index: 999;
    left: 0;
    right: 0;
}
#billingDiv td {
    padding-bottom: 5px;
}
.chk_form ul li p.checkout_input {
    margin: 5px auto;
}
.checkout_visa {
    margin: 5px auto;
}
.chk_form {
    padding: 10px 5px;
}
.select.required {} #form {
    bottom: 0;
    font-family: "Open Sans", Arial;
    position: absolute;
    right: 1px;
    top: 61px;
    width: 311px;
    z-index: 10;
}
#form a {
    color: #66cc33;
}
#form .timer {
    position: relative;
    top: 50px;
    left: 60px;
    font-size: 20px;
}
#form .timer span {
    color: white;
    background: black;
    border-radius: 5px;
    padding: 8px 5px;
    margin-right: 2px;
    font-weight: bold;
}
#form-top {
    background: url(../images/form-top.jpg) no-repeat;
    width: auto;
    height: 157px;
}
#form-inner {
    width: auto;
    background: #e7e8ef;
    height: 380px;
    border-left: 3px solid #afb4c6;
    border-right: 3px solid #afb4c6;
}
#form-btm {
    background: rgba(0, 0, 0, 0) url("../images/form-btm.jpg") no-repeat scroll 0 0;
    border-bottom: 3px solid #afb4c6;
    border-left: 3px solid #afb4c6;
    border-right: 3px solid #afb4c6;
    height: 178px;
    width: auto;
}
#form form .text {
    position: relative;
    display: block;
    overflow: hidden;
    height: 34px;
    margin-bottom: -1px;
}
.checkout_body form {
    text-align: right;
    font-size: 12px;
    padding: 34px 18px 0 0;
}
.checkout_body input[type="text"] {
    height: 27px;
    width: 185px !important;
    margin-left: 8px;
    margin-right: 8px;
    text-indent: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}
#form form select {
    width: 185px;
    height: 26px;
    margin-right: 5px;
    margin-left: 9px;
    font-size: 11px;
    color: #AAA;
    padding-left: 14px;
}
form input[type=text],
form input[type=email],
form input[type=number],
form select,
form textarea {
    padding: 5px 0px;
    margin-bottom: 15px;
}
.form {
    background: #e7e8ef none repeat scroll 0 0;
    border-bottom: 2px solid #afb4c6;
    border-left: 2px solid #afb4c6;
    border-right: 2px solid #afb4c6;
}
.visa-img {
    margin-right: 23%;
    margin-top: 3%;
}
.upsell-container {
    /* width: 90%; */
    
    height: 248px;
    width: 480px;
    margin: 20px auto 0 auto;
    background: url(../images/upsell.jpg);
    * //* Chrome10-25,Safari5.1-6 */
    background: -webkit-radial-gradient(center ellipse, #e1ffff 0%, #e1ffff 7%, #e1ffff 12%, #e6f8fd 30%, #c8eefb 54%, #bee4f8 75%, #b1d8f5 100%);
    /* background: radial-gradient(ellipse at center, #e1ffff 0%, #e1ffff 7%, #e1ffff 12%, #e6f8fd 30%, #c8eefb 54%, #bee4f8 75%, #b1d8f5 100%); */
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e1ffff', endColorstr='#b1d8f5', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    
    padding-top: 64px;
}
.upsell-container h1 {
    color: #1FB39B;
    /* margin: 3% 0 0 0; */
    
    font: 21px/100% OpenSansBold;
    text-transform: uppercase;
    text-align: center;
    /* width: 100%; */
}
.upsell-container h2 {
    color: #02569E;
    /* margin: 20px 0 0 0; */
    
    font: 20px/100% OpenSansBold;
    text-transform: uppercase;
    text-align: center;
    /* width: 100%; */
}
.upsell-container h3 {
    color: #02569E;
    margin: 6px 0 0 0;
    font: 20px/100% OpenSansRegular;
    text-align: center;
}
.upsell-image {
    margin: 0;
    width: 173px;
    height: auto;
    float: left;
    /* width: 172px; */
    
    margin: 16px 3px 0 0px;
}
.upsell-container p {
    color: #02569E;
    margin: 5% 0 0 0;
    font: 19px/100% OpenSansRegular;
    text-align: center;
}
.upsell-text {
    /* display: -webkit-box; */
    /* display: -webkit-flex; */
    
    display: -ms-flexbox;
    /* display: flex; */
    /* -webkit-align-content: center; */
    
    -ms-flex-line-pack: center;
    /* align-content: center; */
    /* -webkit-box-orient: vertical; */
    /* -webkit-box-direction: normal; */
    /* -webkit-flex-direction: column; */
    
    -ms-flex-direction: column;
    /* flex-direction: column; */
    /* width: 70%; */
    /* -webkit-box-pack: center; */
    /* -webkit-justify-content: center; */
    
    -ms-flex-pack: center;
    /* justify-content: center; */
    /* padding-right: 5px; */
}
.checkout_body .btn {
    border-radius: 5px;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    background: #00EFC5;
    padding: 15px 25px 20px 25px;
    text-decoration: none;
    width: 90%;
    margin: 0 0 0 15px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    box-shadow: 0px 0px 0px #2a2a2a;
}
.checkout_body .btn:hover {
    background: #ED145B;
    color: #fff;
    text-decoration: none;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    box-shadow: 3px 3px 6px #3a3a3a;
    cursor: pointer;
}
.no-thanks {
    text-align: center;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
    font: 11px/100% OpenSansRegular;
    color: #000;
    color: #000;
    text-decoration: none;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    padding-bottom: 15px;
}
.checkout_form select {
    height: 27px;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
    font-size: 14px;
    width: 155px;
    margin-left: 8px;
    text-indent: 10px;
    margin-right: 8px;
}
.checkout_form input[type="text"] {
    width: 155px !important;
    font-size: 14px;
    font-family: Arial, sans-serif;
}
#insureship {
    margin-top: 16px;
    padding: 5px 10px;
    font-size: 12px;
    <!-- background: #F3F3F3;
    --> border-radius: 10px;
}
.protect-package {
    font: normal 12px arial;
    background: url(img/protect-page-badge.png) no-repeat;
    height: auto;
    margin: -5px auto 0 auto;
    text-align: justify;
}
.buttonhide {
    display: none;
}
.protect-package {
    font: normal 12px arial;
    background: url(img/protect-page-badge.png) no-repeat;
    height: 61px;
    margin: 15px auto 0 auto;
}
.protect-package a {
    color: black;
}
.ppimg {
    position: fixed;
    display: none;
}
.small {
    width: 76px !important;
    margin: 0 3px 15px 0;
    text-indent: 0;
    padding: 3px 5px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.clear {
    clear: both;
}
#form-bottom {
    margin: 7px 0;
}
.no-thanks:hover {
    color: #ED145B;
    text-decoration: underline;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
}
#cardbox {
    height: 27px;
    width: 155px;
    margin-left: 8px;
    margin-right: 8px;
    text-indent: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}
.upsellFreeTxt {
    /* font-size: 30px; */
    
    text-transform: uppercase;
    color: #ED145B;
    font-weight: bold;
}
.upsellPriceTxt {
    font-size: 36px;
    font-weight: bold;
}
.text {
    position: relative;
    display: block;
    height: 26px;
    margin-bottom: 15px;
}
.thanks_left {
    border: 1px solid #000;
    float: left;
    height: auto;
    margin-top: 20px;
    padding: 20px;
    text-align: left;
    width: 30%;
}
.order {
    font-size: 20px !important;
    padding-top: 10px;
    text-align: left;
    border-bottom: 1px solid #dedede;
}
.section2_left > img {
    margin-left: -31PX;
    width: 110%;
}
.prod1 > ul {
    float: right;
    padding: 10px;
    text-align: left;
}
.section2_left {
    float: left;
    width: 30%;
}
.thanks_right li {
    padding-top: 10px;
}
.thanks_right {
    float: right;
    width: 65%;
}
.prod1 {
    width: 95%;
    border-bottom: 1px solid #dedede;
}
.fl {
    float: left;
    padding-bottom: 10px;
    text-align: left;
}
.fr {
    clear: both;
    float: right;
}
.prod2 {
    float: right;
    padding: 12px;
    width: 62%
}
.section1 {
    border-bottom: 1px solid #dedede;
}
.prod1 ul {
    width: 70%;
    padding-left: 30px;
}
.checkout_form {
    background: #e7e8ef none repeat scroll 0 0;
    border-bottom: 2px solid #afb4c6;
    border-left: 2px solid #afb4c6;
    border-right: 2px solid #afb4c6;
}
.checkout_form input[type="submit"] {
    border-radius: 5px;
    color: #000000;
    font-size: 16px !important;
    font-weight: bold !important;
    background: #00EFC5;
    padding: 25px 25px 28px 25px !important;
    line-height: 9px;
    text-decoration: none;
    width: 90% !important;
    margin: 0 0 0 25px;
    transition: all .2s ease-in-out;
    box-shadow: 2px 2px 0px #989696;
}
.bodyContent {
    color: #003449;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 18px;
    vertical-align: top;
}
.bodyContent a,
.bodyContent a:active,
.bodyContent a:link,
.bodyContent a:visited {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.bodyContent a:hover {
    color: #94C5D9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
}
.level1 {
    /*background-image: url("../img/nav/level1.gif");*/
    
    background-repeat: repeat-x;
    color: #003449;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
}
.level1 a,
.level1 a:active,
.level1 a:link,
.level1 a:visited {
    color: #003449;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}
.level1 a:hover {
    color: #94C5D9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}
.level1curr {
    background-image: url("../img/nav/level1.gif");
    background-repeat: repeat-x;
    color: #E2641A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 0 0 0 5px;
    text-decoration: none;
    vertical-align: middle;
}
.level2 {
    background-color: #F4F8F9;
    background-image: url("../img/nav/level2.gif");
    background-repeat: repeat-x;
    color: #003449;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding: 0 0 0 11px;
    text-decoration: none;
    vertical-align: middle;
}
.level2 a,
.level2 a:active,
.level2 a:link,
.level2 a:visited {
    color: #003449;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: none;
}
.level2 a:hover {
    color: #94C5D9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: none;
}
.level2curr {
    background-color: #FFFFFF;
    background-image: url("../img/nav/level2.gif");
    background-repeat: repeat-x;
    color: #E2641A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding: 0 0 0 11px;
    text-decoration: none;
    vertical-align: middle;
}
.footer,
.footer a,
.footer a:active,
.footer a:link,
.footer a:visited {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding: 0 0 12px 7px;
    text-decoration: none;
    vertical-align: bottom;
}
.footer a:hover {
    color: #94C5D9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: none;
    vertical-align: middle;
}
.headline {
    background-image: url("../img/nav/level1.gif");
    background-repeat: repeat-x;
    color: #003449;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
    padding: 10px 0 0;
    text-decoration: none;
    vertical-align: middle;
}
.bodyConten-titalic {
    color: #003449;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-style: italic;
    line-height: 12px;
    padding: 14px 7px;
    text-decoration: none;
    vertical-align: top;
}
.headline-subhead {
    background-repeat: repeat-x;
    color: #003449;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 15px;
    padding: 5px 0 0;
    text-decoration: none;
    text-transform: none;
    vertical-align: middle;
}
.bodyConten-itakic-footnote {
    color: #003449;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-style: italic;
    line-height: 12px;
    padding: 14px 7px;
    text-decoration: none;
    vertical-align: top;
}
.bullet {
    color: #003449;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 18pt;
    list-style-position: outside;
    list-style-type: disc;
    text-transform: none;
}
.headline-noline {
    color: #003449;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
}
.bodyContentCVV {
    color: #003449;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    padding: 0;
    text-decoration: none;
    vertical-align: top;
}
.kform_spacer a {
    color: #0000ee;
    font-size: 12px;
    cursor: pointer;
}
@media only screen and (max-width: 1000px) {
    .container {
        width: 767px;
    }
    .top_block {
        background-position: -200px 0;
        background-size: 1000px auto;
    }
    .top_left_inner {
        padding-left: 215px;
    }
    .top_left {
        width: 450px;
    }
    .top_left1 > span {
        font-size: 10px;
    }
    .top_left1 > img {
        width: 30px;
    }
    .top_left2 {
        text-align: right;
        width: 200px;
    }
    .top_left2 > img {
        width: 120px;
    }
    .top_left3 {
        padding: 10px 0;
        text-align: right;
    }
    .top_left3 > img {
        width: 67%;
    }
    .top_left4 li {
        font-size: 14px;
        line-height: 18px;
    }
    .top_left5 {
        background-size: 100% auto;
        font-size: 20px;
        height: 49px;
        line-height: 44px;
        margin-left: -70px;
        width: 310px;
    }
    .top_left6 {
        font-size: 12px;
        line-height: 16px;
        margin-top: 10px;
        padding: 5px 0;
        width: 200px;
    }
    .top_left44 {
        left: -39px;
        margin-left: 0;
        padding-top: 0;
        top: 387px;
        width: 250px;
    }
    .form_block_field {
        padding: 1px 0;
    }
    .form_header {
        padding: 5px 0;
    }
    .top_form {
        padding: 5px 0;
    }
    .security {
        padding-bottom: 5px;
        padding-top: 0;
    }
    .top_block {
        height: 532px;
    }
    .featured_block {
        padding: 10px;
    }
    .featured_block_right {
        margin-right: 0;
    }
    .top_left6 {
        float: right;
        font-size: 12px;
        line-height: 16px;
        margin-top: 10px;
        padding: 5px 0;
        width: 200px;
    }
    .spotlight {
        background-position: -20px 0;
        background-size: 790px auto;
        height: 415px;
        padding-left: 400px;
    }
    .spotlight_heading_img {
        margin-left: -40px;
        position: relative;
        top: -15px;
        width: 230px;
    }
    .spotlight_heading {
        font-size: 16px;
        line-height: 20px;
        margin-top: -21px;
        padding: 5px 10px;
    }
    .spotlight_list li {
        font-size: 13px;
        line-height: 15px;
        padding: 5px 10px;
    }
    .btn_block {
        padding: 10px;
    }
    .btn_block_txt {
        font-size: 14px;
        line-height: 20px;
    }
    .btn_block_txt > b {
        font-size: 19px;
    }
    .exclusive {
        margin: 10px 0;
    }
    .featured_block_left > p {
        font-size: 13px;
        line-height: 19px;
        padding-bottom: 10px;
    }
    .featured_block_left > ul {
        padding-bottom: 10px;
    }
    .layer-6-body-left {
        width: 50%;
    }
    .layer-6-body-right {
        width: 50%;
    }
    .heading span {
        font-size: 16px;
        margin-right: 10px;
        padding: 0 20px 0 10px;
    }
    .heading {
        font-size: 16px;
        padding-right: 20px !important;
    }
    .layer-6-body-right > div + div {
        padding: 5px 10px;
    }
    .layer-6-txt3 > p {
        font-size: 12px;
        padding-right: 0;
    }
    .layer-6-txt4 {
        width: 80%;
    }
    .layer-6-body {
        padding-bottom: 0;
    }
    .layer-8-imgs div.layer-8-img1,
    .layer-8-imgs div.layer-8-img2,
    .layer-8-imgs div.layer-8-img3 {
        float: left;
        padding: 0 5px;
        width: 33.333%;
    }
    .layer-8-imgs {
        padding: 10px 0;
    }
    .foot-part1-model {
        width: 61%;
    }
    .foot-part1-tag {
        padding: 100px 0 0 200px;
    }
    .foot-part1-tag > img {
        width: 100px;
    }
    .foot-part1-bottle {
        left: 250px;
        padding: 0;
        width: 250px;
    }
    .foot-part1-logo {
        padding-left: 40px;
        padding-top: 18px;
    }
    .foot-part1-achieve {
        padding-left: 25px;
    }
    .foot-part1-button {
        padding-left: 0;
        padding-top: 15px;
    }
    .foot-cont > p {
        padding: 10px 0;
    }
    .foot-cont-2 {
        padding-bottom: 10px;
    }
    .top_left_inner {
        position: relative;
    }
    .top_left44 {
        left: -79px;
        top: 215px;
        width: 300px;
    }
    .foot-part-1 {
        position: relative;
    }
    .container {
        width: 767px;
    }
    .header_ship {
        height: auto;
        margin: 0 10px;
        width: 375px;
    }
    .header_cont {
        padding: 10px;
    }
    .usa_chk {
        height: auto;
        margin-top: 10px;
        width: 215px;
    }
    .main {
        padding: 0 10px;
        width: 440px;
    }
    img {
        height: auto;
        max-width: 100%;
    }
    .hero_right > p {
        width: auto;
    }
    .hero_right {
        padding-left: 0;
    }
    .chk_footer {
        padding: 10px 0;
    }
}
@media only screen and (max-width: 767px) {
    .top_block {
        background: url(../images/bg_mobile.jpg) no-repeat center 0;
    }
    .container {
        width: 599px;
    }
    .top br {
        display: none;
    }
    .top {
        font-size: 12px;
        line-height: 16px;
        padding: 5px 0;
    }
    .top_block {
        background-position: 0 0;
        height: auto;
    }
    .top_left {
        float: none;
        padding-right: 20px;
        width: auto;
    }
    .top_left_inner {
        padding-left: 49%;
    }
    .top_left2 {
        text-align: center;
        width: auto;
    }
    .top_left2 > img {
        width: auto;
    }
    .top_left3 {
        text-align: center;
    }
    .top_left44 {
        left: -5px;
    }
    .top_left5 {
        background-size: 109% auto;
        margin-left: 0;
    }
    .top_right {
        float: none;
        margin: 0 auto;
        padding: 10px 0;
    }
    .top_left6 {
        float: none;
        width: auto;
    }
    .spotlight {
        background-size: 780px auto;
        height: 400px;
        padding-left: 320px;
    }
    .spotlight_list li {
        font-size: 11px;
    }
    .spotlight_heading {
        font-size: 14px;
    }
    .btn_block_txt {
        display: block;
        text-align: center;
    }
    .btn_block .rush_btn {
        display: block;
        float: none;
        margin: 0 auto;
    }
    .layer-6-body-left {
        float: none;
        text-align: center;
        width: auto;
    }
    .layer-6-body-right {
        float: none;
        width: auto;
    }
    .layer-6-txt4 {
        float: none;
        text-align: center;
        width: auto;
    }
    .foot-part1-tag {
        padding: 50px 0 0 150px;
    }
    .foot-part1-bottle {
        left: 200px;
        width: 200px;
    }
    .foot-part1-logo {
        padding-left: 10px;
        text-align: right;
    }
    .foot-part1-achieve {
        padding-left: 40px;
        width: 220px;
    }
    .foot-part1-button {
        clear: both;
        float: none;
        padding: 0;
    }
    .rush_btn {
        display: block;
        float: none;
        margin: 0 auto;
    }
    .chk_form label,
    .style14black {
        width: 90px;
    }
    .main_cont_body {
        padding: 10px 0;
    }
    .header_cont img {
        display: block;
        float: none !important;
        margin: 0 auto;
        width: auto !important;
    }
    .header_cont {
        display: block;
        float: none;
        text-align: center;
    }
    .container {
        width: auto;
    }
    .main {
        float: none;
        width: auto;
    }
    .aside {
        float: none;
        width: 300px;
    }
    .checkout_visa {
        margin: 0 auto;
    }
    .chk_form {
        padding: 10px 0;
    }
    .header_cont img.header_ship {
        margin-bottom: 10px;
    }
    .chk_form ul li p.checkout_input {
        margin: 0;
    }
    .master_visa_chk {
        margin: 10px auto;
    }
    .chk_secure {
        margin: 10px auto 0;
    }
    .hero_checkout > p {
        padding: 5px 0;
    }
    .container_thankyou {
        margin: 0 5px;
        width: auto;
    }
    .thankyou_header img {
        display: block;
        float: none;
        margin: 0 auto;
    }
    .thankyou_header {
        padding: 10px;
    }
    .section1 {
        padding: 10px;
        width: auto;
    }
}
@media only screen and (max-width: 600px) {
    .container {
        margin: 0 auto;
        width: 300px;
    }
    .top_block {
        background-size: 300px auto;
        margin: 0 auto;
        width: 320px;
    }
    .top_left_inner {
        padding: 114px 0 0;
    }
    .top_left2 {
        float: right;
        margin-top: -220px;
        text-align: right;
        width: 120px;
    }
    .top_left1 > span {
        padding-right: 5px;
    }
    .top_left3 {
        margin: 0 auto;
        padding: 10px 0;
        width: auto;
    }
    .top_left1 {
        padding: 79px 0 0;
    }
    .top_left4 {
        margin: 0;
        padding: 10px 0;
    }
    .top_left44 {
        left: auto;
        right: 0;
        top: 45px;
        width: 150px;
    }
    .top_left5 {
        font-size: 18px;
        margin: 0;
        padding: 0;
        text-align: center;
        width: auto;
    }
    .top_left6 {
        margin: 0;
    }
    .top_left6 {
        font-size: 16px;
        line-height: 22px;
    }
    .top_left {
        padding-right: 0;
    }
    .top_right {
        width: auto;
    }
    .heading > span {
        background: #ed145b none repeat scroll 0 0;
        display: block;
        float: none;
        line-height: 30px;
        margin: 0 -10px;
        padding: 0 10px;
    }
    .heading {
        display: block;
        font-size: 12px;
        line-height: 30px;
        padding: 0 10px !important;
    }
    .featured_block {
        padding: 10px;
    }
    .featured_block_left,
    .featured_block_right {
        float: none;
        width: auto;
    }
    .spotlight {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        height: auto;
        padding: 0 0 10px;
    }
    .spotlight_heading_img {
        margin: 0;
        width: auto;
    }
    .spotlight_heading {
        margin: 0;
    }
    .btn_block_txt > b {
        font-size: 13px;
    }
    .btn_block {
        padding: 10px 0;
    }
    .btn_block_txt {
        font-size: 13px;
        padding-top: 0;
    }
    .exclusive .featured_block_left li {
        font-size: 13px;
        line-height: 19px;
    }
    .exclusive .featured_block_right {
        margin: 0;
        width: auto;
    }
    .layer-6-txt1 > p {
        font-size: 17px;
    }
    .layer-8-imgs div.layer-8-img1,
    .layer-8-imgs div.layer-8-img2,
    .layer-8-imgs div.layer-8-img3 {
        float: none;
        padding: 5px 0;
        width: auto;
    }
    .foot-part1-tag {
        left: 93px;
        padding: 0;
        top: 64px;
        width: 70px;
    }
    .foot-part1-bottle {
        left: 126px;
        top: 45px;
        width: 162px;
    }
    .foot-part1-logo {
        clear: both;
        float: none;
        padding: 20px 0 0;
        text-align: center;
        width: auto;
    }
    .foot-part1-achieve {
        float: none;
        padding: 10px 0;
        text-align: center;
        width: auto;
    }
    .foot-part1-button {} #form {
        bottom: 0;
        font-family: "Open Sans", Arial;
        position: absolute;
        right: 1px;
        top: 61px;
        width: 311px;
        z-index: 10;
    }
    #form a {
        color: #66cc33;
    }
    #form .timer {
        position: relative;
        top: 50px;
        left: 60px;
        font-size: 20px;
    }
    #form .timer span {
        color: white;
        background: black;
        border-radius: 5px;
        padding: 8px 5px;
        margin-right: 2px;
        font-weight: bold;
    }
    #form-top {
        background: url(../images/form-top.jpg) no-repeat;
        width: auto;
        height: 157px;
    }
    #form-inner {
        width: auto;
        background: #e7e8ef;
        height: 380px;
        border-left: 3px solid #afb4c6;
        border-right: 3px solid #afb4c6;
    }
    #form-btm {
        background: rgba(0, 0, 0, 0) url("../images/form-btm.jpg") no-repeat scroll 0 0;
        border-bottom: 3px solid #afb4c6;
        border-left: 3px solid #afb4c6;
        border-right: 3px solid #afb4c6;
        height: 178px;
        width: auto;
    }
    #form form .text {
        position: relative;
        display: block;
        overflow: hidden;
        height: 34px;
        margin-bottom: -1px;
    }
    form {
        text-align: right;
        font-size: 12px;
        padding: 34px 18px 0 0;
    }
    input[type="text"] {
        height: 27px;
        width: 185px;
        margin-left: 8px;
        margin-right: 8px;
        text-indent: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
    }
    #form form select {
        width: 185px;
        height: 26px;
        margin-right: 5px;
        margin-left: 9px;
        font-size: 11px;
        color: #AAA;
        padding-left: 14px;
    }
    form input[type=text],
    form input[type=email],
    form input[type=number],
    form select,
    form textarea {
        padding: 5px 10px;
    }
    .text {
        position: relative;
        display: block;
        height: 26px;
        margin-bottom: 15px;
    }
    .hero_checkout > p {
        padding: 5px 0;
    }
    .checkout_checkout .main_header {
        padding: 10px;
    }
    .checkout_checkout .chek_discount_arrow {
        font-size: 13px;
        line-height: 13px;
        padding-bottom: 10px;
    }
    .great_choice {
        font-size: 13px;
        line-height: 20px;
    }
    .hero_left {
        float: none;
        width: auto;
    }
    .hero_right {
        float: none;
        width: auto;
    }
    .chk_discount {
        display: none;
    }
    .hero {
        padding: 10px 0;
    }
    .hero > img {
        margin: 0;
    }
    .chk_port {
        margin: 5px 0;
    }
    .bolder_chk {
        padding-bottom: 10px;
    }
    .low_stick {
        line-height: 24px;
        padding: 10px 0;
    }
    .complete_btn {
        background-position: center 0 !important;
        background-size: 100% auto;
        width: 300px;
    }
    .section1 h1 {
        font-size: 17px;
    }
    .section2 {
        padding: 10px;
    }
    .section2_left {
        float: none;
        text-align: center;
        width: auto;
    }
    .section2_right {
        float: none;
        padding: 0;
        width: auto;
    }
    .section2_right > h1 {
        padding: 5px 0;
    }
    .thankyou_cont > p {
        padding: 0 10px;
    }
}