<!doctype html>
<html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<head>
    <meta charset="utf-8">
    <link href="css/style.css" rel="stylesheet">
    <title>Oley Revive {{ prospect_id }}</title>
    <link href="css/jquery-ui-1.8.13.custom.css"
          rel="stylesheet" type="text/css"/>
</head>
<body class="checkout_body">
<div id="discountholder" style="display:none;">
    <div class="discountsection">SPECIAL DISCOUNT ACTIVATED! - SAVE OVER 50% OFF SHIPPING &amp; HANDLING ON ALL ORDERS
        PLACED TODAY! ONLY <span id="dis_price">$2.95</span>! PER TRIAL
    </div>
    <div class="discountoffset"></div>
</div>
<div class="main_container">
    <div class="container">
        <div class="header_cont">
            <img class="checkout_header_logo4" src="images/logo.png" height="51" width="131" alt="" title=""/>
            <img class="header_ship" src="images/header_ship.png" height="51" width="415" alt="" title=""/>
            <img class="usa_chk" src="images/usa_chk.png" height="31" width="254" alt="" title=""/>
            <div class="clear"></div>
        </div>
        <div class="main_cont_body">
            <div class="main">
                <div class="main_header">
                    <p><img src="images/main_header_icon.png" width="33" height="20" alt="" title=""/>
                        5 others are viewing this offer right now - <span id="time">05:00</span>
                    </p>
                </div>
                <p class="great_choice">
                    <strong>Great Choice!</strong>
                    You're taking your first step towards a better skin. Act now so you don't miss out on this offer!
                </p>
                <p class="low_stick"> Current Availability: <img src="images/low_stick.png" height="19" width="63"
                                                                 alt="" title=""/><span>LOW STOCK.</span> Sell-out Risk:
                    <strong>HIGH </strong></p>
                <div class="bolder_chk_checkout">
                    <p>
                        Your order is scheduled to arrive by
                        <strong id="arriveBy">
                            Thursday, December 15, 2016
                        </strong>
                    </p>
                </div>
                <div class="hero_checkout">
                    <div class="hero_left">
                        <img class="chk_double_bottle" src="images/product1.png" width="203" height="103" alt=""
                             title=""/></div>
                    <div class="hero_right">
                        <p><strong>Oley Revive Anti-Aging Face Therapy</strong> 30g - 30 Day Supply</p>
                        <ul>
                            <li class="price_chk">
                                <span>Price:</span>
                                <p id="pri">$
                                    0.00
                                </p>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <span>Shipping &amp; Handling:</span>
                                <p id="shipping">$
                                    4.95
                                </p>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <span>NEW TOTAL</span>
                                <p id="tot">$
                                    4.95
                                </p>
                                <div class="clear"></div>
                            </li>
                        </ul>
                        <img class="chk_port" src="images/chk_port.jpg" width="337" height="68" alt="" title=""/>
                    </div>
                    <img src="images/chek_arrow.png" width="649" height="96" alt="" title=""/>
                    <div class="clear"></div>
                </div>
            </div>
            <aside class="aside">
                <div class="aside_head">
                    <h1>FINAL STEP</h1>
                    <h2>PAYMENT INFORMATION</h2>
                </div>
                <form method="post" action="" name="checkout_form" class="checkout_form" id="checkout_form"
                      accept-charset="utf-8" enctype="application/x-www-form-urlencoded;charset=utf-8">
                    <input type="hidden" name="limelight_charset" id="limelight_charset" value="utf-8"/>
                    <div id='formfields'>
                        <div class='kform_spacer kform_checkbox'>
                            <input type="hidden" name="billingSameAsShipping" id="billingSameAsShipping" value="yes"/>
                            <input type='CHECKBOX' checked class="billing">
                            <label for='billShipSame'>
                                Billing Address same as Shipping
                            </label>
                            <div class="visa-img">
                                <img src="images/chk_visa.png">
                            </div>
                        </div>
                        <div id='kform_hiddenAddress' class="billing-info" style="display:none;">
                            <div class=''>
                                <label>Address:</label>
                                <input type="text" name="billingAddress1" placeholder="Billing Address" value=""
                                       data-error-message="Please enter your billing address!"/>
                            </div>
                            <div>
                                <label>City:</label>
                                <input type="text" name="billingCity" id="fields_city" placeholder="Billing City"
                                       value="" data-error-message="Please enter your billing city!"/>
                            </div>
                            <div>
                                <label>State:</label>
                                <select name="billingState" class="required form_control" id="fields_state">
                                    <option value="AL" data-cid="">Alabama</option>
                                    <option value="AK" data-cid="">Alaska</option>
                                    <option value="AS" data-cid="">American Samoa</option>
                                    <option value="AZ" data-cid="">Arizona</option>
                                    <option value="AR" data-cid="">Arkansas</option>
                                    <option value="CA" data-cid="">California</option>
                                    <option value="CO" data-cid="">Colorado</option>
                                    <option value="CT" data-cid="">Connecticut</option>
                                    <option value="DE" data-cid="">Delaware</option>
                                    <option value="DC" data-cid="">District of Columbia</option>
                                    <option value="FM" data-cid="">Federated States of Micronesia</option>
                                    <option value="FL" data-cid="">Florida</option>
                                    <option value="GA" data-cid="">Georgia</option>
                                    <option value="GU" data-cid="">Guam</option>
                                    <option value="HI" data-cid="">Hawaii</option>
                                    <option value="ID" data-cid="">Idaho</option>
                                    <option value="IL" data-cid="">Illinois</option>
                                    <option value="IN" data-cid="">Indiana</option>
                                    <option value="IA" data-cid="">Iowa</option>
                                    <option value="KS" data-cid="">Kansas</option>
                                    <option value="KY" data-cid="">Kentucky</option>
                                    <option value="LA" data-cid="">Louisiana</option>
                                    <option value="ME" data-cid="">Maine</option>
                                    <option value="MD" data-cid="">Maryland</option>
                                    <option value="MA" data-cid="">Massachusetts</option>
                                    <option value="MI" data-cid="">Michigan</option>
                                    <option value="MN" data-cid="">Minnesota</option>
                                    <option value="MS" data-cid="">Mississippi</option>
                                    <option value="MO" data-cid="">Missouri</option>
                                    <option value="MT" data-cid="">Montana</option>
                                    <option value="NE" data-cid="">Nebraska</option>
                                    <option value="NV" data-cid="">Nevada</option>
                                    <option value="NH" data-cid="">New Hampshire</option>
                                    <option value="NJ" data-cid="">New Jersey</option>
                                    <option value="NM" data-cid="">New Mexico</option>
                                    <option value="NY" data-cid="">New York</option>
                                    <option value="NC" data-cid="">North Carolina</option>
                                    <option value="ND" data-cid="">North Dakota</option>
                                    <option value="MP" data-cid="">Northern Mariana Islands</option>
                                    <option value="OH" data-cid="">Ohio</option>
                                    <option value="OK" data-cid="">Oklahoma</option>
                                    <option value="OR" data-cid="">Oregon</option>
                                    <option value="PA" data-cid="">Pennsylvania</option>
                                    <option value="PR" data-cid="">Puerto Rico</option>
                                    <option value="MH" data-cid="">Republic of Marshall Islands</option>
                                    <option value="RI" data-cid="">Rhode Island</option>
                                    <option value="SC" data-cid="">South Carolina</option>
                                    <option value="SD" data-cid="">South Dakota</option>
                                    <option value="TN" data-cid="">Tennessee</option>
                                    <option value="TX" data-cid="">Texas</option>
                                    <option value="UT" data-cid="">Utah</option>
                                    <option value="VT" data-cid="">Vermont</option>
                                    <option value="VI" data-cid="">Virgin Islands of the U.S.</option>
                                    <option value="VA" data-cid="">Virginia</option>
                                    <option value="WA" data-cid="">Washington</option>
                                    <option value="WV" data-cid="">West Virginia</option>
                                    <option value="WI" data-cid="">Wisconsin</option>
                                    <option value="WY" data-cid="">Wyoming</option>
                                </select>
                            </div>
                            <div>
                                <label>Country:</label>
                                <select name="billingCountry" data-selected=""
                                        data-error-message="Please select your billing country!"
                                        class="required no-error">
                                    <option value="US" data-cid="">United States</option>
                                </select>
                            </div>
                            <div>
                                <label>Postal Code:</label>
                                <input type="text" name="billingZip" maxlength="5"
                                       onkeyup="javascript: this.value = this.value.replace(/[^0-9]/g,'');"
                                       placeholder="Billing Zip Code" value="" class="zip-change"
                                       data-error-message="Please enter a valid billing zip code!"/>
                            </div>
                        </div>
                        <div>
                            <div style='display:none'>
                                <div id='kformPaySourceWrap' inputType='radio'></div>
                                <div class='kform_spacer' id='kformNewPaymentType'>
                                </div>
                            </div>
                        </div>
                        <div>
                            <label>Select Card Type #:</label>
                            <select name="creditCardType" id="cardbox" class="required"
                                    data-deselect="false"
                                    data-error-message="Please select valid card type!">
                                <option value="">Card Type</option>
                                <option value="visa">Visa</option>
                                <option value="master">Master Card</option>
                                <option value="discover">Discover</option>
                            </select>
                        </div>
                        <div>
                            <label>Credit Card #:</label>
                            <input type="text" name="creditCardNumber" class="required  masked masked-lined-dashed"
                                   maxlength="16" data-error-message="Please enter a valid credit card number!"/>
                        </div>
                        <div style="margin-right:0px;">
                            <label>Exp. Date:</label>
                            <select name="expmonth" class="required small"
                                    data-error-message="Please select a valid expiry month!">
                                <option value="">Month</option>
                                <option value="01">(01) January</option>
                                <option value="02">(02) February</option>
                                <option value="03">(03) March</option>
                                <option value="04">(04) April</option>
                                <option value="05">(05) May</option>
                                <option value="06">(06) June</option>
                                <option value="07">(07) July</option>
                                <option value="08">(08) August</option>
                                <option value="09">(09) September</option>
                                <option value="10">(10) October</option>
                                <option value="11">(11) November</option>
                                <option value="12">(12) December</option>
                            </select>
                            <!-- <input type="text" class = "s-input" placeholder="Month"> -->
                            <select name="expyear" class="required small"
                                    data-error-message="Please select a valid expiry year!">
                                <option value="">Year</option>
                                <option value="16">2016</option>
                                <option value="17">2017</option>
                                <option value="18">2018</option>
                                <option value="19">2019</option>
                                <option value="20">2020</option>
                                <option value="21">2021</option>
                                <option value="22">2022</option>
                                <option value="23">2023</option>
                                <option value="24">2024</option>
                                <option value="25">2025</option>
                                <option value="26">2026</option>
                                <option value="27">2027</option>
                                <option value="28">2028</option>
                                <option value="29">2029</option>
                                <option value="30">2030</option>
                                <option value="31">2031</option>
                                <option value="32">2032</option>
                                <option value="33">2033</option>
                                <option value="34">2034</option>
                                <option value="35">2035</option>
                            </select>
                            <!-- <input type="text" class = "s-input" placeholder="Year"> -->
                        </div>
                        <div id="cvv">
                            <label>CVV2:</label>
                            <input type="text" name="CVV" class="required" data-validate="cvv" maxlength="3"
                                   data-error-message="Please enter a valid CVV code!"
                                   onkeyup="javascript: this.value = this.value.replace(/[^0-9]/g,'');"/>
                        </div>
                        <div class="kform_spacer" style="width: 80px; float:right;">
                            <a id="cvvlink">What is This?</a>
                        </div>
                        <div class="clear"></div>
                        <div id="form-bottom">
                            <div class="form-button">
                                <div id="lock"></div>
                                <div class="kform_spacer">
                                    <input type="hidden" name="prospectId" value="8697"/>
                                    <input type="hidden" name="previous_order_id" value=""/>
                                    <input type="hidden" name="shippingId" value="1"/>
                                    <input type="hidden" name="productId" value="241"/>
                                    <input type="hidden" name="return_url" value="">
                                    <input type="hidden" name="cancel_url" value="">
                                    <input type="hidden" name="shipPrice" value="">
                                    <input type="submit" name="" class='kform_submitBtn btn' id='kformSubmit'
                                           value="COMPLETE CHECKOUT"/>
                                    <div id="splitcharge" style
                                    "display:none;">
                                </div>
                            </div>
                            <input type='hidden' name='orderItems' value=''>
                        </div>
                    </div>
                    <div style="text-align:center;">
                        <input type="checkbox" name="shipinsurance"/>
                        2.99 (Decline) Shipping Protection<!-- : (will be billed separately) -->
                        <div style="clear:both"></div>
                        <br/> &nbsp;
                    </div>
                    <div style="display:none;">
                        (Decline) Shipping Protection: (will be billed separately)
                        <div style="clear:both"></div>
                        <br/> &nbsp;
                    </div>
                    <p id="loading-indicator" style="display:none;">Processing...</p>
                    <p id="crm-response-container" style="display:none;">Limelight messages will appear here...</p>
                </form>
            </aside>
            <div class="clear"></div>
        </div>
    </div>
</div>
<footer class="chk_footer">
    <div class="container">
        <ul>
            <li><a id="terms">TERMS</a></li>
            <li><a id="privacy">PRIVACY POLICY</a></li>
            <li><a id="contact474">CONTACT US</a></li>
        </ul>
        <p> 2016 &copy;
            Oley Revive Skin
        </p>
    </div>
</footer>
<div id="termsModal" class="modal">
    <div class="modal-content">
        <span class="close">x</span>
        <iframe src="terms.html" frameborder="0"></iframe>
    </div>
</div>
<div id="privacyModal" class="modal">
    <div class="modal-content">
        <span class="close close1">x</span>
        <iframe src="privacy.html" frameborder="0"></iframe>
    </div>
</div>
<div id="contactModal" class="modal">
    <div class="modal-content">
        <span class="close close2">x</span>
        <iframe src="contact.html" frameborder="0"></iframe>
    </div>
</div>
<div id="cvvModal" class="modal">
    <div class="modal-content">
        <span class="close close3">x</span>
        <iframe src="cvv.html" frameborder="0"></iframe>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/jquery-ui-1.8.13.custom.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/jquery.validate.wrapper.js"></script>
<script src="js/strftime-min.js"></script>
<script>
    var arriveByDate = new Date();
    var numberOfDaysToAdd = 3;
    arriveByDate.setDate(arriveByDate.getDate() + numberOfDaysToAdd);
    $("#arriveBy").text(arriveByDate.strftime('%A, %B %d, %Y'));
</script>

<script type="text/javascript">
    // Get the modal
    var modal = document.getElementById('termsModal');
    var modal1 = document.getElementById('privacyModal');
    var modal2 = document.getElementById('contactModal');
    var modal3 = document.getElementById('cvvModal');

    // Get the button that opens the modal
    var btn = document.getElementById("terms");
    var btn1 = document.getElementById("privacy");
    var btn2 = document.getElementById("contact474");
    var btn3 = document.getElementById("cvvlink");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    var span1 = document.getElementsByClassName("close1")[0];
    var span2 = document.getElementsByClassName("close2")[0];
    var span3 = document.getElementsByClassName("close3")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }
    btn1.onclick = function () {
        modal1.style.display = "block";
    }
    btn2.onclick = function () {
        modal2.style.display = "block";
    }
    btn3.onclick = function () {
        modal3.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }
    span1.onclick = function () {
        modal1.style.display = "none";
    }
    span2.onclick = function () {
        modal2.style.display = "none";
    }
    span3.onclick = function () {
        modal3.style.display = "none";
    }
</script>
<script type="text/javascript">
    var min = 4;
    var second = 59;
    var zeroPlaceholder = '';
    var counterId = setInterval(function () {
        countUp();
    }, 1000); 	// To start the timer


    function countUp() {
        second--;
        if (second == 00) {
            if (min != 0) {
                second = 59;
                min = min - 1;
                zeroPlaceholder = '';
            } else {
                clearInterval(counterId);	// To stop the timer
            }
        }
        if (second == 10) {
            zeroPlaceholder = '';
        } else if (second < 10) {
            zeroPlaceholder = 0;
        }
        $('#time').html(min + ':' + zeroPlaceholder + second);
    }
</script>
<script type="text/javascript">
    $(".billing").on("click", function () {
        if ($(this).prop('checked')) {
            $('#kform_hiddenAddress').css("display", "none");
        } else {
            $('#kform_hiddenAddress').css("display", "block");
        }
    });

</script>

<script type="text/javascript">
    var rules = {
        creditCardType: {
            required: true
        },
        creditCardNumber: {
            required: true,
            number: true,
            minlength: 12
        },
        expmonth: {
            required: true,
            number: true

        },
        expyear: {
            required: true,
            number: true

        },
        CVV: {
            required: true,
            number: true,
            minlength: 3,
            maxlength: 3

        }
    };
    var messages = {
        creditCardType: {
            required: "Card type Is required"
        },
        creditCardNumber: {
            required: "Card number Is required"
        },
        expmonth: {
            required: "exp month is required"
        },
        expyear: {
            required: "exp. year is required"
        },
        CVV: {
            required: "CVV is required"
        }

    };

    var validator = new jQueryValidatorWrapper("checkout_form", rules, messages);
    console.log(validator, rules, messages);

    $("#kformSubmit").click(function () {
        var card_number = $('input[name=creditCardNumber]').val();
        var guessed_card_type = GetCardType(card_number);
        if (guessed_card_type) {
            $('select[name=creditCardType]').val(guessed_card_type);
        }
        if (!validator.validate())
            return;
    });

    /**
     * @return {string}
     */
    function GetCardType(number) {
        // visa
        var re = new RegExp("^4");
        if (number.match(re) != null)
            return "visa";

        // Mastercard
        re = new RegExp("^5[1-5]");
        if (number.match(re) != null)
            return "mastercard";


        // Discover
        re = new RegExp("^(6011|622(12[6-9]|1[3-9][0-9]|[2-8][0-9]{2}|9[0-1][0-9]|92[0-5]|64[4-9])|65)");
        if (number.match(re) != null)
            return "discover";


        return "";
    }

</script>

</body>
</html>