<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="shortcut icon" href="images/logoico.ico" />
        <link href="css/style_success.css" rel="stylesheet">
        <link href="css/bootstrap.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="bodycolour">
            <div class="logopart">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 logo_wrapper">
                            <center>
                                <div><img src="images/logo.png" class="img-responsive"/></div>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="container whitepart">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1 class="textone">
                                <div>Congratulations!!! <br>Your order will be shipped out in few hours</div>
                            </h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="greenbackground">Items In Your Order</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                <tr>
                                    <td class="tableborder_one">
                                        <div class="tabletext_one">Product Name</div>
                                    </td>
                                    <td class="tableborder_one one">
                                        <div class="tabletext_one textcenter">Unit Price</div>
                                    </td>
                                    <td class="tableborder_one two">
                                        <div class="tabletext_one textcenter">Qty.</div>
                                    </td>
                                    <td class="tableborder_two three">
                                        <div class="tabletext_one textcenter">Price</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tableborder_one">
                                        <div class="tableimg"><img src="images/product.png" class="img-responsive"/></div>
                                        <div class="tabletext">
                                            <div class="tabletext_two">OLEY REVIVE TRIAL PACK</div>
                                            <div class="tabletext_three">1 Bottle <span>(Free)</span></div>
                                        </div>
                                    </td>
                                    <td class="tableborder_one">
                                        <div class="tabletext_four">$0.00</div>
                                    </td>
                                    <td class="tableborder_one">
                                        <div class="tabletext_four">1</div>
                                    </td>
                                    <td class="tableborder_two">
                                        <div class="tabletext_four">$0.00</div>
                                    </td>
                                </tr>
                            {% load humanize %}

                                {% for line in order %}
                                    {% if not forloop.first %}
                                    <tr>
                                    <td class="tableborder_one">
                                        <div class="tableimg">{% if line.product.image %}<img src="{{  line.product.image}}" class="img-responsive"/>
                                        {% else %}<div style="width:170px; height:159px"></div> {% endif %}</div>
                                        <div class="tabletext">
                                            <div class="tabletext_two">{{  line.product.name|upper}}</div>
                                        </div>
                                    </td>
                                    <td class="tableborder_one">
                                        <div class="tabletext_four">${{ line.total|floatformat:2|intcomma }}</div>
                                    </td>
                                    <td class="tableborder_one">
                                        <div class="tabletext_four">1</div>
                                    </td>
                                    <td class="tableborder_two">
                                        <div class="tabletext_four">${{ line.total|floatformat:2|intcomma }}</div>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="3" class="tableborder_one">
                                        <div class="tabletext_one fontsize14">Subtotal:</div>
                                        <div class="tabletext_one fontsize14">Shipping:</div>
                                        <div class="tabletext_one fontsize14">Payment Method:</div>
                                    </td>
                                    <td class="tableborder_two">
                                        <div class="tabletext_four fontsize15">${{ subtotal|floatformat:2|intcomma }}</div>
                                        <div class="tabletext_four fontsize15">${{ order.0.total|floatformat:2|intcomma }}</div>
                                        <div class="tabletext_four fontsize15">Card</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" class="tableborder_one">
                                        <div class="tabletext_one fontsize14">Total :</div>
                                    </td>
                                    <td class="tableborder_two">
                                        <div class="tabletext_four fontsize15"><b>${{ total }}</b></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="greenbackground margin_two">Contact The Support Team</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="support_section">
                                <div class="phonegirlimg">
                                    <img src="images/girl.png" class="girlimg"/>
                                </div>
                                <div class="support_info">
                                    <div class="support_info_text"><img src="images/ticket.png" class="img-responsive ticket">Raise a support ticket</div>
                                    <div class="support_info_text"><img src="images/mobile.png" class="img-responsive mobile"><span>1-888-894-8568</span></div>
                                    <div class="support_info_text"><img src="images/envelope.png" class="img-responsive message"><a href="#">info@shineconvrkit.com</a></div>
                                    <div class="support_info_text"><img src="images/followbutton.png" class="tweet"></div>
                                    <div class="support_info_text"><img src="images/gplus.png" class="img-responsive"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container margin_three">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="couponimg">
                                <div class="coupontext">
                                    <div class="discount">Get a <span>10% Discount</span> on</div>
                                    <div class="purchasetext">your next purchase with this Coupon</div>
                                    <div class="couponbutton">Coupon Code: gsdi028gGBK</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container margin_four">
                    <div class="row">
                        <div class="col-xs-12 paddinglr">
                            <div class="footertext">This product has not been evaluated by the FDA. This product is not intended to diagnose, treat, cure or prevent any disease. Results in description are illustrative and may not be typical results and individual results may vary. The depictions on this page are fictitious and indicative of potential results. Representations regarding the efficacy and safety of O'ley Revive Anti-Aging Face Therapy have not been scientifically substantiated or evaluated by the Food and Drug Administration.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>