
/* google webfont import */
@import url('http://fonts.googleapis.com/css?family=PT+Sans:400italic,700italic|Open+Sans:300,400,600,700,800|Open+Sans+Condensed:700,300|Archivo+Narrow:400italic,700italic|Source+Sans+Pro:400,700,900');
/* Micro Clear Fix For modern browsers */
.cf:before,.cf:after{content:"";display:table;}
.cf:after{clear:both;}
/* For IE 6/7 (trigger hasLayout) */
.cf{zoom:1;}
/* reset */
html{background: none;}
body i {display:none;}
h1, h2, h3, h4, h5, h6, figure, blockquote {line-height:normal; margin:0; padding:0;}
p {
  font-size:14px;
  line-height:20px;
  font-family:;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
/* layout */
html {background:url('mainbg.png') repeat;}
  body {background:url('gradientbg.png') repeat-x top;padding:15px;}
    body a {color:#367f22;}
      body a:hover {color:#e65b12;}
.logobox{
  width:auto; 
  text-align:center; 
  margin-bottom:20px;
}
#main{
  background-color:#fff;
  border: 4px solid #333;
  padding: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px; width:auto;
}
.contentinner{
  width:auto;
}
/* footer */
footer {width:910px !important; margin:0 auto; padding:30px 0 50px 0;}
  footer .ftLinks {font-size:12px; line-height:12px; display:block; float:left; width:600px;}
    footer .ftLinks span {padding:0 3px;}
  footer h3 {font-size:12px; line-height:12px; text-align:right}
  footer p {font-size:12px; line-height:18px; padding:0 0 15px 0; margin:0; color:#838383;}
  footer .disclaimer {padding:20px 0 15px 0;}

/* index */
body.index {padding-top:1px;}
  .index header {background:url('headerbg.png') no-repeat center 176px;}
    .index header .container {background:url('headerinner.png'); height:563px; width:910px; margin:0 auto 16px auto; position:relative; z-index:9;}
      .index header .shadow {background:url('headershadow.png'); width:970px; height:597px; position:absolute; z-index:9; left:-30px; bottom:-41px;}
      .index header .logo {background:url('logo-2.png'); width:187px; height:98px; position:absolute; left:297px; top:18px; z-index:10;}
      .index header .img01 {background:url('headergirl.png'); width:286px; height:570px; position:absolute; left:4px; top:-53px; z-index:10;}
      .index header .details {width:312px; position:absolute; left:232px; top:112px;}
        .index header .details li {list-style:none; background:url('headerbullet.png') no-repeat 0 0; padding:0 0 20px 40px; font-size:12px; line-height:14px; text-transform:uppercase;}
          .index header .details li .head {background:url('headerlist.png') no-repeat; display:block; clear:both;}
            .index header .details li .head.head1 {background-position:0 0; width:135px; height:29px; margin-bottom:5px;}
            .index header .details li .head.head2 {background-position:0 -91px; width:251px; height:32px; margin-bottom:5px;}
            .index header .details li .head.head3 {background-position:0 -169px; width:261px; height:35px;}
      .index header .arrow {background:url('headerarrow.png'); width:584px; height:251px; position:absolute; left:10px; top:396px; z-index:11;}
      .index header .product {background:url('headerproduct.png'); width:314px; height:311px; position:absolute; left:22px; top:194px; z-index:12;}
      .index header .badge {background:url('headerbadge.png'); width:85px; height:85px; position:absolute; z-index:12; right:269px; top:21px; margin:0; padding:0;}
      .index header .tag {background:url('headertag.png'); width:364px; height:93px; position:absolute; right:-42px; top:2px; z-index:11; margin:0;}
      .index header .formCont {background:url('headerformbg.png'); width:345px; height:492px; position:absolute; left:563px; top:80px; z-index:10;}
        .index header .formCont form {display:block; padding:86px 0 0 0;}
          .index header .formCont form fieldset {width:238px; margin:0 auto 0 55px; padding-bottom:10px;}
            .index header .formCont form fieldset .fields {margin:0; padding:0 0 7px 0; position:relative;}
              .index header .formCont form fieldset .fields input, .index header .formCont form fieldset .fields select {margin:0; width:223px; background:#fefff1;}
                .index header .formCont form fieldset .fields input.span2 {width:100px;}
                .index header .formCont form fieldset .fields input:focus {border:1px solid #8aba27; box-shadow:0 0 10px #b0e156 !important;}
                .index header .formCont form fieldset .fields select:focus {border:1px solid #8aba27; outline: 5px auto #b0e156;}
          .index header .formCont form .btnRush {background:url('btnrush.png'); width:262px; height:60px; border:none; cursor:pointer; display:block; margin:0 auto 0 42px;}
            .index header .formCont form .btnRush:hover {background-position:0 -60px;}
            .index header .formCont form .btnRush:active {background-position:0 -120px;}
      .index header .arrow2 {background:url('headerarrow2.png'); width:67px; height:152px; position:absolute; z-index:11; right:-31px; bottom:-101px;}
  .index #main .container {width:910px; margin:0 auto;}
    .index #main .sec1 {background:url('section1bg.png'); height:480px; margin-bottom:25px;}
      .index #main .sec1 h2 {font-family:"Open Sans Condensed", sans-serif; font-size:37px; line-height:37px; text-transform:uppercase; padding:52px 0 0 27px;}
        .index #main .sec1 h2 strong.black {color:#333; border-bottom:2px solid #333; display:block; float:left; width:220px;}
        .index #main .sec1 h2 strong.green {color:#367f22; border-bottom:2px solid #367f22; display:block; float:left; padding-left:10px; width:290px;}
        .index #main .sec1 h2 span {display:block; clear:both; color:#ff6600; border-bottom:2px solid #ff6600; width:550px;}
      .index #main .sec1 ul.list {display:block; float:left; font-size:20px;}
        .index #main .sec1 ul.list li {background:url('section1bullet.png') no-repeat; list-style:none; padding:0 0 15px 30px;}
        .index #main .sec1 ul.listLeft {width:435px; padding:30px 0 0 25px;}
        .index #main .sec1 ul.listRight {width:365px; padding:30px 0 0 10px;}
      .index #main .sec1 h3 {font-family:"Open Sans", sans-serif; font-size:18px; color:#ff6600; padding:20px 0 0 25px;}
      .index #main .sec1 p {font-size:14px; line-height:18px; padding:25px;}
    .index #main .promo {background:url('promobg.png'); height:104px; margin-bottom:25px; position:relative;}
      .index #main .promo h3 {font-family:"Open Sans Condensed", sans-serif; font-size:27px; color:#fff; width:346px; line-height:30px; padding:22px 0 0 215px; text-align:center;}
        .index #main .promo h3 strong {display:block; clear:both; color:#f6ff66;}
      .index #main .promo .btnRiskFree {background:url('btnriskfree.png'); width:171px; height:71px; position:absolute; right:28px; top:16px; display:block; border:none; cursor:pointer;}
        .index #main .promo .btnRiskFree:hover {background-position:0 -71px;}
        .index #main .promo .btnRiskFree:active {background-position:0 -142px;}
    .index #main .sec2 {background:url('section2bg.png'); height:450px; margin-bottom:25px; position:relative;}
      .index #main .sec2 .left {width:530px; float:left; padding:55px 0 0 35px;}
        .index #main .sec2 .left h2 {font-family:"Open Sans Condensed", sans-serif; font-size:46px; line-height:48px;}
          .index #main .sec2 .left h2 strong {color:#367f22;}
        .index #main .sec2 .left h3 {font-family:"Open Sans Condensed", sans-serif; font-size:34px; line-height:36px; color:#ff6600; text-transform:uppercase; padding-bottom:15px;}
        .index #main .sec2 .left p {font-size:15px; line-height:22px; padding:0 100px 10px 0;}
      .index #main .sec2 .right {width:326px; float:left;}
        .index #main .sec2 .right h3 {font-family:"Open Sans Condensed", sans-serif; font-size:30px; line-height:30px; text-transform:uppercase; padding:10px 0 0 70px; letter-spacing:-1px;}
          .index #main .sec2 .right h3 .green {color:#367f22;}
          .index #main .sec2 .right h3 .orange {color:#ff6600;}
        .index #main .sec2 .right ul {list-style:none; color:#fff; padding:0 0 0 100px; font-size:13px; line-height:16px;}
          .index #main .sec2 .right ul li {padding:0 20px 0 0;}
            .index #main .sec2 .right ul li.list1 {padding:25px 0 32px 0;}
        .index #main .sec2 .right .btnSendMyBottle {background:url('btnsendmybottle.png'); width:262px; height:60px; margin:33px 0 0 60px; display:block; border:none; cursor:pointer;}
          .index #main .sec2 .right .btnSendMyBottle:hover {background-position:0 -60px;}
          .index #main .sec2 .right .btnSendMyBottle:active {background-position:0 -120px;}
      .index #main .sec2 .arrow {background:url('section2arrow.png'); width:635px; height:183px; position:absolute; left:-32px; top:268px;}
      .index #main .sec2 .arrow2 {background:url('headerarrow2.png'); width:67px; height:152px; position:absolute; z-index:11; right:-31px; top:-72px;}
    .index #main .sec3 {background:url('section3bg.png'); height:332px; margin-bottom:25px;}
      .index #main .sec3 .video {padding:25px 0 0 33px; display:block; float:left;}
      .index #main .sec3 .info {width:517px; float:left; padding:30px 0 0 30px;}
        .index #main .sec3 .info p {font-size:14px; line-height:18px; padding-bottom:10px; margin:0;}
          .index #main .sec3 .info p:last-child {padding-bottom:0;}
          .index #main .sec3 .info .orange {color:#ff6600;}
    .index #main .testi {background:url('testibg.png'); width:986px; height:363px; margin:0 auto 20px auto; position:relative;}
      .index #main .testi .userTesti p {font-size:12px; line-height:16px; padding-bottom:10px; margin:0;}
      .index #main .testi .userTesti small {font-size:12px; display:block; text-align:right; font-weight:bold; font-style:italic;}
      .index #main .testi .testi1 {width:212px; position:absolute; left:233px; top:145px;}
      .index #main .testi .testi2 {width:210px; position:absolute; left:624px; top:175px;}
    .index #main .bottom {background:url('bottombg.png'); height:262px; position:relative;}
      .index #main .bottom .arrow {background:url('bottomarrow.png'); width:366px; height:183px; position:absolute; left:-28px; top:87px;}
      .index #main .bottom .product {background:url('bottomproduct.png'); width:288px; height:308px; position:absolute; right:0; top:-23px;}
      .index #main .bottom h3 {font-size:18px; text-transform:uppercase; line-height:18px; font-weight:normal; color:#eb4004; text-align:center; padding:22px 0 20px 20px;}
      .index #main .bottom h2 {font-family:"Open Sans", sans-serif; font-size:26px; line-height:33px; color:#407b07; text-align:center; text-transform:uppercase; padding:0 0 0 20px;}
      .index #main .bottom .btnSendMyBottle {background:url('btnsendmybottle.png'); width:262px; height:60px; margin:25px 0 0 340px; display:block; border:none; cursor:pointer;}
        .index #main .bottom .btnSendMyBottle:hover {background-position:0 -60px;}
        .index #main .bottom .btnSendMyBottle:active {background-position:0 -120px;}
  .index footer {position:relative; z-index:10;}

.checkout {padding:53px 0 0 0;}
  .checkout header {background:url('headerbg-2.png'); width:910px; height:144px; margin:0 auto 16px auto; position:relative; border-radius:5px; box-shadow:0 0 3px #909d8b;ÃƒÅ¸}
    .checkout header .logo {background:url('logo-2.png'); width:237px; height:81px; position:absolute; left:337px; top:30px;}
    .checkout header .imgProd {background:url('headerassets.png'); width:305px; height:199px; position:absolute; left:34px; top:-50px;}
  .checkout #main {background:url('contentbg.jpg') no-repeat center bottom #fdffec; width:910px; margin:0 auto; min-height:700px; border-radius:5px; box-shadow:0 0 3px #909d8b;}
    .checkout #main .left {width:856px; float:left; padding:20px 20px 20px 22px;}
      .checkout #main .left .boxes {background:#fff; border:1px solid #cfd8b1; margin-bottom:18px; position:relative; cursor:pointer; display:block; box-shadow:0 0 3px #e3e6cd;}
        .checkout #main .left .boxes.active {background-color:#e1f69e; box-shadow:0 0 30px #5f6248;}
        .checkout #main .left .boxes .head {font-family:"Open Sans Condensed", sans-serif; font-weight:400; font-size:22px; line-height:22px; height:33px; background:#c0d8a9; padding:10px 0 0 25px;}
          .checkout #main .left .boxes.active .head {background:url('headactive.png') repeat-x bottom #f1ff7c;}
          .checkout #main .left .boxes .head strong {font-weight:700; color:#ec4004; text-decoration:underline;}
        .checkout #main .left .boxes .freeShip {background:url('freeship.png'); width:182px; height:50px; position:absolute; right:12px; top:-7px;}
        .checkout #main .left .boxes .info {display:block; clear:both; padding:20px 0;}
          .checkout #main .left .boxes .info .savings {width:318px; float:left; padding:0 0 0 20px;}
            .checkout #main .left .boxes .info .savings .select {display:block; float:left; margin:50px 7px 0 0;}
            .checkout #main .left .boxes .info .savings .product {background:url('products.png'); height:110px; float:left;}
            .checkout #main .left .boxes.box1 .info .savings .product {background-position:0 0; width:285px;}
            .checkout #main .left .boxes.box2 .info .savings .product {background-position:0 -110px; width:244px;}
            .checkout #main .left .boxes.box3 .info .savings .product {background-position:0 -220px; width:65px; margin-left:20px;}
            .checkout #main .left .boxes.box3 .info .savings h4 {font-family:"Open Sans", sans-serif; font-weight:600; font-size:14px; width:180px; text-align:center; float:left; padding:30px 0 0 25px;}
          .checkout #main .left .boxes .info .details {width:195px; float:left;}
            .checkout #main .left .boxes .info .details h3 {font-family:"Open Sans Condensed", sans-serif; font-weight:400; font-size:20px; text-align:center; line-height:24px; padding-bottom:10px;}
            .checkout #main .left .boxes .info .details h2 {font-family:"Open Sans Condensed", sans-serif; font-weight:700; font-size:35px; line-height:35px; color:#ec4004; letter-spacing:-1px; padding-left:10px;}
            .checkout #main .left .boxes .info .details .saveIcon {background:url('savings.png'); width:81px; height:83px; position:absolute; right:15px; bottom:-6px;}
            .checkout #main .left .boxes.box2 .info .details .saveIcon {background-position:0 -83px;}
            .checkout #main .left .boxes.box3 .info .details .saveIcon {background-position:0 -166px;}
        .checkout #main .left .orderSummary {background:#fff; border:1px solid #cfd8b1; margin-bottom:18px; position:relative; display:block; padding:30px 0; box-shadow:0 0 3px #e3e6cd;}
          .checkout #main .left .orderSummary .orderInner {width:295px; padding:0 0 0 243px;}
            .checkout #main .left .orderSummary .orderInner h3 {font-family:"Open Sans Condensed", sans-serif; font-weight:400; font-size:17px;}
              .checkout #main .left .orderSummary .orderInner h3 .detail {width:91px; display:block; float:left;}
              .checkout #main .left .orderSummary .orderInner .strike {text-decoration:line-through;}
          .checkout #main .left .orderSummary .usps {background:url('usps.png'); width:109px; height:88px; position:absolute; left:47px; top:31px;}
        .checkout #main .right {width:305px; float:left; padding:20px 0 0 23px;}
          .checkout #main .right .formCont {background:#34501a; display:block; border-radius:23px; box-shadow:0 2px 5px #98a189; padding-bottom:20px; margin-bottom:20px;}
            .checkout #main .right .formCont .title {background:url('formhead.png'); width:305px; height:71px;}
            .checkout #main .right .formCont form {width:262px; margin:0 auto 20px auto;}
              .checkout #main .right .formCont form fieldset {width:238px; margin:0 auto; padding:20px 0 10px 0;}
                .checkout #main .right .formCont form fieldset .fields {margin:0; padding:0 0 15px 0; position:relative;}
                  .checkout #main .right .formCont form fieldset .fields label {font-size:12px; color:#fff; margin:0; padding:0 0 3px 0; display:block; clear:both;}
                  .checkout #main .right .formCont form fieldset .fields input {margin:0; width:223px; background:#fefff1;}
                  .checkout #main .right .formCont form fieldset .fields select.expires {margin:0 5px 0 0; width:100px; background:#fefff1; height:30px; float:left;}
                  .checkout #main .right .formCont form fieldset .fields select {margin:0; width:150px; background:#fefff1; height:30px;}
                    .checkout #main .right .formCont form fieldset .fields input.span1 {width:80px; margin-right:5px;}
                    .checkout #main .right .formCont form fieldset .fields a {font-size:12px; color:#baec58; text-decoration:underline;}
                    .checkout #main .right .formCont form fieldset .fields input:focus {border:1px solid #8aba27; box-shadow:0 0 10px #b0e156 !important;}
                    .checkout #main .right .formCont form fieldset .fields select:focus {border:1px solid #8aba27; outline: 5px auto #b0e156;}
              .checkout #main .right .formCont form .btnRush {background:url('btnrush.png'); width:262px; height:60px; border:none; cursor:pointer; display:block; margin:0 auto;}
                .checkout #main .right .formCont form .btnRush:hover {background-position:0 -60px;}
                .checkout #main .right .formCont form .btnRush:active {background-position:0 -120px;}
            .checkout #main .right .formCont .secure {background:url('sslbg.png'); width:271px; height:41px; margin:0 auto 10px auto; font-weight:normal;}
              .checkout #main .right .formCont .secure span {display:block; font-size:11px; color:#fff; text-align:right; padding:18px 20px 0 0;}
                .checkout #main .right .formCont .secure span strong {font-weight:normal; color:#baec58;}
            .checkout #main .right .formCont .paymentType {background:url('ccards.png'); width:271px; height:41px; margin:0 auto;}
          .checkout #main .right .secure {background:url('secure.png'); width:212px; height:93px; margin:0 auto;}

/* edit 2012-12-18 */
.checkout #main .left .boxes .info .savings {width:328px;}
.checkout #main .left .boxes .info .savings .checkbox {background:url('checkbox.png') no-repeat 0 -37px; width:41px; height:37px; float:left; padding:0; margin:30px 0 0 0;}
.checkout #main .left .boxes.active .info .savings .checkbox {background-position:0 0;}
.checkout #main .left .boxes .info .details .saveIcon {right:3px;}
.checkout #main .left .boxes.box3 .info .savings h4 {width:170px;}

/* validation */
form em.error {background-color:#f2dede; display:block; color:#b94a48; padding:5px 10px; font-size:11px; border-radius:5px; border:1px solid #eac2c2; width:199px; margin:0; position:absolute; right:-225px; top:1px;}
form input.error, form select.error {background:#b94a48 !important; color:#f2dede !important; border-color:#a13b3b !important;}
form input.error:focus {border:1px solid #f2dede !important; box-shadow:0 0 10px #ff7575 !important;}
form select.error:focus {border:1px solid #f2dede !important; outline: 5px auto #ff7575 !important;}

/* CUSTOM */
#alert {
background: none;
background: -moz-linear-gradient(top, white 66%, #EAEAEA 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(66%, white), color-stop(100%, #EAEAEA));
background: -webkit-linear-gradient(top, white 66%, #EAEAEA 100%);
background: -o-linear-gradient(top, white 66%, #EAEAEA 100%);
background: -ms-linear-gradient(top, white 66%, #EAEAEA 100%);
background: linear-gradient(to bottom, white 66%, #EAEAEA 100%);
width: 875px;
margin: 15px auto 15px auto;
border: 5px solid #E64825;
text-align: center;
padding: 15px;
box-shadow: 3px 3px 3px gainsboro;}

#alert p span.warning {
color: #E64825;
font: bolder 18px/20px Arial, Helvetica, sans-serif;
text-transform: uppercase;
}
#alert p {
font: bold 16px/20px Arial, Helvetica, sans-serif;
}

/*Clearfix*/
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.clearfix {
  display: inline-block;
}
 
html[xmlns] .clearfix {
  display: block;
}
 
* html .clearfix {
  height: 1%;
}

.validation-error {
    border-color: red !important;
    background-image: url('../images/no-icon.png') !important;
    background-repeat: no-repeat !important;
    background-position: right 6px bottom 6px !important;
    background-size: 15px 15px !important;
}

select.validation-error {
  background-position: right 18px bottom 9px !important;
}

.validation-success {
    border-color: green !important;
    background-image: url('../images/yes-icon.png') !important;
    background-repeat: no-repeat !important;
    background-position: right 6px bottom 8px !important;
    background-size: 15px 15px !important;
}

select.validation-success {
  background-position: right 18px bottom 9px !important;
}

.modal-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
}
.modal {
  background-color: white;
  color: black;
  font-size: 16px;
  border: 1px solid gray;
  padding: 10px;
  position: relative;
  top: 10%;
  width: auto;
  height: auto;
  vertical-align: middle;
  display: inline-block;
  margin: 1em;
  text-align: left;
}
.closeErrorBtn {
  width: auto;
  margin: 2px;
  top: 0;
  padding: 10px 16px;
  margin: 10px auto;
  font-size: 18px;
  border-radius: 6px;
  background-position:center;
  background-color: lightgray;
  display: block;
  text-align: center;
}
.closeErrorBtn2 {
  width: 24px;
  height: 24px;
  margin: 2px;
  top: 0;
  padding: 0px 0px;
  margin: 10px auto;
  font-size: 18px;
  border-radius: 6px;
  background-position: center;
  background-color: lightgray;
  display: block;
  text-align: center;
  position: absolute;
  right: 1px;
  top: -9px;
}
.closebtn:hover {
  cursor: pointer;
}

/* Validation fix */
.credit.validation-success, .credit.validation-error  {
  border: 1px solid;
  width: 304px;
  height: 30px !important;
}

.sec.validation-success, .sec.validation-error  {
  border: 1px solid;
  width: 129px;
  height: 30px !important;
}