body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-font-smoothing: antialiased;
}
.site_logo {
    display: block;
    margin: 0 auto;
    width: 100%;
}
.site_logo > img {
    display: block;
    margin: 10px auto;
    width: 230px;
}
.containerWrapper {
    min-width: 320px;
}
.midWideContainer{
    padding-top: 6px;
    padding-bottom: 40px;
    border-color: rgba(47, 47, 47, 0.109804);
    margin-top: 30px;
    outline: none;
    background-color: rgb(255, 255, 255);
    width: 960px;
    border-width: 3px;
    border-style: solid;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 5px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: auto;
    margin-left: auto;
}
.midWideContainer .containerInner {
    padding-left: 20px;
    padding-right: 20px;
}
.midWideContainer .containerInner .section1{
    margin-bottom: 0px;
    outline: none;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    background-attachment: fixed !important;
    background-repeat: repeat repeat !important;
    padding: 10px;
    margin-left: -15px;
    margin-right: -15px;
}
.innerContent {
    word-wrap: break-word;
}
.midWideContainer .containerInner .section1 .col-full{
    outline: none;
}
.midWideContainer .containerInner .section1 .Headline1{
    text-align: center;
    color: #c50000;
    line-height: normal;
    font-size: 37px;
    margin-bottom: 0px;
    padding: 0px;
    position: relative;
    margin-top: 0px;
}
.midWideContainer .containerInner .section1 .HeadlineWrapper2{
    margin-top: 3px;
}
.midWideContainer .containerInner .section1 .Headline2{
    text-align: center;
    line-height: normal;
    font-size: 27px;
    margin-bottom: 0px;
    padding: 0px;
    margin-top: 0px;
}
.offerimage{
    margin: 50px 0px;
}
.offerimage img{
    width: 100%;
    vertical-align: middle;
}
.midWideContainer .containerInner .section2{
    margin-left: 20px;
    margin-right: 20px;
    outline: none;
    margin-bottom: 0px;
    background-color: rgb(232, 232, 232);
    background-size: cover !important;
    -webkit-background-size: cover !important;
    background-attachment: fixed !important;
    background-repeat: repeat repeat;
    padding: 10px;
     border-radius: 5px;
}
.midWideContainer .containerInner .section2 .Headline{
    text-align: left;
    color: rgba(47, 47, 47, 0.819608);
    line-height: normal;
    font-size: 18px;
    margin-bottom: 0px;
    padding: 0px;
    position: relative;
    margin-top: 0px;
}
.midWideContainer .containerInner .section2 .Headline:before {
    content: "\f00c";
    position: relative;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px;
}
:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.midWideContainer .containerInner .section3{
    outline: none;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 0px;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    background-attachment: fixed !important;
    background-repeat: repeat repeat !important;
}
.midWideContainer .containerInner .section3 .HeadlineWrapper{
    margin-top: 20px;
    outline: medium none;
    display: block;
    position: relative;
}
.midWideContainer .containerInner .section3 .Headline{
    text-align: center;
    line-height: normal;
    font-size: 21px;
    margin-bottom: 0px;
    padding: 0px;
    margin-top: 0px;
}
.ProductOptionsWrapper{
    margin-top: 20px;
    outline: medium none;
}
.OrderProductOptinLabel {
    border-bottom: 1px solid #DDD;
    padding-bottom: 5px;
    margin-bottom: 5px;
    padding: 5px;
}
.OrderProductOptinItem, .OrderProductOptinLabelPrice {
    font-weight: bold;
}
.OrderProductOptinItem{
    float: left;
}
.OrderProductOptinLabelPrice{
    float: right;
}
.OrderProductOptinProducts{
    padding: 5px;
}
.OrderProductOptinProductName {
    width: 80%;
    float: left;
}
a {
    text-decoration: none;
}
.OrderProductOptinPrice {
    width: 15%;
    text-align: right;
    float: right;
}
.OrderProductOptinProducts {
    padding: 5px;
}
.OrderProductOptinProductstotal{
    padding: 5px;
    border-top: 1px solid #DDD;
}
.lefttotal{
    float: left;
}
.OrderProductOptinPrice {
    padding-left: 20px;
    float: right;
    width: 15%;
    text-align: right;
}
.contactOptionsWrapper{
    margin-top: 20px;
    position: relative;
    display: inline-block;
    width: 100%;
}
.contactOptionsWrapper .Headline{
    text-align: center;
    line-height: normal;
    font-size: 21px;
    margin-bottom: 0px;
    padding: 0px;
    margin-top: 0px;
}
.hiddneline{
    margin-bottom: 0px;
    outline: medium none;
    padding: 10px;
    padding-left: 27px;
    padding-right: 27px;
    background-size: cover;
    -webkit-background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat repeat;
}
.contactusheading{
    margin: 20px 20px 0px;
    outline: none;
    background-color: rgb(232, 232, 232);
    background-size: cover;
    -webkit-background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat repeat;
    padding: 10px;
    border-radius: 5px;
}
.contactusheading .Headline{
    text-align: left;
    color: rgba(47, 47, 47, 0.819608);
    line-height: normal;
    font-size: 18px;
    margin-bottom: 0px;
    padding: 0px;
    margin-top: 0px;
}
.contactusheading .Headline:before{
    content: "\f069";
    position: relative;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px;
}
.contactusdescription{
    outline: none;
    margin-top: 20px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 0px;
    background-size: cover;
    -webkit-background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat repeat;
}
.contactusdescription .Screenshot_text{
    width: 80%;
    float: right;
}
.contactusdescription .Screenshot_text .Screenshot_text_padding{
    padding-left: 15px;
}
.contactusdescription .Screenshot_text .Screenshot_text_padding .Screenshot_text_headline{
    font-size: 24px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 6px;
    font-weight: 300;
    line-height: 1.1;
    color: inherit;
}
.contactusdescription .Screenshot_text .Screenshot_text_padding .Screenshot_text_body{
    padding: 0px;
    padding-top: 0px;
    font-size: 14px;
}
.Screenshot_image {
    float: left;
    text-align: left;
    width: 20%;
}
.Screenshot_image img{
    padding: 0px;
    max-width: 100%;
    min-width: 0%;
    vertical-align: middle;
}
.CustomHTML{
    margin-top: 20px;
    width: 100%;
    float: left;
}
.footercontainer{
    padding-top: 40px;
    padding-bottom: 40px;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    padding-left: 0px;
    padding-right: 0px;
    width: 720px;
    margin-right: auto;
    margin-left: auto;
}
.footercontainer .containerInner {
    padding-left: 20px;
    padding-right: 20px;
}
.footercontainer .containerInner .row{
    padding: 10px;
}
.footercontainer .containerInner .row .Headline{
    text-align: center;
    color: rgba(47, 47, 47, 0.592157);
    line-height: normal;
    font-size: 14px;
    margin-bottom: 0px;
    padding: 0px;
    margin-top: 0px;
}



/************************** kc-css *********************/

.warranty_box_Inner {
    border: 3px solid hsla(0, 0%, 18%, 0.09);
    border-radius: 5px;
    padding: 10px;
    width: 48%;
}

.warranty_box_Inner.warranty_box_right {
    background: hsla(49, 78%, 84%, 0.88) none repeat scroll 0 0;
    margin: 0 0 0 33px;
}

.warranty_box_Inner > h1 {
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
    color: hsl(107, 28%, 35%);
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: center;
}

.warranty_box_Inner h5 {
    color: hsla(0, 0%, 20%, 0.72);
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
	 margin-bottom: 25px;
}
.warranty_box_list ul li {
    font-size: 16px;
    padding: 0 0 20px;
    position: relative;
}
.warranty_box_list ul li::before {
    color: hsl(98, 100%, 33%);
    content: "";
    font-family: FontAwesome;
    font-size: 24px;
    left: -32px;
    position: absolute;
    top: -2px;
}

.warranty_box_list ul {
    padding: 0 0 0 32px;
}

.warranty_price {
    background: hsl(195, 100%, 44%) none repeat scroll 0 0;
    box-shadow: 0 -1px 0 hsla(0, 0%, 0%, 0.15) inset;
    color: hsl(0, 0%, 100%);
    font-size: 19px;
    line-height: 45px;
    text-align: center;
	margin-bottom: 25px;
}

.warranty_btn > a {
    background-color: hsl(128, 100%, 35%);
    background-image: linear-gradient(to bottom, hsl(128, 100%, 35%) 0%, hsl(128, 100%, 27%) 100%);
    border: 1px solid hsla(0, 0%, 0%, 0.1);
    border-radius: 5px;
    box-shadow: 0 0 0 2px hsla(0, 0%, 100%, 0.2) inset;
    color: hsl(0, 0%, 100%);
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 13px 35px 14px;
    text-align: center;
}


.warranty_btn > a:focus
{
	outline: none;
	text-decoration: none;
}
.warranty_btn > a:hover
{
	text-decoration: none;
	 background-image: linear-gradient(to bottom, hsl(128, 100%, 35%) 100%, hsl(128, 100%, 27%) 0%);
}

.warranty_footer_btn > a {
    background-color: hsl(0, 0%, 75%);
    border: 1px solid hsla(0, 0%, 0%, 0.1);
    border-radius: 5px;
    box-shadow: 0 1px 0 hsla(0, 0%, 100%, 0.2) inset;
    color: hsl(0, 0%, 100%);
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 13px 35px 14px;
    text-align: center;
}

.warranty_footer_btn > a:focus
{
	outline: none;
	text-decoration: none;
}
.warranty_footer_btn > a:hover
{
	text-decoration: none;
	 background-color: hsl(0, 0%, 67%);
}


.index2_header {
	background: hsl(93, 71%, 28%) none repeat scroll 0 0;
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

.index2_header h2 {
    color: hsl(58, 100%, 53%);
    font-size: 21px;
    font-weight: bold;
    margin: 0;
}

.index2_header span {
    color: hsl(0, 0%, 100%);
}

.index2_video iframe {
    height: 100%;
    max-height: 525px;
    width: 100%;
}

.index2_order_btn > a {
    display: block;
	background: hsl(0, 100%, 44%) none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.2;

    padding: 20px;
    text-transform: uppercase;
    width: 100%;
	text-align: center;
}

.index2_order_btn > a:hover {
    background: hsl(0, 100%, 38%) none repeat scroll 0 0;
	text-decoration: none;
}

.index2_video_section {
    border-bottom: 1px solid hsl(0, 0%, 68%) !important;
    border-radius: 0 !important;
	margin-top: 14px !important;
}

.section2-title span {
    color: hsl(49, 99%, 34%);
    font-size: 16px;
}

.section2-title h1 {
    font-size: 40px;
    font-weight: 300;
    line-height: 40px;
}

.check-list {
    margin: 20px 0;
    padding: 0 25px;
}

.check-list li {
    font-weight: 600;
    line-height: 2;
    list-style-image: url("../images/list-icon-checkmark.png");
    padding-left: 5px;
}

.food-storage-with-woman {
    margin-bottom: 50px;
}

.easiest_way .index2_order_btn {
    width: 60%;
}

.easiest_way p {
    margin-bottom: 35px;
	line-height: 2;
}

.easiest_way > h2 {
    font-weight: 500;
    margin-top: 20px;
}

.divider-horz-dotted {
    border-bottom: 1px dotted hsl(0, 0%, 68%);
    margin: 20px 0;
}


.why_lindon h2 {
    font-weight: 500;
}
.why_lindon h4 {
    font-weight: 500;
}
.why_lindon p {
    line-height: 2;
    margin-bottom: 35px;
}
.kits_content {
    border-bottom: 1px solid hsl(0, 0%, 68%);
    margin-bottom: 20px;
    padding: 0 0 20px;
}


.section2-title h1 {
    font-weight: 500;
}


.emergency_food_content .col-md-7 {
    padding: 0;
}
.emergency_food_content h3 {
    font-weight: 500;
}
.emergency_food_content .index2_order_btn {
    margin: 14px 0 0;
}
.emergency_food_content .index2_order_btn > a {
    font-weight: 700;
    padding-bottom: 15px;
    padding-top: 15px;
}

.rating {
    color: hsl(0, 0%, 63%);
    font-size: 12px;
    margin-bottom: 5px;
}

.rating img {
    width: 96px;
}

.rating span {
    position: relative;
    top: 3px;
}


.customer_rating p {
    line-height: 2;
    margin-bottom: 35px;
}

.footer {
    background: hsl(0, 0%, 23%) none repeat scroll 0 0;
    color: hsl(0, 0%, 87%);
    font-size: 12px;
    margin-top: 30px;
    padding: 20px;
}

.footer .col-md-6 > a {
    color: hsl(0, 0%, 100%);
}

.midWideContainer.index2_section2 {
    border: medium none;
    padding: 0;
	margin-top: 50px !important;
}

@media only screen and (max-width: 770px) {
    .site_logo > img {
        width: 50%;
    }
    .col-inner {
        padding-left: 10px !important;
        padding-right: 10px !important
    }
    .innerContent {
        padding: 0px !important
    }
    .row {
        padding-left: 5px !important;
        padding-right: 5px !important
    }
    .Screenshot_text_padding {
        padding-right: 0px !important;
        padding-bottom: 15px !important;
    }
    .containerInner {
        padding-left: 0px !important;
        padding-right: 0px !important
    }
    .row,
    .col-inner {
        margin-left: 0px !important;
        margin-right: 0px !important
    }
    .contactusdescription .Screenshot_text .Screenshot_text_padding .Screenshot_text_body , .contactusdescription .Screenshot_text .Screenshot_text_padding .Screenshot_text_headline {
        font-size: 12px;
        margin: 6px 0 5px;
    }
    .Screenshot_image {
        text-align: center !important;
        margin-top: 0px;
    }
    .footercontainer{
        width: 100%;
    }

	/************************** kc-css *********************/
	.index2_video iframe {
		height: 100%;
		max-height: 180px !important;
		width: 100%;
	}
	.warranty_box_Inner {
		margin: 0 0 30px !important;
		width: 100% !important;
	}
	.warranty_box_Inner.warranty_box_right {
		margin: 0 !important;
	}
	.innerContent.warranty_boxs {
		padding: 0 15px !important;
	}
	.easiest_way .index2_order_btn {
		margin-bottom: 15px;
		width: 100% !important;
	}
}

.Headline a {
    color: hsl(208, 56%, 46%);
}
