<html>
    <head>
        <meta charset="utf-8"/>
        <title></title>
        <meta name="description" content=""/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
        <meta http-equiv="content-language" content="en-us"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
        <meta name="HandheldFriendly" content="true"/>
        <meta name="viewport" content="width=1004,user-scalable=no">
        <link rel="stylesheet" href="css/app.css"/>
        <script type="text/javascript">
            if (typeof console == 'undefined') {
            	var console = {};
            	console.log = function() {};
            	console.debug = function() {};
            	console.info = function() {};
            } 
        </script>
        <link rel="stylesheet" type="text/css" href="css/thankyou.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        <script>
            !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
            
            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
            
            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
            
            document,'script','https://connect.facebook.net/en_US/fbevents.js');
            
            fbq('init', '1744859152461127');
            
            fbq('init', '1793809227571932');
            
            fbq('init', '1067893446610145');
            
            fbq('init', '143249716143382');
            
            fbq('track', 'ThankYou');
            
        </script>
        <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=143249716143382&ev=PageView&noscript=1"/></noscript>
    </head>
    <body>
        <div class="top-bar">
            <center><img src="images/shinecon_logo.png" class="top_logo"></center>
        </div>
        <div class="clearall"></div>
        <div class="container">
            <div class="upsell_box">
                <div class="steps">
                    <div class="inner_steps">STEP 1: CREATE ACCOUNT</div>
                    <div class="inner_steps ">STEP 2: CUSTOMIZE ORDER</div>
                    <div class="inner_steps selected">STEP 3: ORDER COMPLETE</div>
                </div>
                <p class="upsell_heading_one"> </p>
                <div class="clear"></div>
                <div class="panel_heading">
                    Thank you for Your Order
                </div>
                <div class="left_column">
                    <h1>Order Details #</h1>
                    <hr>
                    <p></p>
                    {% load humanize %}

                {% for line in order %}
                    <div class="thankyou_left">{{  line.product.name}}</div>
                    <div class="thankyou_right">${{ line.total|floatformat:2|intcomma }}</div>
                {% endfor %}
                    <div class="clear"></div>
                    <div class="thankyou_left">Total</div>
                    <div class="thankyou_right">${{ total|floatformat:2|intcomma }}</div>
                    <div class="clear"></div>
                </div>
                <div class="right_column">
                    <h1>Address</h1>
                    <hr>
                    <p>{{ address.city }}, {{ address.address }}</p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="contentWrap">
                <p class="footer_text">
                    <a href="javascript:void(0);" onClick="javascript:openNewWindow('terms_and_conditions.html','modal');">Terms & Conditions</a> /<a href="javascript:void(0);" onClick="javascript:openNewWindow('return_policy.html','modal');">Refund Policy</a>/ <a href="javascript:void(0);" onClick="javascript:openNewWindow('privacy_policy.html','modal');">Privacy Policy</a> / <a href="javascript:void(0);" onClick="javascript:openNewWindow('contact_us.html','modal');">Contact us</a><br>
                    Copyright &copy;
                    <script type="text/javascript">var year = new Date();document.write(year.getFullYear());</script>
                    VR Shinecon. All Rights Reserved.
                </p>
            </div>
        </div>
        <script src="js/script.js" data-cfasync="false"></script>
        <script type="text/javascript" src="js/promise.min.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery.ccval.js"></script>
        <script src="js/form_handler.js"></script>
        <script src="js/app.js"></script>
        <script src="js/error_handler.js"></script>
        <script src="js/outro.js"></script>
    </body>
</html>