<a href="{% url 'privacy' %}" target="_blank">Privacy Policy</a> |
<a href="{% url 'contact' %}" target="_blank">Customer Service</a> |
<a href="{% url 'terms' %}" target="_blank">Terms &amp; Conditions</a>
