<p align="center">

    <a href="javascript:void(0);" onclick="javascript:openNewWindow('page-privacy.html', 'modal');" id="link-1345-87"
       class="" target="_self">Privacy Policy</a> | <a href="javascript:void(0);"
                                                       onclick="javascript:openNewWindow('page-contact.html', 'modal');"
                                                       id="link-6916-433" class="" target="_self">Customer Service</a> |
    <a href="javascript:void(0);" onclick="javascript:openNewWindow('page-terms.html', 'modal');" id="link-6916-433"
       class="" target="_self">Terms &amp; Conditions</a>

</p>
