   .ui-dialog {
    position: fixed !important;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    overflow: visible !important;
}
.ui-widget-overlay {
    background: rgba(255, 255, 255, 0.8) !important;
    opacity: .9 !important;
}
.ui-widget-header {
    border: none !important;
    background: none !important;
}
.ui-widget-content {
    border: 1px solid #ffffff !important;
    background: #ffffff !important;
    color: #333333;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}
.ui-widget-header .ui-icon {
    background-image: url("../images/closebutton.png") !important;
}
.ui-icon-closethick {
    background-position: 0 -2px !important;
    width: 26px !important;
    height: 29px !important;
}
.ui-dialog .ui-dialog-titlebar-close span {
    position: absolute;
    top: -10px;
    z-index: 9;
    right: -18px;
}
.ui-draggable .ui-dialog-titlebar {
    padding: 0;
    height: 0;
}
.ui-dialog .ui-dialog-titlebar-close {
    z-index: 999999;
}
.ui-resizable-handle {
    display: none !important;
}




input.error,
select.error {
    background: #ffffff url(../images/error-input.png) no-repeat 99.5% 50%;
    border: 1px solid #ffa500;
}
input.valid,
select.valid {
    background: #ffffff url(../images/tick-input.png) no-repeat 99.5% 50%;
    border: 1px solid #008000;
}