/*----------------
RESET CSS
-----------------*/

body {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
}
div,
ul,
h1,
h2,
h3,
h4,
h5,
li,
p,
img,
form,
input,
textarea {
    margin: 0;
    padding: 0;
}
table,
tr,
td {
    border: 0;
}
a {
    outline: none;
    color: #333;
    text-decoration: none;
}
a:hover {
    outline: none;
    color: #000;
    text-decoration: none;
}
img {
    border: none;
}
li {
    list-style: none;
}
header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}
.clearall {
    clear: both;
    font-size: 1px;
    line-height: 1px;
    height: 1px;
}
/*-------------------
END RESET
---------------------*/

.top_bar {
    float: left;
    width: 100%;
    background: #000;
}
.container {
    margin: 0 auto;
    position: relative;
    display: table;
    width: 1170px;
}
.top_logo {
    margin: 20px 0 15px 0;
}
.upsell_box {
    float: left;
    width: 100%;
    margin-top: 20px;
    -webkit-box-shadow: 0 0 1px 1px #E8E8E8;
    box-shadow: 0 0 1px 1px #E8E8E8;
    padding: 15px;
    box-sizing: border-box;
}
.steps {
    float: left;
    width: 100%;
    background: #e8e8e8;
    border: 1px solid #adadad;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.inner_steps {
    float: left;
    width: 33.33%;
    text-align: center;
    color: #575656;
    font-size: 24px;
    line-height: 24px;
    padding: 14px 0 16px 0;
}
.inner_steps.selected {
    background: #90c23e;
    font-weight: bold;
    color: #fff;
}
.top_heading_one {
    float: left;
    width: 100%;
    color: #464646;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
    padding: 15px 0;
}
.top_heading_one span {
    color: #ff0000;
}
.top_paragraph {
    float: left;
    width: 100%;
    color: #1a1a1a;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin: 15px 0;
}
.top_paragraph span {
    font-weight: 700;
}
.upsell_product_box {
    -webkit-box-shadow: 0 0 1px 1px #E8E8E8;
    box-shadow: 0 0 1px 1px #E8E8E8;
    float: left;
    width: 350px;
    margin: 20px 0 0 22px;
}
.box_heading {
    float: left;
    width: 100%;
    padding: 15px 0;
    background: #f7f7f7;
    color: #0c0a0a;
    font-size: 20px;
    text-align: center;
    line-height: 22px;
}
a.upsellOne_button {
    float: left;
    width: 95%;
    margin: 2.5%;
    border: 2px solid #2b5b04;
    background: #397f00;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    -webkit-box-shadow: inset 0px 0px 4px 1px #a1da56;
    box-shadow: inset 0px 0px 4px 1px #a1da56;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
a.upsellOne_button span {
    text-transform: lowercase;
}
a.upsellOne_button img {
    vertical-align: text-bottom;
    margin-top: 2px;
}
a.warranty_button {
    float: left;
    width: 92%;
    margin: 5% 4%;
    border: 2px solid #2b5b04;
    background: #397f00;
    box-sizing: border-box;
    text-align: center;
    padding: 20px 10px;
    -webkit-box-shadow: inset 0px 0px 4px 1px #a1da56;
    box-shadow: inset 0px 0px 4px 1px #a1da56;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
a.warranty_button img {
    vertical-align: text-bottom;
    margin-top: 1px;
}
.bottom_grey_text {
    float: left;
    width: 100%;
    text-align: center;
    color: #151515;
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 25px;
}
a.decline_text {
    color: #366ccc;
    font-size: 18px;
    text-decoration: underline;
}
.warranty_heading_wrap {
    float: left;
    width: 540px;
    box-sizing: border-box;
    border: 5px solid #5b5b5b;
    margin: 20px 0 20px 20px;
}
.warranty_heading {
    float: left;
    width: 100%;
    text-align: center;
    color: #397f00;
    font-size: 40px;
    font-weight: 700;
    padding: 15px 0;
}
.warranty_bar {
    float: left;
    width: 100%;
    background: #56dbf0;
    color: #fff;
    font-size: 26px;
    padding: 7px 0 10px 0;
    text-align: center;
}
.footer {
    float: left;
    width: 100%;
    border-top: 4px solid #eaeaea;
    margin-top: 30px;
    padding: 20px 0;
}
.footer_text {
    font-size: 16px;
    line-height: 24px;
    color: #2c2c2c;
    text-align: center;
    margin: 0 auto;
    padding: 0 0 0 0;
}
.footer_text a,
.footer_text a:hover {
    text-decoration: none;
    color: #2c2c2c;
}
.upsell_sprite {
    background-image: url(../images/upsellOne_spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}
.sprite_upsellOne_product_one {
    width: 332px;
    height: 341px;
    background-position: -5px -5px;
}
.sprite_upsellOne_product_two {
    width: 332px;
    height: 341px;
    background-position: -347px -5px;
}
.sprite_upsellOne_product_three {
    width: 332px;
    height: 341px;
    background-position: -5px -356px;
}
.upsell_product_box center {
    height: 350px;
    vertical-align: middle;
    margin-top: 100px;
}
.footer_popup_text p {
    font-family: "Cambria", sans-serif;
}