/*----------------
RESET CSS
-----------------*/

body {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
}
div,
ul,
h1,
h2,
h3,
h4,
h5,
li,
p,
img,
form,
input,
textarea {
    margin: 0;
    padding: 0;
}
table,
tr,
td {
    border: 0;
}
a {
    outline: none;
    color: #333;
    text-decoration: none;
}
a:hover {
    outline: none;
    color: #000;
    text-decoration: none;
}
img {
    border: none;
}
li {
    list-style: none;
}
header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}
.clearall {
    clear: both;
    font-size: 1px;
    line-height: 1px;
    height: 1px;
}
/*-------------------
END RESET
---------------------*/

.top_banner {
    float: left;
    width: 100%;
    background: url(../images/top_banner.jpg) #000 no-repeat center top;
    height: 320px;
}
.container {
    margin: 0 auto;
    position: relative;
    display: table;
    width: 1170px;
}
.check_logo {
    float: left;
    margin: 17px 0 0 0;
}
.icon_ranked {
    float: right;
}
.banner_text {
    position: absolute;
    color: #ffffff;
    font-size: 24px;
    font-family: 'geomanistmedium';
    text-align: center;
    line-height: 24px;
    top: 215px;
}
.banner_text_one {
    left: 450px;
}
.banner_text_two {
    left: 580px;
}
.banner_text_three {
    left: 755px;
}
.banner_bottom {
    float: left;
    width: 100%;
    height: 19px;
    background: url(../images/banner_bottom.jpg) repeat-x left center;
}
.top_center_text {
    float: left;
    width: 100%;
    text-align: center;
    margin: 20px 0;
    color: #000000;
    font-size: 20px;
}
.top_center_text b {
    font-weight: 700;
    text-transform: uppercase;
}
.price_cross {
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
}
.price_cross img {
    position: absolute;
    left: -5px;
    top: 3px;
}
.left_box,
.right_box {
    float: left;
    width: 552px;
    margin-top: 10px;
}
.right_box {
    float: right;
}
.form_box {
    float: left;
    width: 100%;
    background: #fff;
    border: 1px solid #e0dfdf;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: 30px;
}
.form_heading {
    float: left;
    width: 100%;
    background: #f7f7f7;
    padding-bottom: 10px;
}
.off_icon {
    float: left;
    margin: 20px 0 0 25px;
}
.front_text {
    float: left;
    color: #3e3e3e;
    font-size: 34px;
    line-height: 32px;
    margin-top: 20px;
    margin-left: 5px;
    font-weight: 700;
    letter-spacing: -1px;
}
.off_text {
    float: left;
    color: #e20000;
    font-size: 64px;
    line-height: 62px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-top: 5px;
    margin-left: 3px;
}
.off_text sup {
    font-size: 26px;
}
.green_text {
    float: left;
    color: #74a80f;
    margin-top: 20px;
    margin-left: 5px;
    font-size: 34px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -1px;
}
.green_text span {
    float: left;
    font-size: 28px;
    margin-left: 1px;
}
.step_heading {
    float: left;
    width: 100%;
    color: #545454;
    line-height: 50px;
    font-size: 24px;
    margin-top: 15px;
}
.step_heading span {
    color: #000;
    font-weight: 700;
}
.step_heading img {
    float: left;
    margin: 0 10px 0 28px;
}
.best_offer {
    float: left;
    width: 100%;
    background: #fef036;
    border: 1px solid #070707;
    box-sizing: border-box;
    margin-top: 10px;
    padding: 10px 0;
}
.pack_details {
    float: left;
    width: 100%;
    padding: 17px 0;
    border-bottom: 1px solid #e2e2e2;
}
.best_offer label,
.pack_details label {
    cursor: pointer;
}
.radio_button,
.radio_button_common {
    float: left;
    zoom: 140%;
    margin-left: 20px;
    margin-top: 5px;
}
.radio_button_common {
    margin-top: 0;
}
.pack_type {
    float: left;
    margin-left: 12px;
    color: #000;
    font-size: 14px;
    line-height: 20px
}
.pack_type span {
    color: #e20000;
    font-size: 17px;
}
.pack_type strong {
    font-weight: 700;
}
.price_box {
    float: right;
    width: 100px;
    color: #000;
    font-size: 15px;
    margin-top: 10px;
}
.full_input_box,
.half_input_box {
    float: left;
    width: 478px;
    border: 1px solid #c5c2bd;
    margin: 10px 0 5px 32px;
    background: #fff;
    height: 42px;
}
.half_input_box {
    width: 227px;
}
.margin_left {
    margin-left: 23px;
}
.full_input_box input,
.half_input_box input {
    float: right;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    border: none;
    outline: none;
    height: 100%;
    width: 87%;
}
.full_input_box select,
.half_input_box select {
    float: right;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    border: none;
    outline: none;
    height: 100%;
    width: 87%;
    background: url(../images/select.png) no-repeat 96% center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
::-webkit-input-placeholder {
    color: #000000;
    font-size: 16px;
}
:-moz-placeholder {
    color: #000000;
    font-size: 16px;
}
::-moz-placeholder {
    color: #000000;
    font-size: 16px;
}
:-ms-input-placeholder {
    color: #000000;
    font-size: 16px;
}
.half_input_box select,
.half_input_box input {
    width: 75%;
}
.icon_box {
    float: left;
    width: 43px;
    background: #b9e177;
    height: 100%;
    text-align: center;
}
.icon_box img {
    margin-top: 12px;
}
.shipping_box {
    float: left;
    width: 100%;
    background: #eaeaea;
    margin: 35px 0;
    padding: 5px;
    box-sizing: border-box;
}
.shipping_box img {
    float: left;
}
.shipping_box p {
    float: left;
    color: #000000;
    font-size: 15px;
    margin-top: 8px;
    margin-left: 5px;
}
.shipping_box p span {
    color: #74a80f;
    font-weight: 700;
}
.vr-box {
    float: left;
    margin: 5px 0 0 10px;
}
.item_details {
    float: left;
    color: #000000;
    font-size: 24px;
    line-height: 28px;
    margin-top: 25px;
}
.item_details span {
    color: #74a80f;
    font-weight: 700;
}
.togglediv {
    float: left;
    width: 100%;
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    margin: 20px 0 0 0;
}
.togglediv input {
    float: left;
    zoom: 180%;
    margin: 1px 2px 10px 20px;
}
.cardsdiv {
    float: left;
    color: #3e3e3e;
    font-size: 16px;
    margin: 5px 0 15px 35px;
}
.cardsdiv img {
    vertical-align: middle;
}
.cvv {
    float: left;
    color: #000000;
    font-size: 15px;
    margin: 22px 0 0 20px;
    text-decoration: underline;
}
.ship_button {
    float: left;
    margin: 20px 0 10px 20px;
}
.arrow_image {
    position: absolute;
    left: -74px;
    top: 146px;
}
.footer {
    float: left;
    width: 100%;
    border-top: 4px solid #eaeaea;
    margin-top: 30px;
    padding: 20px 0;
}
.footer_text {
    font-size: 16px;
    line-height: 24px;
    color: #2c2c2c;
    text-align: center;
    margin: 0 auto;
    padding: 0 0 0 0;
}
.footer_text a,
.footer_text a:hover {
    text-decoration: none;
    color: #2c2c2c;
}
.sprite {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}
.sprite_icon_ranked {
    width: 184px;
    height: 162px;
    background-position: -5px -2098px;
}
.sprite_check_logo {
    width: 718px;
    height: 62px;
    background-position: -5px -134px;
}
.sprite_off_icon {
    width: 95px;
    height: 73px;
    background-position: -5px -2438px;
}
.sprite_arrow {
    width: 68px;
    height: 160px;
    background-position: -5px -2798px;
}
.sprite_confirm_icon {
    width: 50px;
    height: 50px;
    background-position: -5px -206px;
}
.sprite_pro_icon {
    width: 50px;
    height: 50px;
    background-position: -5px -2553px;
}
.sprite_truck_icon {
    width: 50px;
    height: 50px;
    background-position: -5px -4598px;
}
.sprite-calender {
    width: 22px;
    height: 22px;
    background-position: -5px -32px;
}
.sprite_cards {
    width: 174px;
    height: 28px;
    background-position: -5px -64px;
}
.sprite_pro_icon {
    width: 50px;
    height: 50px;
    background-position: -5px -2553px;
}
.sprite_stack_icon {
    width: 50px;
    height: 50px;
    background-position: -5px -4442px;
}
.step_heading .sprite_stack_icon {
    display: inline-block;
}
.sprite_stack_icon,
.sprite_truck_icon,
.sprite_confirm_icon,
.sprite_pro_icon {
    float: left;
    margin-right: 10px;
    margin-left: 20px;
}
.step_heading .sprite_truck_icon {
    display: inline-block;
}
.step_heading .sprite_confirm_icon {
    display: inline-block;
}
.step_heading .sprite_pro_icon {
    display: inline-block;
}
.cardsdiv i {
    display: inline-block;
}
.cardsdiv span {
    margin-top: 10px;
}
.para_left {
    float: left;
    padding-top: 18px;
    padding-right: 10px;
}
.no_question {
    font-size: 16px;
    padding: 10px 10px;
    width: 80%;
    float: left;
    text-align: left;
}
.guarantee_section {
    float: left;
    width: 100%;
    border-top: 1px solid #eaeaea;
    margin-top: 30px;
    padding: 20px 0;
}
.wrap_left {
    width: 100%;
    float: left;
}
.wrap_right {
    width: 100%;
    float: left;
}
.fontSize_20 {
    font-size: 20px;
}
.guarantee_section_left {
    float: left;
    width: 552px;
}
.guarantee_section_right {
    float: right;
    width: 552px;
}
.footer_popup_text p {
    font-family: "Cambria", sans-serif;
}