@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSansRegular.eot');
    src: url('../fonts/OpenSansRegular.eot') format('embedded-opentype'), url('../fonts/OpenSansRegular.woff2') format('woff2'), url('../fonts/OpenSansRegular.woff') format('woff'), url('../fonts/OpenSansRegular.ttf') format('truetype'), url('../fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}
body {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0;
    text-align: center;
    background: #fff;
    font-family: 'OpenSansRegular';
}
/*
START UTILITY
*/

div,
ul,
h1,
h2,
h3,
h5,
li,
p,
img,
form,
input,
textarea {
    margin: 0;
    padding: 0;
}
a {
    outline: none;
    color: #333;
    text-decoration: underline;
}
a:hover {
    outline: none;
    color: #000;
    text-decoration: none;
}
img {
    border: none;
}
li {
    list-style: none;
}
.clearall {
    clear: both;
    font-size: 1px;
    line-height: 1px;
    height: 1px;
}
/*END UTILITY*/

div#container {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}
.contentWrap {
    width: 1004px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}
.header {
    width: 100%;
    background: #ff0000;
    border-bottom: 3px dashed #fff;
    height: 40px;
}
.header_text {
    font-weight: 700;
    font-size: 17px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    line-height: 40px;
}
.header_text span {
    color: #ffe400;
}
/*================ START SCETION 1=================== */

.banner_area {
    height: 707px;
    background: #000202 url(../images/banner_background.jpg) center no-repeat;
	background-position: -357px 0;
}
.banner_area_product {
    position: absolute;
    top: 412px;
    left: -231px;
}
.logo {
    position: absolute;
    top: 36px;
    left: 464px;
}
.banner_area_textwrap_one {
    font-family: 'geomanistmedium';
    font-size: 52px;
    line-height: 42px;
    color: #92c126;
    text-align: left;
    margin: 0;
    padding: 101px 0 0 465px;
}
.banner_area_textwrap_one span {
    font-size: 46px;
    color: #fff;
}
.banner_area_textwrap_two {
    width: 444px;
    background: #333203;
    color: #abab43;
    font-family: 'geomanist_regularregular';
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    margin: 10px 0 0 467px;
    padding: 0 0 0 0;
}
.banner_area_textwrap_three,
.banner_area_textwrap_four,
.banner_area_textwrap_five {
    /*background: url(../images/spritesheet.png) left top no-repeat;*/
    
    font-size: 20px;
    line-height: 27px;
    color: #bcbb4a;
    letter-spacing: -0.4px;
    height: auto;
    text-align: left;
    margin: 10px 0 0 467px;
    padding: 0 0 0 px;
    /* width: 35px;
    height: 35px;
    background-position: -96px -5px;*/
}
.banner_area_textwrap_three i,
.banner_area_textwrap_four i,
.banner_area_textwrap_five i,
.deliver_text i {
    display: inline-block;
}
.banner_area_textwrap_four {
    margin: 4px 0 0 467px;
    padding: 0 0 0;
}
.banner_area_textwrap_five {
    margin: 7px 0 0 467px;
    padding: 0 0 0;
}
.banner_area_textwrap_three span,
.banner_area_textwrap_four span,
.banner_area_textwrap_five span {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -0.9px;
    color: #ffffff;
    line-height: 27px;
}
.banner_area_line {
    margin: 0 0 0 462px;
}
.deliver_text {
    /*background: url(../images/deliver.png) left top no-repeat;*/
    
    font-size: 20px;
    line-height: 47px;
    letter-spacing: -0.5px;
    text-align: left;
    color: #fff;
    margin: 25px 0 0 449px;
    padding: 0 0 7px;
}
.deliver_text span {
    font-weight: bold;
    font-size: 22px;
    color: #fff600;
}
.sec_one_button {
    margin: 9px 0 0 340px;
}
/*================ END SCETION 1=================== */
/*================ START SCETION 2=================== */

#how_does_section_outerwrap {
    background: url(../images/how_does_it_work_steps.jpg) center top repeat-x;
}
.how_does_section_innerwrap {
    height: 715px;
    background: url(../images/how_does_astoria_vr_work_background.jpg) center no-repeat;
}
.how_does_section_heading {
    font-family: 'geomanistbold';
    font-size: 46px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    margin: 0 auto;
    padding: 66px 0 0 0;
}
.how_does_section_heading span {
    color: #91c125;
    text-transform: uppercase;
}
.how_does_section_text {
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    color: #000;
    text-align: center;
    letter-spacing: -0.7px;
    margin: 0 auto;
    padding: 13px 0 0 0;
}
ul.how_does_section_list {
    margin: 50px 0 0 14px;
    padding: 0 0 0 0;
}
ul.how_does_section_list li {
    display: inline-block;
    float: left;
    list-style: none;
    color: #171717;
    width: 270px;
    font-family: 'geomanistbold';
    font-size: 20px;
    letter-spacing: -0.6px;
    line-height: 27px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    padding: 0 37px 0 0;
}
ul.how_does_section_list li:nth-child(2) {
    width: 358px;
    padding: 0 26px 0 0;
}
ul.how_does_section_list li:nth-child(3) {
    padding: 0 0 0 0;
    margin: -26px 0 0 0;
}
.step_three_text {
    color: #171717;
    font-family: 'geomanistbold';
    font-size: 20px;
    letter-spacing: -0.6px;
    line-height: 27px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0 0 26px;
}
.click_here_section {
    margin: 54px 0 0 0;
    padding: 0 0 0 0;
    position: relative;
}
.click_here_section_text {
    font-family: 'geomanistbold';
    font-size: 34px;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    line-height: 36px;
    margin: 0;
    padding: 33px 0 0 0;
}
.click_here_section_text span {
    color: #91c125;
}
.click_here_section_button {
    position: absolute;
    top: 30px;
    right: 2px;
}
/*================ END SCETION 2=================== */
/*================ START SCETION 3=================== */

.product_specification_section {
    height: 950px;
    background: url(../images/product_specifications_background.jpg) center no-repeat;
}
.specification_section_heading {
    font-family: 'geomanistbold';
    font-size: 46px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    margin: 0 auto;
    padding: 58px 0 0 0;
}
.specification_section_heading span {
    color: #91c125;
    text-transform: uppercase;
}
.section_three_text_one {
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    color: #000;
    text-align: center;
    letter-spacing: -0.7px;
    margin: 0 auto;
    padding: 13px 0 0 0;
}
.specification_section_left,
.specification_section_right {
    display: inline-block;
    float: left;
    width: 502px;
}
.specification_left_text_one,
.specification_left_text_two,
.specification_left_text_three {
    font-size: 16px;
    line-height: 20px;
    color: #000;
    text-align: right;
    margin: 0;
    padding: 138px 0 0 160px;
    width: 250px;
}
.specification_left_text_one span,
.specification_left_text_two span,
.specification_left_text_three span {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}
.specification_left_text_two {
    padding: 181px 0 0 0;
    text-align: left;
    width: 200px;
}
.specification_left_text_three {
    padding: 139px 0 0 5px;
    width: 200px;
}
.specification_right_text_one,
.specification_right_text_two,
.specification_right_text_three {
    font-size: 16px;
    line-height: 20px;
    color: #000;
    text-align: left;
    margin: 0;
    padding: 139px 0 0 286px;
    width: 206px;
}
.specification_right_text_one span,
.specification_right_text_two span,
.specification_right_text_three span {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}
.specification_right_text_two {
    padding: 367px 0 0 291px;
    width: 208px;
}
.specification_right_text_three {
    padding: 29px 0 0 86px;
    width: 207px;
}
.specification_section_left p:first-child {
    padding: 117px 0 0 276px !important;
}
.specification_section_left p:nth-of-type(2) {
    padding: 104px 0 0 0;
    width: 228px;
}
.specification_section_left p:last-child {
    padding: 95px 0 0 0;
}
.specification_section_right p:first-child {
    padding: 636px 0 0 167px;
}
.specification_section_right p:nth-of-type(2) {
    padding: 0px 0 0 96px;
    margin-top: -208px;
}
/*================ END SCETION 3=================== */
/*================ START SCETION 4=================== */

.grid_section_wrap {
    height: 1026px;
    background: #0a0a0a;
    padding: 50px 0;
    height: inherit;
}
.group_one,
.group_two,
.group_three {
    display: inline-block;
    float: left;
    width: 33.33%;
}
.grid_images {
    max-width: 100%;
    height: 410px;
}
.grid_section {
    width: 100%;
    clear: both;
    display: table;
}
.single_button_section {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: relative;
}
/*================ END SCETION 4=================== */
/*================ START SCETION 5=================== */

.compatible_apps_section {
    height: 611px;
    background: url(../images/compatible_apps_background.jpg) center top no-repeat;
}
.apps_section_box {
    background: #091014;
    width: 503px;
    height: 358px;
    margin: 58px 0 0 0;
}
.apps_section_heading {
    font-family: 'geomanistbold';
    font-size: 46.89px;
    text-align: center;
    line-height: 36.96px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 20px 0 0 0;
}
.logos {
    float: left;
    margin: 15px 0 0 0;
}
.apps_section_left,
.apps_section_right {
    display: inline-block;
    float: left;
    margin: 0;
    width: 50%;
}
.sec5-rgt {
    width: 46%;
    margin: 0 0 0 20px;
}
ul.apps_section_list {
    width: 100%;
    margin: 28px 0 0 22px;
    padding: 0 0 0 0;
}
ul.apps_section_list li {
    background: url(../images/green-tick2.png) left 15px no-repeat;
    list-style: none;
    text-align: left;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: -0.7px;
    color: #fff;
    margin: 0 0 0 0;
    padding: 0 0 0 38px;
}
/*================ END SCETION 5=================== */
/*================ START SCETION 6=================== */

.say_no_section {
    height: 386px;
    margin: 0 auto;
    padding: 0 0 0 0;
}
.say_no_heading {
    font-family: 'geomanistbold';
    font-size: 39.97px;
    line-height: 39.97px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    margin: 0 auto;
    padding: 44px 0 0 0;
}
.say_no_heading span {
    color: #ff0000;
}
ul.say_no_list {
    float: left;
    width: 50%;
    margin: 0 0 0 0;
    padding: 50px 0 0 0;
}
ul.say_no_list li {
    background: url(../images/red-tick.png) left 10px no-repeat;
    list-style: none;
    font-family: 'geomanistbook';
    font-size: 23.98px;
    line-height: 40.2px;
    text-align: left;
    text-transform: uppercase;
    margin: 0 0 0 0;
    padding: 0 0 12px 32px;
}
ul.say_no_list li span {
    font-family: 'geomanistbold';
    color: #ff0000;
}
.say_no_img {
    float: right;
    margin: 43px 12px 0 0;
}
/*================ END SCETION 6=================== */
/*================ START SCETION 7=================== */

.virtual_reality_secret {
    background: #080c0f url(../images/best_kept_secret.jpg) center top no-repeat;
    height: 652px;
    margin: 0 auto;
}
.reality_secret_left {
    display: inline-block;
    float: left;
    width: 60%;
}
.reality_secret_right {
    display: inline-block;
    float: left;
    width: 40%;
}
.reality_secret_heading {
    font-family: 'geomanistbold';
    font-size: 40px;
    text-align: left;
    color: #fff;
    line-height: 40px;
    margin: 0;
    text-transform: uppercase;
    padding: 33px 0 0 0;
}
.reality_secret_heading span {
    color: #91c125;
}
.reality_secret_text_one {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #fff;
    width: 557px;
    margin: 0;
    padding: 23px 0 0 0;
}
.reality_secret_text_one span {
    font-weight: bold;
}
.reality_secret_text_two {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    color: #91c125;
    letter-spacing: 0.85px;
    width: 500px;
    margin: 0 auto;
    padding: 29px 0 0 105px;
}
.try_for_yourself_button {
    margin: 248px 0px 0 84px;
    float: left;
}
.reality_secret_right_text_one {
    font-family: 'geomanistbold';
    font-size: 40px;
    text-align: center;
    color: #fff;
    line-height: 40px;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 47px 0 0 0;
}
.reality_secret_right_text_one span {
    color: #000000;
}
.reality_secret_right_text_two {
    font-size: 18px;
    text-align: left;
    line-height: 26px;
    font-weight: bold;
    color: #fff;
    margin: 0;
    padding: 241px 20px 0 14px;
}
.reality_secret_left_half {
    display: inline-block;
    float: left;
    width: 45%;
    margin: 0;
}
.reality_secret_right_half {
    display: inline-block;
    float: left;
    width: 50%;
    margin: 0;
}
ul.reality_secret_list {
    margin: 21px 0 0 18px;
    padding: 0 0 0 0;
}
.sprite_black_tick {
    width: 20px;
    height: 17px;
    background-position: -5px -5px;
}
ul.reality_secret_list li {
    background: url(../images/black-tick.png) left 9px no-repeat;
    list-style: none;
    font-size: 16px;
    line-height: 32px;
    text-align: left;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding: 0 0 0 29px;
}
/*================ END SCETION 7=================== */
/*================ START SCETION 8=================== */

.comparison_section {
    background: url(../images/comparison_background.jpg) center top no-repeat;
    height: 564px;
}
.comparison_section_heading {
    text-transform: uppercase;
    font-family: 'geomanistbold';
    font-size: 39.92px;
    line-height: 39.92px;
    text-align: center;
    color: #000;
    margin: 0 auto;
    padding: 42px 0 0 0;
}
.comparison_section_heading span {
    color: #91c125;
}
.comparison_text {
    float: left;
    text-transform: uppercase;
    font-family: 'geomanistbold';
    text-align: center;
    font-size: 24px;
    line-height: 24px;
    color: #000;
    margin: 0 auto;
    padding: 58px 0 0 48px;
}
.comparison_text span {
    color: #83b82b;
}
ul.comparison_list {
    margin: 36px 0 0 35px;
    padding: 0 0 0 0;
}
ul.comparison_list li {
    float: left;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    line-height: 27px;
    height: 59px;
    color: #000;
    text-align: left;
    margin: 0;
    clear: both;
    padding: 0 0 0 0;
}
/*================ END SCETION 8=================== */
/*================ START SCETION 9=================== */

.real_experiences_section {
    background: #f4ffdb;
    height: 672px;
    width: 100%;
    min-width: 1004px;
}
.real_experiences_heading {
    text-transform: uppercase;
    font-family: 'geomanistbold';
    font-size: 39.92px;
    line-height: 39.92px;
    text-align: center;
    color: #000;
    margin: 0 auto;
    padding: 23px 0 0 0;
}
.real_experiences_heading span {
    color: #91c125;
}
.experiences_column_one,
.experiences_column_two,
.experiences_column_three {
    display: inline-block;
    float: left;
    width: 333px;
    height: 515px;
    margin: 55px 0 0 0;
}
.experiences_column_one {
    background: url(../images/real_users_real_experiences_green_background.png) no-repeat;
}
.experiences_column_two {
    background: url(../images/real_users_real_experiences_black_background.png) no-repeat;
}
.experiences_column_three {
    background: url(../images/real_users_real_experiences_green_background.png) no-repeat;
}
.experiences_text_one {
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: -0.6px;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    padding: 96px 0 0 26px;
}
.experiences_text_two {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.6px;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    width: 249px;
    padding: 20px 0 0 25px;
}
.experiences_pic_one {
    margin: 36px 0 0 126px;
    display: block;
}
.experiences_pic_two {
    margin: 106px 0 0 126px;
    display: block;
}
.experiences_pic_three {
    margin: 13px 0 0 126px;
    display: block;
}
.star1 {
    margin: 9px 0 0 138px;
    display: block;
}
.experience_text_three {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.6px;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    width: 249px;
    padding: 0px 0 0 18px;
}
/*================ END SCETION 9=================== */
/*================ START SCETION 10=================== */

.unlock_virtual_reality {
    background: #040404 url(../images/virtual_reality_background.jpg) center top no-repeat;
    height: 889px;
}
.unlock_section_logo {
    margin: 51px 82px 0 0;
    float: right;
}
.unlock_section_text_one {
    font-family: 'geomanistmedium';
    font-size: 31.07px;
    line-height: 32px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 29px 0 0 530px;
}
.unlock_section_text_one span {
    font-family: 'geomanistbold';
    color: #91c125;
    line-height: 67.01px;
    font-size: 80.94px;
}
.s10-product {
    float: left;
    margin: 26px 0 0 0;
}
.yes_button {
    margin: 37px 0 0 554px;
}
.unlock_section_text_two,
.unlock_section_text_four {
    font-family: 'geomanistbold';
    font-size: 22.84px;
    line-height: 24px;
    color: #00a2ff;
    text-align: left;
    margin: 0;
    position: absolute;
    top: 529px;
    left: 81px;
}
.unlock_section_text_four {
    color: #91c125;
    top: 610px;
}
.unlock_section_text_three,
.unlock_section_text_five {
    background: url(../images/green-tick.png) left 3px no-repeat;
    font-size: 20px;
    line-height: 22px;
    color: #bcbb4a;
    font-weight: 200;
    letter-spacing: -0.8px;
    height: 53px;
    text-align: left;
    margin: 28px 0 0 540px;
    padding: 0 0 0 46px;
}
.unlock_section_text_five {
    margin: 7px 0 6px 540px;
    padding: 0 0 0 46px;
}
.unlock_section_text_three span,
.unlock_section_text_five span {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.9px;
    color: #ffffff;
    line-height: 27px;
}
/*================ END SCETION 10=================== */
/*================ START FOOTER=================== */

.footer {
    margin: -20px auto 0 auto;
    padding: 0 0 45px 0;
}
.footer_text {
    font-size: 16px;
    line-height: 24px;
    color: #2c2c2c;
    text-align: center;
    margin: 0 auto;
    padding: 0 0 0 0;
}
.footer_text a,
.footer_text a:hover {
    text-decoration: none;
    color: #2c2c2c;
}
/*================ END FOOTER=================
pulse animation
==============================================
*/

.pulse {
    animation-name: pulse;
    -webkit-animation-name: pulse;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
@keyframes pulse {
    0% {
        transform: scale(0.9);
        opacity: 0.7;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.9);
        opacity: 0.7;
    }
}
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.95);
        opacity: 0.7;
    }
    50% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.95);
        opacity: 0.7;
    }
}
/******end pulse***********/
/*---11.11.2016----*/

.sprite {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}
.sprite_deliver {
    width: 51px;
    height: 31px;
    background-position: -5px -266px;
}
.sprite_green_tick {
    width: 35px;
    height: 35px;
    background-position: -5px -536px;
}
.sprite_green_tick_two {
    width: 22px;
    height: 17px;
    background-position: -5px -581px;
}
.sprite_logo {
    width: 253px;
    height: 30px;
    background-position: -16px -2270px;
}
.sprite_logos {
    width: 513px;
    height: 118px;
    background-position: -5px -2310px;
}
.sprite_red_tick {
    width: 25px;
    height: 20px;
    background-position: -5px -2768px;
}
.sprite_banner_area_line {
    width: 444px;
    height: 8px;
    background-position: -5px -2968px;
}
.sprite_say_no_img {
    width: 490px;
    height: 161px;
    background-position: -5px -2986px;
}
.sprite_experience_pic_one {
    width: 105px;
    height: 105px;
    background-position: -5px -3157px;
}
.sprite_experience_pic_two {
    width: 105px;
    height: 105px;
    background-position: -5px -3272px;
}
.sprite_experience_pic_three {
    width: 105px;
    height: 105px;
    background-position: -5px -3387px;
}
.sprite_unlock_section_logo {
    width: 308px;
    height: 45px;
    background-position: -11px -3502px;
}
.step_one {
    width: 253px;
    height: 253px;
    background-position: -5px -3557px;
}
.step_two {
    width: 349px;
    height: 253px;
    background-position: -5px -3820px;
}
.step_three {
    width: 270px;
    height: 273px;
    background-position: -5px -4083px;
}
.grid_section {
    width: 1020px;
    margin: 0 auto;
}
ul.apps_section_list li {
    background: none;
    padding-left: 0px;
}
ul.apps_section_list li span {
    background: none;
    background-image: url(../images/spritesheet.png);
    width: 22px;
    height: 17px;
    background-position: -251px -37px;
    display: inline-block;
    margin: 0 10px 0 0;
}
ul.say_no_list li {
    background: none;
}
ul.say_no_list li span,
ul.say_no_list li i {
    display: inline-block;
    margin: 0 10px 0 0;
}
.unlock_section_text_three,
.unlock_section_text_five {
    background: none;
    padding-left: 0px;
}
.unlock_section_text_three i,
.unlock_section_text_five i {
    display: inline-block;
    float: left;
    margin-right: 10px;
}
ul.reality_secret_list li {
    background: none;
    padding: 0px;
}
ul.reality_secret_list li i {
    margin-right: 5px;
    margin-top: 5px;
}
ul.reality_secret_list li span {
    display: inline-block;
}
/*bottom-popup*/

#bottom_popup {
    background: #fff;
    box-shadow: 0 0 7px 2px #333;
    font-size: 15px;
    line-height: 20px;
    position: fixed;
    padding: 7px;
    max-width: 320px;
    height: 60px;
    z-index: 11111;
    left: 15px;
    bottom: -80px;
    overflow: hidden;
    text-align: left;
    bottom: 10px;
}
#bottom_popup span {
    text-transform: capitalize;
}
#bottom_popup a {
    color: #000;
}
.popup_image>img {
    padding-top: 6px;
    width: 72px;
}
.popup_image {
    float: left;
}
.grid_section {
    margin: 0 auto;
    width: inherit!important;
}
.terms_n_condition h1 {
    font-family: "Cambria, serif";
}
.terms_n_condition p {
    font-family: "Cambria, serif";
}
.no_top_space {
    padding-top: 0;
}
.no_space {
    top: 0;
}
.footer_popup_text p {
    font-family: "Cambria", sans-serif;
}