<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="content-language" content="en-us">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="css/app.css">
    <script async="" src="js/fbevents.js"></script>
    <script type="text/javascript">
        if (typeof console == 'undefined') {
            var console = {};
            console.log = function () {
            };
            console.debug = function () {
            };
            console.info = function () {
            };
        }
    </script>
    <meta name="viewport" content="width=640,user-scalable=no">
    <link href="css/checkout.css" rel="stylesheet" type="text/css">
    <link href="css/fonts.css" rel="stylesheet" type="text/css">
    <link href="css/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/popupwindow.css">
    <script type="text/javascript">
        function getDate(days) {
            var monthNames = new Array("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec");
            var now = new Date();
            now.setDate(now.getDate() + days);
            var nowString = monthNames[now.getMonth()] + " " + now.getDate() + ", " + now.getFullYear();
            document.write(nowString);
        }
    </script>
    <link rel="stylesheet" href="css/custom.css">

    <style>.border_one {
        border-top: 2px solid #eaeaea;
        margin: 4% auto 0;
        width: 100%;
    }

    .submit_button {
        background: none;
        outline: none;
        border: none;
    }</style>
    <script type="text/javascript" src="js/kanderianenterprises.jsp"></script>
</head>
<body cz-shortcut-listen="true">
<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq)return;
        n = f.fbq = function () {
            n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq)f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window,
            document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '1744859152461127');
    fbq('init', '1793809227571932');
    fbq('init', '1067893446610145');
    fbq('track', 'InitiateCheckout');
    fbq('init', '143249716143382');
</script>
<noscript>&lt;img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1793809227571932&amp;ev=PageView&amp;noscript=1"/&gt;</noscript>
<form method="post" action="" name="checkout_form" id="checkout_form" accept-charset="utf-8"
      enctype="application/x-www-form-urlencoded;charset=utf-8">
    <input type="hidden" name="limelight_charset" id="limelight_charset" value="utf-8">
    <div class="container">
        <center><img src="images/checkout_banner.jpg" class="full_image"></center>
        <div id="billing_banner">
            <center><img src="images/step_three.jpg" class="full_image"></center>
            <div class="form_heading">
                {% load humanize %}
                <img src="images/product_big_pic.png" class="total_info_wrap">
                <p class="item_details">VR <span>Shinecon</span></p>
                <p class="item_buy">{{ request.session.main_product.name }}</p>
                <ul class="price_box_two">
                    <li><strong>Subtotal</strong></li>
                    <li>
                        <span><strong>${{ request.session.main_product.price|floatformat:2|intcomma }}/each</strong></span>
                    </li>
                    <hr>
                    <li>Shipping &amp; Handling:</li>
                    <li>$0.00</li>
                </ul>
                <ul class="total_price">
                    <li>total</li>
                    <li>${{ request.session.main_product.total|floatformat:2|intcomma }}</li>
                </ul>
                <div class="clearall"></div>
            </div>
            <div class="step_heading">
                <img src="images/ship.png">
                <span>Step #3:</span> Billing Information
            </div>
            <div class="bill_from">
                <div class="togglediv">
                    <input type="checkbox" name="toglle" id="toggleaddress">
                    Click Here If Billing Is Different From Shipping.​
                </div>
                <div class="cardsdiv">We Accept : <img src="images/cards.jpg"></div>
                <input style="display:none;" type="radio" id="billingSameAsShipping-yes" name="billingSameAsShipping"
                       value="yes" checked="checked">
                <input style="display:none;" type="radio" id="billingSameAsShipping-no" name="billingSameAsShipping"
                       value="no">
                <div class="shipping_div billing_info" style="display:none;">
                    <div class="full_input_box">
                        <div class="icon_box"><img src="images/street.png"></div>
                        <input type="text" name="billingAddress1" placeholder="Billing Address" value=""
                               data-error-message="Please enter your billing address!">
                    </div>
                    <div class="full_input_box">
                        <div class="icon_box"><img src="images/city.png"></div>
                        <input type="text" name="billingCity" placeholder="Billing City" value=""
                               data-error-message="Please enter your billing city!">
                    </div>
                    <div class="full_input_box">
                        <div class="icon_box"><img src="images/state.png"></div>
                        <input type="text" name="billingState" placeholder="Billing State" data-selected=""
                               data-error-message="Please enter your billing state!">
                    </div>
                    <div class="full_input_box">
                        <div class="icon_box"><img src="images/country.png"></div>
                        <select name="billingCountry" data-selected=""
                                data-error-message="Please select your billing country!">
                            <option value="">Select Country</option>
                        </select>
                    </div>
                    <div class="full_input_box">
                        <div class="icon_box"><img src="images/zip.png"></div>
                        <input type="text" name="billingZip" placeholder="Billing Zip Code" value=""
                               data-error-message="Please enter a valid billing zip code!">
                    </div>
                </div>
                <select style="display:none;" name="creditCardType" class="required"
                        onchange="javascript:toggleCardType(this.value);" data-deselect="false"
                        data-error-message="Please select valid card type!">
                    <option value="">Card Type</option>
                    <option value="visa">Visa</option>
                    <option value="master">Master Card</option>
                    <option value="amex">American Express</option>
                    <option value="discover">Discover</option>
                </select>
                <div class="full_input_box">
                    <div class="icon_box"><img src="images/credit_card_icon.png"></div>
                    <input type="text" name="creditCardNumber" class="required  masked dashed_line" maxlength="19"
                           data-error-message="Please enter a valid credit card number!"
                           placeholder="____-____-____-____">
                </div>
                <div class="half_input_box">
                    <div class="icon_box"><img src="images/calender.png"></div>
                    <select name="expmonth" class="required select_month select"
                            data-error-message="Please select a valid expiry month!">
                        <option value="">Month</option>
                        <option value="01">(01) January</option>
                        <option value="02">(02) February</option>
                        <option value="03">(03) March</option>
                        <option value="04">(04) April</option>
                        <option value="05">(05) May</option>
                        <option value="06">(06) June</option>
                        <option value="07">(07) July</option>
                        <option value="08">(08) August</option>
                        <option value="09">(09) September</option>
                        <option value="10">(10) October</option>
                        <option value="11">(11) November</option>
                        <option value="12">(12) December</option>
                    </select>
                </div>
                <div class="half_input_box" style="margin-left:23px;">
                    <div class="icon_box"><img src="images/calender.png"></div>
                    <select name="expyear" class="required select_year select"
                            data-error-message="Please select a valid expiry year!">
                        <option value="">Year</option>
                        <option value="16">2016</option>
                        <option value="17">2017</option>
                        <option value="18">2018</option>
                        <option value="19">2019</option>
                        <option value="20">2020</option>
                        <option value="21">2021</option>
                        <option value="22">2022</option>
                        <option value="23">2023</option>
                        <option value="24">2024</option>
                        <option value="25">2025</option>
                        <option value="26">2026</option>
                        <option value="27">2027</option>
                        <option value="28">2028</option>
                        <option value="29">2029</option>
                        <option value="30">2030</option>
                        <option value="31">2031</option>
                        <option value="32">2032</option>
                        <option value="33">2033</option>
                        <option value="34">2034</option>
                        <option value="35">2035</option>
                    </select>
                </div>
                <div class="half_input_box">
                    <div class="icon_box"><img src="images/credit_card_icon.png"></div>
                    <input type="text" name="CVV" id="cvv" class="required" data-validate="cvv" maxlength="3"
                           data-error-message="Please enter a valid CVV code!">
                </div>
                <a href="javascript:void(0);" onclick="javascript:openNewWindow(&#39;cvv.html&#39;,&#39;modal&#39;);"
                   class="cvv" target="_self">Where can I find my CVC Code?</a>
                <button type="submit" class="submit_button">
                    <center><img src="images/complete_checkout_button.png" alt="" class="fixed_button proceed_button">
                    </center>
                </button>
            </div>
        </div>
    </div>
    <div class="clearall"></div>
    <footer>
        <center><img src="images/tag.jpg" alt="" class="full_image"></center>
        <p class="footer_text border_one">
            <a href="javascript:void(0);"
               onclick="javascript:openNewWindow(&#39;terms_and_conditions.html&#39;,&#39;modal&#39;);" target="_self">
                Terms &amp; Conditions</a> /
            <a href="javascript:void(0);"
               onclick="javascript:openNewWindow(&#39;return_policy.html&#39;,&#39;modal&#39;);">Refund Policy</a> /
            <a href="javascript:void(0);"
               onclick="javascript:openNewWindow(&#39;privacy_policy.html&#39;,&#39;modal&#39;);" target="_self">
                Privacy Policy</a> /
            <a href="javascript:void(0);" onclick="javascript:openNewWindow(&#39;contact_us.html&#39;,&#39;modal&#39;);"
               target="_self">
                Contact us</a><br>
            Copyright ©
            <script type="text/javascript">var year = new Date();
            document.write(year.getFullYear());</script>
            2016 VR Shinecon. All Rights Reserved.
        </p>
    </footer>
    <div id="pop_up_five" class="pop_up_display_content">
        <center><img src="images/cvv2-location.png"></center>
    </div>
    <input type="hidden" name="prospectId" value="1290">
    <input type="hidden" name="shippingId" value="1">
    <input type="hidden" name="productId" value="">
    <input type="hidden" name="productPrice" value="149.95">
    <input type="hidden" name="qty_prod" id="qty_prod" value="1">
</form>
<p id="loading-indicator" style="display:none;">Processing...</p>
<script src="js/jquery.min8.js"></script>
<script src="js/custom.js"></script>

<link href="css/jquery-ui-1.8.13.custom.css"
      rel="stylesheet" type="text/css"/>
<script src="js/jquery-ui-1.8.13.custom.min.js"></script>
<script src="js/jquery.validate115.min.js"></script>
<script src="js/jquery.validate.wrapper.js"></script>

<script type="text/javascript">
    var rules = {
        creditCardType: {
            required: true
        },
        creditCardNumber: {
            required: true,
            number: true,
            minlength: 12
        },
        expmonth: {
            required: true,
            number: true

        },
        expyear: {
            required: true,
            number: true

        },
        CVV: {
            required: true,
            number: true,
            minlength: 3,
            maxlength: 3

        }
    };
    var messages = {
        creditCardType: {
            required: "Card type Is required"
        },
        creditCardNumber: {
            required: "Card number Is required"
        },
        expmonth: {
            required: "exp month is required"
        },
        expyear: {
            required: "exp. year is required"
        },
        CVV: {
            required: "CVV is required"
        }

    };

    var validator = new jQueryValidatorWrapper("checkout_form", rules, messages);
    console.log(validator, rules, messages);

    $(".submit_button").click(function () {
        var card_number = $('input[name=creditCardNumber]').val();
        var guessed_card_type = GetCardType(card_number);
        if (guessed_card_type) {
            $('select[name=creditCardType]').val(guessed_card_type);
        }
        if (!validator.validate())
            return;
    });

    /**
     * @return {string}
     */
    function GetCardType(number) {
        // visa
        var re = new RegExp("^4");
        if (number.match(re) != null)
            return "visa";

        // Mastercard
        re = new RegExp("^5[1-5]");
        if (number.match(re) != null)
            return "mastercard";


        // Discover
        re = new RegExp("^(6011|622(12[6-9]|1[3-9][0-9]|[2-8][0-9]{2}|9[0-1][0-9]|92[0-5]|64[4-9])|65)");
        if (number.match(re) != null)
            return "discover";


        return "";
    }

</script>

<script type="text/javascript">
    $(document).ready(function (e) {
        $('#toggleaddress').click(function (e) {
            $('.shipping_div').slideToggle();
        });

        //JS FOR WHATS THIS POPUP
        $('#open-pop_up_five').click(function (e) {
            e.preventDefault();
            $('#pop_up_five').popUpWindow({
                action: "open",
                modal: true,
                onClose: function () {
                    //alert('Window Closed');
                },
                buttons: [{
                    text: "Yes",
                    click: function () {
                        alert('Yes clicked');
                        this.close();
                    }
                }]
            });
        });
    });

    $(document).on('click', '#toggleaddress', function () {
        if ($(this).is(':checked')) {
            // alert("checked")
            $('#billingSameAsShipping-no').click();
        } else {

            $('#billingSameAsShipping-yes').click();
        }


    });
</script>
<script type="text/javascript">
    var usi_installed = 0;
    function USI_installCode() {
        if (usi_installed == 0) {
            usi_installed = 1;
            var USI_headID = document.getElementsByTagName("head")[0];
            var USI_installID = document.createElement('script');
            USI_installID.type = 'text/javascript';
            USI_installID.src = '//www.upsellit.com/active/kanderianenterprises.jsp';
            USI_headID.appendChild(USI_installID);
        }
    }
    if (window.addEventListener) {
        window.addEventListener('load', USI_installCode, true);
    } else if (window.attachEvent) {
        window.attachEvent('onload', USI_installCode);
    } else {
        USI_installCode();
    }
    setTimeout("USI_installCode()", 10000);
</script>
</body>
</html>