{% extends "base.html" %}
{% block content %}
    <div id="sidepanel">
        <div class="inner visible-xs">
            <header>
                <img class="img-responsive" src="/static/images/guidepage/logo.png" alt="logo"><span
                    class="exit pull-right glyphicon glyphicon-chevron-right"></span>
            </header>
            <div class="menu">
                <div class="social">
                    <ul class="text-right">
                        <li class="item">
                            <a class="sub-item transition" href="" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="item">
                            <a class="sub-item transition" href="" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="item">
                            <a class="sub-item transition" href="" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <header class="header navbar-fixed-top">
        <div class="navbar-header visible-xs">
            <!-- Mobile Menu Start -->
            <div class="wrapper">
                <div class="col-xs-8 visible-xs">
                    <a class="logo" href="#">
                        <img class="img-responsive logoimg" src="/static/images/guidepage/logo.png" alt="logo">
                    </a>
                </div>
                <div class="col-xs-4">
                    <button type="button" class="mobile-menu navbar-toggle visible-xs" data-toggle="collapse"
                            data-target="sidepanel">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div>

            <!-- Mobile Menu End -->
        </div>

        <!-- Desktop View -->

        <div class="desktop-logo-wrap hidden-xs">
            <font color="lightgray" size="4">
                <div align="center">Advertisement</div>
            </font>
            <div class="container">
                <div class="row">
                    <div class="logo-brand-wrap text-left col-sm-2 col-md-2">
                        <a class="logo-brand" href="#">
                            <img src="/static/images/guidepage/logo.png" alt="logo">
                        </a>
                    </div>
                    <div class="col-md-10">
                        <div class="social">
                            <ul class="text-right">
                                <li class="item">
                                    <a class="sub-item transition" href="#" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="item">
                                    <a class="sub-item transition" href="#" target="_blank">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="item">
                                    <a class="sub-item transition" href="#" target="_blank">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="wrapper" style="padding-top: 130px;">
        <section class="top-wrap">
            <div class="container">
                <div class="row">
                    <article class="title col-md-12">
                        <h1>With A Rise In Domestic Terrorism, Americans Are Turning To A Better Solution To Protect
                            Themselves</h1>
                    </article>
                    <article class="content-wrap col-md-12"><font color="gray" size="3">
                        <div align="right">EagleEye EE-800</div>
                    </font>
                        <img class="img-responsive" src="/static/images/guidepage/img-01.jpg" alt="Image">

                        <p>
                            With the rise of domestic terrorism and stricter gun laws to contend with, Americans are
                            searching for better ways to protect themselves and their families against crime.
                            <br>
                            <br>
                            The solution? Tactical shineconvrkits. These are becoming such popular self-defense tools in
                            the wake of recent terror events that some companies like <a href="{% url 'video' %}">EagleEye
                            EE-800Tactical shineconvrkits</a> can't keep up with demand.
                            <br>
                            <br>
                            <i>"We had to open up a second factory just to keep up with the massive amounts of orders
                                coming in."</i>
                            <br>
                            <br>
                            The <a href="{% url 'video' %}">EagleEye EE-800Tactical shineconvrkit</a> is currently the most
                            popular tactical shineconvrkit of choice for most Americans due to it's powerfully disorienting
                            "strobe mode" that allows the user to flash a blinding strobe light into the attackers eyes,
                            leaving them "disoriented beyond belief."</p>


                        <h3>How effective are tactical shineconvrkits, really?</h3>
                        <br>

                        <p>If you've ever had someone take a picture of you at night with the flash on, you'll know how
                            it takes a minute or two for your eyes to re-adjust. Now imagine that flash is 100x brighter
                            and is strobing directly into your eyes. You wouldn't be able to see a thing, and would most
                            likely lose your sense of balance. </p><br>

                        <p>That's what you get with a tactical shineconvrkit like the <a href="{% url 'video' %}">EagleEye
                            EE-800Tactical shineconvrkit</a>. The strobe feature is designed to ruin an attacker's eye
                            sight, so they can't see what they're doing, letting you safely run away- or if need be,
                            gain the advantage and attack them.</p><br>

                        <p>The truth is, most people underestimate the importance of owning a tactical shineconvrkit.
                            Whether you're walking alone at night, driving somewhere and break down, or just want a
                            light bright enough to deter animals while you're camping, tactical shineconvrkits are so
                            bright they give you the advantage.</p><br>
                        <p>Not to mention if you're in an emergency situation, what better way to call attention to
                            yourself than with a powerful light that can be seen for up to 2 miles away!</p><br>

                        <p>Tactical shineconvrkits like the <a href="{% url 'video' %}">EagleEye EE-800Tactical
                            shineconvrkit</a>
                            are used by the U.S. Navy Seals, the Coast Guard, Firemen, Policemen, U.S. Search and Rescue
                            and now American citizens.</p><br>

                        <p><i>"In times like these, it's more important than ever for Americans to be prepared for
                            anything, and this shineconvrkit is one of the best pieces of gear to have as it can be used in
                            almost every situation, from self defense to finding your dog at night..."</i></p>
                    </article>
                </div>
            </div>
        </section>
        <section class="bottom-wrap">
            <div class="container">
                <div class="row">
                    <article class="travel-companion col-md-5">
                        <h4>We Tried The EagleEye EE-800Tactical shineconvrkits To See For Ourselves:</h4>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 item">
                                <a class="sub-item" href="{% url 'video' %}" data-toggle="modal" data-target="#01"
                                   role="button">
                                    <img class="img-responsive full-width"
                                         src="/static/images/guidepage/travel-x800-1.jpg"
                                         alt="Flash Light">
                                </a>
                            </div>
                            <div class="col-md-6 item">
                                <a class="sub-item" href="{% url 'video' %}" data-toggle="modal" data-target="#02"
                                   role="button">
                                    <img class="img-responsive full-width"
                                         src="/static/images/guidepage/travel-x800-2.jpg"
                                         alt="Case">
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 item">
                                <a class="sub-item" href="{% url 'video' %}" data-toggle="modal" data-target="#03"
                                   role="button">
                                    <img class="img-responsive full-width"
                                         src="/static/images/guidepage/travel-x800-3.jpg"
                                         alt="Case">
                                </a>
                            </div>
                            <div class="col-md-6 item">
                                <a class="sub-item" href="{% url 'video' %}" data-toggle="modal" data-target="#04"
                                   role="button">
                                    <img class="img-responsive full-width"
                                         src="/static/images/guidepage/travel-x800-4.jpg"
                                         alt="Flash Light">
                                </a>
                            </div>
                        </div>
                    </article>

                    <article class="col-md-1"></article>

                    <article class="testimonial-wrap col-md-6">
                        <h4>Our Review:</h4>
                        <hr>
                        <div class="item media">

                            <div class="media-body">
                                <p><em>Upon receiving <strong>4 <a href="{% url 'video' %}">EagleEye EE-800Tactical
                                    shineconvrkits</a></strong>, we could already tell by it's packaging that these was a
                                    serious lights. They came in protective cases similar to a handgun. The light itself
                                    is small and sleek, with various zoom settings and the coveted "strobe mode" and
                                    "SOS" that every one loves. <br><br>After putting in the batteries and trying them
                                    out, it's clear that these are the brightest shineconvrkits we've ever held. And after
                                    turning on the strobe mode for 5 seconds we had to turn it off because it was
                                    incredibly disorienting. <br><br>After playing with the light for just 5 minutes,
                                    it's obvious why so many people are buying these. This is clearly a tool you can and
                                    should take with you everywhere.<br><br><strong>This is not a light you want to be
                                        caught on the receiving end of!</strong> </em></p>
                            </div>
                        </div>
                        <hr>
                    </article>
                </div>
                <div class="row">
                    <article class="col-md-10 col-md-offset-1">
                        <div class="embed-responsive embed-responsive-16by9" style="margin-bottom:70px;">
                            <iframe class="embed-responsive-item" width="853" height="480"
                                    src="https://www.youtube.com/embed/wlZqWbi_RFg?rel=0&showinfo=0" frameborder="0"
                                    allowfullscreen=""></iframe>

                        </div>
                    </article>
                </div>
                <div class="row">
                    <article class="availability-wrap">
                        <p><strong>These tactical shineconvrkits are selling for 75% off their normal price! So it's a good
                            time to get them at a discounted price.</strong> If you want to make sure you and your loved
                            ones are always prepared for the worst, this shineconvrkit is a great start. It has our vote so
                            much that we made sure everyone on our staff had at least 4.</p><br>
                        <a href="{% url 'video' %}" class="default-btn transition">Check Availability <i
                                class="fa fa-long-arrow-right"></i></a>
                    </article>
                </div>
            </div>
        </section>
    </main>
    <br><br><br>
    <footer class="footer-wrap">
        <div class="container">
            <div class="col-md-12">

                <p>
                    THIS IS AN ADVERTISEMENT AND NOT AN ACTUAL NEWS ARTICLE, BLOG, OR CONSUMER PROTECTION UPDATE.
                </p>

                <p>
                    THE STORY DEPICTED ON THIS SITE AND THE PERSON DEPICTED IN THE STORY ARE NOT ACTUAL NEWS. RATHER,
                    THIS STORY IS BASED ON THE RESULTS THAT SOME PEOPLE WHO HAVE USED THESE PRODUCTS HAVE ACHIEVED. THE
                    RESULTS PORTRAYED IN THE STORY AND IN THE COMMENTS ARE ILLUSTRATIVE, AND MAY NOT BE THE RESULTS THAT
                    YOU ACHIEVE WITH THESE PRODUCTS. THIS PAGE COULD RECEIVE COMPENSATION FOR CLICKS ON OR PURCHASE OF
                    PRODUCTS FEATURED ON THIS SITE.
                </p><br>
                <p align="center">
                    {% include 'blocks/footer-links.html' %}
                </p>


            </div>
        </div>
    </footer>
{% endblock %}
