{% extends "base.html" %}
{% block extracss %}
    <link href="/static/css/lander.css?v=1.0" media="screen" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style_thankyou.css">
{% endblock %}
{% block content %}
    <div class="containerWrapper">


        <div class="site_logo">
            <img src="/static/images/logo_birds_new.png" id="logo_birds">
        </div>


        <div class="midWideContainer">
            <div class="containerInner ui-sortable">

                <div class="row section1">
                    <div class="col-md-12 col-full innerContent">
                        <div class="col-inner">

                            <div class="HeadlineWrapper1">
                                <div class="Headline1">THANK YOU FOR GRABBING
                                    <br>YOUR Eagle Eye shineconvrkit
                                    <br>
                                </div>
                            </div>

                            <div class="HeadlineWrapper2">
                                <div class="Headline2">Please SAVE This Page... Tons Of Cool Bonuses For You Below!
                                    <br>(Take Some Time So You Don't Miss Any Of Them!)
                                    <br>
                                    <br>
                                </div>
                            </div>

                        </div>
                    </div>
{#                    <div class="offerimage">#}
{#                        <a href="{% url 'home' %}"><img src="/static/images/lindonfarms-banner-ty.jpg"#}
{#                                                        alt="Lindon Farms - Save 50% Instantly!">#}
{#                        </a>#}
{#                    </div>#}
                </div>

                <div class="row section2">
                    <div class="col-md-12 col-full innerContent">
                        <div class="col-inner">
                            <div class="HeadlineWrapper">
                                <div class="Headline"><b>Step #1 - View Your Product Receipt Below:<br></b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row section3">
                    <div class="col-md-12 col-full innerContent">
                        <div class="col-inner">


                            <div class="HeadlineWrapper">
                                <div class="Headline">Note: Your Eagle Eye Tactical shineconvrkit will send within 5-7
                                    Business Days, you'll receive shipping confirmation with a tracking number via UPS
                                    once your shipment leaves our warehouse.
                                    <br>
                                </div>
                            </div>


                            <div class="ProductOptionsWrapper">
                                <div class="cart-box">
                                    <div class="clearfix OrderProductOptinLabel">
                                        <div class="OrderProductOptinItem">Product</div>
                                        <div class="OrderProductOptinLabelPrice">Price</div>
                                    </div>
                                    {% for line in order %}
                                        {% if line.product.name %}
                                            <div class="clearfix OrderProductOptinProducts">


                                                <div class="OrderProductOptinProductName">
                                                    <div class="occProductName">{{ line.product.name }}</div>
                                                </div>
                                                <div class="OrderProductOptinPrice">{{ line.total }}$</div>


                                            </div>{% endif %}{% endfor %}
                                    <div class="OrderProductOptinProductstotal">
                                        <div class="lefttotal">
                                            <div class="occProductName" data-cf-product-name="true"><strong>Order
                                                Total</strong>
                                            </div>
                                        </div>
                                        <div class="OrderProductOptinPrice" data-cf-product-price="true">
                                            <strong>{{ total }}$</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="contactOptionsWrapper clearfix">
                                <div class="Headline">If You Have Any Issues With Your Order - Please Contact Support
                                    (888) 550-7016
                                </div>
                            </div>


                            <div class="row hiddneline">
                                <div class="col-md-12 innerContent">
                                    <div class="col-inner"></div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>


            <div class="row contactusheading">
                <div class="col-md-12 innerContent">
                    <div class="col-inner">
                        <div class="HeadlineWrapper">
                            <div class="Headline"><b>Contact Us</b>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row contactusdescription">
                <div class="col-md-12 innerContent">
                    <div class="col-inner">
                        <div class="FeatureImage">
                            <div class="Screenshot_text">
                                <div class="Screenshot_text_padding">
                                    <h3 class="Screenshot_text_headline">Contact Us<br></h3>
                                    <div class="Screenshot_text_body">We've sent you a statement showing your
                                        confirmation on the targets to your email address. If you don't see it, make
                                        sure to also check your spam folder.
                                        <br>
                                        <br>Your purchase will appear on your bank statement with the name: "Eagle Eye
                                        shineconvrkits"
                                        <br>
                                        <br>If you have any questions or concerns please feel free to contact our office
                                        at (888) 550-7016 (Toll-Free) or email us direct at <a class="__cf_email__" href="mailto:">Eagle
                                            Eye Tactical shineconvrkits</a>
                                    </div>
                                </div>
                            </div>
                            <div class="Screenshot_image">
                                <img src="/static/images/seal1.png" class="Screenshot_image_src1" height="auto"
                                     width="auto">
                            </div>
                        </div>
                        <div class="CustomHTML">
                            <div class="HTMLBlock">
                                <iframe src="" scrolling="no" frameborder="0" height="1" width="1"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>

    <div class="footercontainer">
        <div class="containerInner ui-sortable">

            <div class="row">
                <div class="col-md-12 innerContent col_left">
                    <div class="col-inner">
                        <div class="HeadlineWrapper">
                            <div class="Headline">
                                <b>Eagle Eye shineconvrkits</b> - All Rights Reserve - Copyright @ 2014
                                <br>
                                {% include 'blocks/footer-links.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}
